<footer id="footer"
    class="stelace-footer"
    data-sip-ux-event=".footer__link"
    data-ux-event-name="Footer click">
    <hr class="no-margin-top">
    <div class="padding">
        <!-- <div class="pull-top"
            ng-if="::vm.footerTestimonials"
            data-stelace-testimonials
            data-footer="true">
        </div> -->
        <div id="footer-internal-links" class="internal-links text-center">
            <ul class="margin-top grid-block desktop-9 desktop-offset-2 small-up-1 s-medium-up-3 s-medium-text-left">
                <li>
                    <a class="footer__link" ui-sref="home"
                        data-translate="navigation.home"></a>
                </li>
                <li>
                    <a class="footer__link" ui-sref="help"
                        data-translate="navigation.faq"></a>
                </li>
                <li>
                    <a class="footer__link" ui-sref="listingCreate"
                        data-translate="navigation.new_listing"></a>
                </li>
                <li>
                    <a class="footer__link" ui-sref="contact"
                        data-translate="navigation.contact_us"></a>
                </li>
                <li>
                    <a class="footer__link" ui-sref="terms"
                        data-translate="navigation.terms"></a>
                </li>
            </ul>
        </div>
        <div class="stelace-footer__partners">
            <div class="fluid-content">
                <div class="flex-container flex--center">
                    <!-- <div class="stelace-footer__partner-image">
                    </div> -->
                </div>
            </div>
        </div>
        <div id="footer-external-links" class="text-center stelace-footer__soc margin-top"
            itemscope
            itemtype="http://schema.org/Organization">
            <p class="text-center text--semibold"
                ng-show="config.twitter_username || config.facebook_url || config.googleplus_url || config.instagram_username">
                <span data-translate="social.join_us"></span>
            </p>
            <div class="flex-container flex--center flex--wrap">
                <a class="footer__link" target="_blank"
                    ng-href="{{'https://twitter.com/' + config.twitter_username.toLowerCase()}}"
                    itemprop="sameAs" ng-if="config.twitter_username">
                    <svg class="icon">
                        <use xlink:href="/assets/build/icons/sprite.svg#cui-circle"/>
                    </svg>
                </a>
                <a class="footer__link" ng-href="{{config.facebook_url}}" target="_blank"
                    itemprop="sameAs" ng-if="config.facebook_url">
                    <svg class="icon">
                        <use xlink:href="/assets/build/icons/sprite.svg#face-circled"/>
                    </svg>
                </a>
                <a class="footer__link" ng-href="{{config.googleplus_url}}" rel="publisher" target="_blank"
                    itemprop="sameAs" ng-if="config.googleplus_url">
                    <svg class="icon">
                        <use xlink:href="/assets/build/icons/sprite.svg#g-pl-circled"/>
                    </svg>
                </a>
                <a class="footer__link" target="_blank"
                    ng-href="{{'https://www.instagram.com/' + config.instagram_username.toLowerCase()}}"
                    itemprop="sameAs" ng-if="config.instagram_username">
                    <svg class="icon">
                        <use xlink:href="/assets/build/icons/sprite.svg#instgm-circled"/>
                    </svg>
                </a>
            </div>
            <link itemprop="url" href="{{config.website__url}}">
            <link itemprop="logo" href="{{config.logo__url}}">
        </div>
    </div>
    <p class="stelace-footer__attribution text-center padding">
        <span data-translate="stelace.powered_by"></span>
        <strong>
            <a ng-href="{{'https://stelace.com/' + (config.website__url ? '?utm_campaign=powered-by&utm_medium=galaxy&utm_content=footer' : '')}}"
            data-translate-attr="{ title: 'stelace.smart_marketplace' }" data-translate="stelace.name"></a>
        </strong>
    </p>
</footer>
