<div ng-click="parameter.parent.vm.toggleDetailBox(parameter.parent.vm.listingBox.originatorId, 'listingBox', 'close', $event);" ng-switch="parameter.parent.vm.isOwner">
    <!-- Must apply only close on click event to allow opening -->
    <div class="stelace-listing__image">
        <sip-img ng-src="{{parameter.parent.vm.listing.url + '?size=800x600'}}" type="background"></sip-img>
    </div>
    <div class="stelace-listing__journeys flex-container flex--column flex--space" ng-switch-default>
        <div class="text--semibold text-center" ng-if="parameter.data.journeys"
            data-translate="places.from_search_locations_title">
        </div>
        <!-- limitTo 4 locations in case a user exceptionally has more locations -->
        <div class="flex-container flex--align-center" ng-repeat="journey in parameter.data.journeys | limitTo: 4">
            <div class="flex-item--grow location-name ellipsis text--semibold text-left">
                {{journey.fromLocationAlias}}
            </div>
            <div class="flex-item--grow text-left">
                <svg class="icon">
                    <use xlink:href="/assets/build/icons/sprite.svg#transport-car"/>
                </svg>
                &nbsp;{{journey.durationString}}
            </div>
        </div>
        <div class="cta text-center"
            ng-if="! parameter.data.journeys || (parameter.data.journeys && parameter.data.journeys.length < 3)"
            ng-click="parameter.parent.vm.myLocationCta()">
            <span class="text--semibold link--blue-underline" data-translate="user.account.my_locations_helper"></span>
        </div>
    </div>
    <div class="stelace-listing__locations text-center" ng-switch-when="true">
        <!-- limitTo 4 locations in case a user exceptionally has more locations -->
        <div ng-repeat="location in parameter.parent.vm.ownerLocationAliases | limitTo: 4">
            <span class="location-name">
                {{location}}
            </span>
        </div>
        <div class="fluid-width cta">
            <a ui-sref="editListing({ id: parameter.parent.vm.listing.id })" class="link--blue-underline text--semibold"
                data-translate="listing.edition.locations_label"></a>
        </div>
    </div>
</div>
