// CONTENT
$color-body-bg: $stl-color-body-background;
$color-text: $stl-color-font;
$color-heading-text: $stl-color-font;

// LINKS
$color-link-text: $stl-color-primary;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: $stl-color-font-light;

// BUTTONS
$color-button-bg: $stl-color-primary;
$color-button-disabled-bg: $stl-color-grey-light;
$color-button-text: $stl-color-white;
