.book__prices {
    width: 100%;

    @media #{$mq-mobile} {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    margin-bottom: 0.5rem;

    tr {
        border-top: 1px solid $stl-color-border;

        &:first-child {
            border-top: 0;
        }
    }

    td {
        padding: 0.5rem;

        &.discount {
            color: $stl-color-success;
            font-weight: bold;
        }
    }
}
