.step-icons {
    h3.step__label {
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 0;
    }
    p {
        font-size: 0.925rem;
    }
    .icon {
        width: 3rem;
        height: 3rem;
        fill: currentColor;
    }
}
