$sticky-buttton-height: 3rem;
$sticky-buttton-hspace: 5%;
.button.sticky-button {
    display: none;
    height: $sticky-buttton-height;
    width: 100% - 2 * $sticky-buttton-hspace;
    position: fixed;
    right: 5%;
    bottom: 2rem;
    left: 5%;
    z-index: 100;

    &.show-cta {
        display: block;
    }
}
