<!-- For public listing-cards, do not forget to define product itemscope and itemtype on directive element, with optional itemprop -->
<a class="listing-grid__listing-container"
    ui-sref="listing({ slug: vm.listing.nameURLSafe + '-' + vm.listing.id})"
    itemprop="url">
    <!-- For use of mainEntity see http://www.seoskeptic.com/how-to-use-schema-org-v2-0s-mainentityofpage-property/ -->
    <div class="listing-grid__listing flex-container listing-grid__listing--highlight">
        <div class="listing-grid__image-container">
            <div class="ar-content">
                <img class="img--cover-vertical"
                    alt="{{::vm.listing.name}}"
                    ng-src="{{::vm.listing.urlPlaceholder}}"
                    data-lazy-img="{{::vm.listing.url + '?size=450x300'}}"
                    itemprop="image">
            </div>
            <!-- <div class="listing-grid__owner profile__image"
                ng-hide="vm.hideOwnerImage">
                <sip-img class="webkit-render-fix" ng-src="{{::vm.listing.ownerMedia.url + '?size=128x128'}}" alt="Photo du propriétaire" rounded="true"></sip-img>
            </div> -->
        </div>
        <div class="listing-grid__description flex-item--grow-auto flex-container"
            ng-switch="displayDuration">
            <h3 class="no-margin listing-name ellipsis flex-item--grow"
                itemprop="name">
                {{::vm.listing.name}}
            </h3>
            <div itemprop="offers"
                itemscope
                itemtype="http://schema.org/Offer">
                <div class="listing-grid__price">
                    <span ng-switch="vm.listing.listingTypesProperties.TIME.TIME_FLEXIBLE">
                        <span ng-switch-when="true">
                            <span data-translate="pricing.price_with_currency_per_unit_time_short"
                                data-translate-values="{ price: vm.listing.timeUnitPrice, timeUnit: vm.listing.listingTypeConfig.bookingTime.timeUnit }"
                            >
                            </span>
                        </span>
                        <span ng-switch-default>
                            <span data-translate="pricing.price_with_currency"
                                data-translate-values="{ price: vm.listing.sellingPrice }"
                            >
                            </span>
                        </span>
                    </span>
                </div>
                <div class="listing-grid__rating small"
                    ng-if="::vm.listing.nbRatings"
                    data-user-score="{{::vm.listing.ownerRating.ratingScore}}"
                    data-user-ratings="{{::vm.listing.ownerRating.nbRatings}}"
                    data-listing-score="{{::vm.listing.ratingScore}}"
                    data-listing-ratings="{{::vm.listing.nbRatings}}"
                    data-append-to-body="true"
                    data-sip-rating-stars>
                </div>
                <p class="ellipsis listing-grid__place"
                    ng-switch-when="true">
                    <span itemprop="availableAtOrFrom"
                        itemscope
                        itemtype="http://schema.org/Place">
                    <span
                        itemprop="geo"
                        itemscope
                        itemtype="http://schema.org/GeoCoordinates">
                        <meta itemprop="latitude" content="{{::vm.locationCoords.latitude}}">
                        <meta itemprop="longitude" content="{{::vm.locationCoords.longitude}}">
                    </span>
                    <span ng-if="vm.durationString">
                        <span>{{::vm.durationString}} </span>
                        <span data-translate="location.from_distance_separator"></span>
                    </span>
                    <span class=""
                        itemprop="address"
                    itemscope
                    itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressLocality" content="{{::vm.locationCity}}">
                    <meta itemprop="addressCountry" content="France">
                    {{::vm.closestLocationShortName}}
                    </span>
                    </span>
                </p>
                <p class="ellipsis listing-grid__place"
                    ng-switch-default>
                    <span itemprop="availableAtOrFrom"
                        itemscope
                        itemtype="http://schema.org/Place">
                        <span itemprop="address"
                            itemscope
                            itemtype="http://schema.org/PostalAddress">
                            <span itemprop="addressLocality">
                                {{::vm.locationCity}}
                            </span>
                            {{::vm.locationRegion ? ", " : ""}}
                            <span itemprop="addressRegion">
                                {{::vm.locationRegion}}
                            </span>
                        </span>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <meta itemprop="position" content="{{::vm.position}}"
        ng-if="::vm.position">
</a>
