<div class="listing-grid__listing-container listing-grid__my-listing-card"
    ui-sref="editListing({ id: vm.listing.id })">
<div class="listing-grid__listing flex-container listing-grid__listing--highlight">
        <div class="listing-grid__image-container">
        <div class="ar-content">
            <div class="my-listing-card__pause-overlay"
                ng-if="vm.listingPaused && vm.listing.quantity"
                ng-click="vm.togglePauseListing($event)"
                data-translate-attr="{ title: 'listing.paused_until_tooltip' }"
                data-translate-values="{ paused_until_date: (vm.listingPaused && vm.listing.pausedUntil) || undefined }">
                <svg class="icon">
                    <use xlink:href="/assets/build/icons/sprite.svg#play"/>
                </svg>
                <span data-translate="listing.paused"></span>
                <span ng-show="vm.daysPaused">
                    (J-{{ vm.daysPaused }})
                </span>
            </div>
            <div class="my-listing-card__pause-overlay"
                ng-if="!vm.listing.quantity && vm.listing.listingTypesProperties.TIME.NONE">
                <svg class="icon">
                    <use xlink:href="/assets/build/icons/sprite.svg#check-mark"/>
                </svg>
                <span data-translate="listing.notification.sold"></span>
            </div>
            <div class="my-listing-card__pause-overlay"
                ng-if="! vm.listingPaused && vm.listing.quantity && vm.listingLocked">
                <svg class="icon">
                    <use xlink:href="/assets/build/icons/sprite.svg#x"/>
                </svg>
                <span data-translate="listing.notification.deactivated_success_message"></span>
            </div>
            <img class="img--cover-vertical listing-grid__image" ng-src="{{::vm.listing.url + '?size=450x300'}}"  alt="{{::vm.imageAlt}}">
        </div>
    </div>
    <div class="listing-grid__description flex-item--grow-auto"
        ng-class="{ 'my-listing-card--paused': vm.listingPaused || !vm.listing.quantity }">
        <h3 class="no-margin listing-name ellipsis"
            itemprop="name">
            {{::vm.listing.name}}
        </h3>
        <div class="listing-grid__price my-listing-card__price">
            <span ng-switch="vm.listing.listingTypesProperties.TIME.TIME_FLEXIBLE">
                <span ng-switch-when="true">
                    <span data-translate="pricing.price_with_currency_per_unit_time_short"
                        data-translate-values="{ price: vm.listing.timeUnitPrice, timeUnit: vm.listing.listingTypeConfig.bookingTime.timeUnit }"
                    >
                    </span>
                </span>
                <span ng-switch-default>
                    <span data-translate="pricing.price_with_currency"
                        data-translate-values="{ price: vm.listing.sellingPrice }"
                    >
                    </span>
                </span>
            </span>
        </div>
        <div class="my-listing-card__stats-container">
            <div class="listing-grid__rating small"
                ng-if="::vm.listing.nbRatings"
                data-user-score="{{::vm.listing.ownerRating.ratingScore}}"
                data-user-ratings="{{::vm.listing.ownerRating.nbRatings}}"
                data-listing-score="{{::vm.listing.ratingScore}}"
                data-listing-ratings="{{::vm.listing.nbRatings}}"
                data-append-to-body="true"
                data-sip-rating-stars>
            </div>
            <div class="ellipsis my-listing-card__stats"
                ng-class="{ 'content--invisible': ! vm.showStats }">
                <span ng-click="$event.stopPropagation()"
                    ui-sref="listing({ slug: vm.listing.nameURLSafe + '-' + vm.listing.id })"
                    data-tooltip-placement="auto top"
                    data-tooltip-trigger="mouseenter"
                    uib-tooltip="{{vm.nbViewsTooltip}}"
                    data-tooltip-append-to-body="true">
                    <svg class="icon icon--inline">
                        <use xlink:href="/assets/build/icons/sprite.svg#eye-open"/>
                    </svg>
                    {{::vm.listing.nbViews}}
                </span>
                <span
                    data-tooltip-placement="auto top"
                    data-tooltip-trigger="mouseenter"
                    uib-tooltip="{{vm.nbContactsTooltip}}"
                    data-tooltip-append-to-body="true">
                    <svg class="icon icon--inline">
                        <use xlink:href="/assets/build/icons/sprite.svg#chat-bubble-two"/>
                    </svg>
                    {{vm.nbContacts}}
                </span>
            </div>
        </div>
        <p class="ellipsis my-listing-card__control"
            ng-class="{ 'control-pending': vm.controlPending }">
            <!-- relative positionning makes IE11 buggy -->
            <span>
                <span class="text-control"
                    tabindex="0"
                    data-sip-action-key
                    data-sip-autoblur
                    ng-click="vm.deleteListing($event)"
                    data-translate-attr="{ title: 'listing.remove_tooltip' }">
                    <svg class="icon icon--inline">
                        <use xlink:href="/assets/build/icons/sprite.svg#trash"/>
                    </svg>
                </span>
                <span class="text-control__label" data-translate="listing.remove_action">
                </span>
            </span>
            <span ng-hide="!vm.listing.quantity">
                <span class="text-control"
                    tabindex="0"
                    data-sip-action-key
                    data-sip-autoblur
                    ng-click="vm.togglePauseListing($event)"
                    data-translate-attr="{ title: 'listing.pause_tooltip' }">
                    <svg class="icon icon--inline">
                        <use xlink:href="{{ vm.pauseIcon }}"/>
                    </svg>
                </span>
                <span class="text-control__label" data-translate="{{vm.pauseActionKey}}">
                </span>
            </span>
            <span class="text-control__label text-control__spinner"
                ng-if="vm.controlSpinnerId">
                <span class="spinner-container">
                    <span data-us-spinner="{scale: 0.5}" data-spinner-theme="fiveColors"
                    data-spinner-key="{{vm.controlSpinnerId}}"></span>
                </span>
            </span>
        </p>
    </div>
</div>
</div>
