<table class="book__prices text--small">
    <tbody>
        <tr ng-if="!dependDuration">
            <td>
                {{dayOnePrice}}€ × {{nbTimeUnits + " jour" + (nbTimeUnits > 1 ? "s" : "")}} de location
            </td>
            <td>{{fullPrice}}€</td>
        </tr>
        <tr ng-if="dependDuration">
            <td>Prix de vente</td>
            <td>{{fullPrice}}€</td>
        </tr>
        <tr ng-if="discount">
            <td>Réduction</td>
            <td class="discount">
                {{- discount}}€
            </td>
        </tr>
        <tr ng-if="durationDiscount">
            <td>
                Réduction {{nbTimeUnits}} jour{{nbTimeUnits > 1 ? 's' : ''}} ({{- durationDiscountRate}}%)
                <span class="badge tooltip-badge"
                    data-tooltip-placement="left"
                    data-tooltip-trigger="mouseenter outsideClick"
                    uib-tooltip="Vous économisez {{durationDiscount}}€ sur une réservation de {{nbTimeUnits}} jour{{nbTimeUnits > 1 ? 's' : ''}}">
                    ?
                </span>
            </td>
            <td class="discount">
                {{- durationDiscount}}€
            </td>
        </tr>
        <tr>
            <td>
                Frais de réservation
                <span class="badge tooltip-badge"
                    data-tooltip-placement="left"
                    data-tooltip-trigger="mouseenter outsideClick"
                    uib-tooltip="{{takerFeesStr}}">
                    ?
                </span>
            </td>
            <td>
                {{ takerFees ? takerFees + "€" : "Offerts" }}
            </td>
        </tr>
        <tr class="text--semibold">
            <td>
                Total
            </td>
            <td>
                {{ totalPrice === 0 ? "Gratuit" : totalPrice + "€"}}
                <span class="text--vsmall"
                    ng-show="!dependDuration && nbTimeUnits > 1 && dailyPrice > 0">
                    &nbsp;({{ dailyPriceStr }}€/j.)
                </span>
            </td>
        </tr>
    </tbody>
</table>
