<table class="book__prices text--small">
    <tbody>
        <tr>
            <td ng-if="dependStock || dependDuration">
                <span ng-if="dependStock">{{quantity}}&nbsp;x</span>
                <span ng-if="!dependDuration" data-translate="pricing.price_with_currency" data-translate-values="{ price: basePrice }"></span>
                <span ng-if="dependDuration">
                    <span data-translate="pricing.price_with_currency" data-translate-values="{ price: timeUnitPrice }"></span>
                    <span>x&nbsp;</span>
                    <span data-translate="pricing.nb_unit_label"
                        data-translate-values="{ timeUnit: timeUnit, nbTimeUnits: nbTimeUnits }"
                    >
                    </span>
                </span>
            </td>
            <td ng-if="!dependStock && !dependDuration">
                <span data-translate="pricing.price"></span>
            </td>
            <td data-translate="pricing.price_with_currency"
                data-translate-values="{ price: fullPrice }">
            </td>
        </tr>
        <tr ng-if="durationDiscount">
            <td data-translate="pricing.duration_discount"></td>
            <td class="discount">
                <span>-&nbsp;</span>
                <span data-translate="pricing.price_with_currency" data-translate-values="{ price: durationDiscount }"></span>
            </td>
        </tr>
        <tr>
            <td data-translate="pricing.service_fees"></td>
            <td>
                <span ng-if="takerFees" data-translate="pricing.price_with_currency" data-translate-values="{ price: takerFees }"></span>
                <span ng-if="!takerFees" data-translate="pricing.free"></span>
            </td>
        </tr>
        <tr class="text--semibold">
            <td data-translate="pricing.total"></td>
            <td>
                <span ng-if="totalPrice" data-translate="pricing.price_with_currency" data-translate-values="{ price: totalPrice }"></span>
                <span ng-if="!totalPrice" data-translate="pricing.free"></span>
                <span class="text--vsmall"
                    ng-show="dependDuration && nbTimeUnits > 1 && dailyPrice > 0">
                    &nbsp;(
                        <span data-translate="pricing.price_with_currency_per_unit_time_short" data-translate-values="{ price: dailyPrice, timeUnit: timeUnit }"></span>
                    )
                </span>
            </td>
        </tr>
    </tbody>
</table>
