<label for="select-birth-day">
    Date de naissance&nbsp;
    <span class="badge tooltip-badge"
        data-tooltip-placement="auto top"
        data-tooltip-trigger="mouseenter outsideClick"
        uib-tooltip="Seuls les majeurs sont autorisés à effectuer des transactions sur Sharinplace.">
        ?
    </span>
</label>
<div class="flex-container flex--start booking__taker-birthday">
    <select id="select-birth-day" name="takerBirthDay" ng-model="vm.birthDay">
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29" ng-show="vm.birthMonth != 2 || !(vm.birthYear % 4)">
            29
        </option>
        <option value="30" ng-show="vm.birthMonth != 2">
            30
        </option>
        <option value="31" ng-show="vm.birthMonth == 1 || vm.birthMonth == 3 || vm.birthMonth == 5 || vm.birthMonth == 7 ||
            vm.birthMonth == 8 || vm.birthMonth == 10 || vm.birthMonth == 12">
            31
        </option>
    </select>
    <select id="select-birth-month" name="takerBirthMonth" ng-model="vm.birthMonth">
        <option value="01">Janv.</option>
        <option value="02">Févr.</option>
        <option value="03">Mar.</option>
        <option value="04">Avr.</option>
        <option value="05">Mai</option>
        <option value="06">Juin</option>
        <option value="07">Juill.</option>
        <option value="08">Août</option>
        <option value="09">Sept.</option>
        <option value="10">Oct.</option>
        <option value="11">Nov.</option>
        <option value="12">Déc.</option>
    </select>
    <select id="select-birth-year" name="takerBirthYear"
        ng-model="vm.birthYear"
        ng-options="year for year in vm.birthYears">
            <!-- Must use ngOptions to set default value. See https://github.com/angular/angular.js/issues/639 -->
    </select>
</div>
