<div class="booking-confirmation">
    <div class="header-space"></div>
    <div class="fluid-content flex-container small-vertical desktop-horizontal">
        <div class="booking__payment-processing desktop-8">
            <h2 class="spinner-space"
                data-translate="pages.booking_confirmation.page_title"
                data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }"
            >
            </h2>
            <div class="booking__payment-message text-center">
                <span data-us-spinner="{top: '0%'}" data-spinner-key="payment-spinner" data-spinner-start-active="true"></span>
                <div class="status-icon" ng-show="vm.showStatusIcon" ng-switch="vm.showStatusIcon">
                    <svg class="icon success" ng-switch-when="success">
                        <use xlink:href="/assets/build/icons/sprite.svg#check-mark"/>
                    </svg>
                    <svg class="icon failure" ng-switch-when="failure">
                        <use xlink:href="/assets/build/icons/sprite.svg#exclamation"/>
                    </svg>
                </div>
                <div class="margin-bottom-plus">
                    <div class="text--semibold"
                        ng-if="vm.paymentProcessing && ! vm.error"
                        data-translate="pages.booking_confirmation.payment_processing_message"
                    >
                    </div>
                    <div class="text--semibold" ng-if="vm.paymentDone"
                        data-translate="pages.booking_confirmation.payment_success_message"
                    >
                    </div>
                    <div class="margin-bottom-plus"
                        ng-if="vm.error"
                        data-translate="pages.booking_confirmation.generic_error"
                    >
                    </div>
                    <div class="text--semibold"
                        ng-if="vm.paymentRedirectionTimeout"
                        data-translate="pages.booking_confirmation.redirection_to_checkout_message"
                    >
                    </div>
                </div>
                <!-- TODO : include mangopay transaction ids -->
                <p class="text-justify"
                    ng-if="vm.paymentDone" uib-collapse="! vm.firstTime">
                    <span data-translate="pages.booking_confirmation.email_notification_message">
                    </span>
                    <span ng-show="vm.booking.takerPrice"
                        data-translate="pages.booking_confirmation.payment_summary"
                        data-translate-values="{ price: vm.booking.takerPrice }"
                    >
                    </span>
                    <span ng-show="vm.booking.deposit"
                        data-translate="pages.booking_confirmation.deposit_summary"
                        data-translate-values="{ deposit: vm.booking.deposit }"
                    >
                    </span>
                </p>
                <p class="text-justify"
                    ng-if="vm.paymentDone || ! vm.error">
                    <!-- Conversation is empty if payment failed -->
                    <a id="post-payment-conversation-link" ui-sref="conversation({conversationId: vm.conversation.id})">
                        <span data-translate="pages.booking_confirmation.inbox_cta_link"
                            data-translate-values="{ owner: vm.owner.firstname || vm.owner.fullname || undefined }"
                        >
                        </span>
                    </a>
                </p>
            </div>

            <div class="booking__contact-info text-justify"
                uib-collapse="! vm.paymentDone">
                <hr ng-hide="vm.noImage" class="hide-for-desktop">
                <div ng-if="vm.noImage">
                    <hr>
                    <h2 data-translate="prompt.inspire_confidence">
                    </h2>
                    <p class="text--small" data-translate="user.prompt.profile_image_trust_factor"
                        data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME  }">
                    </p>
                    <data-sip-prompt-image></data-sip-prompt-image>
                    <hr class="hide-for-desktop">
                </div>
            </div>

            <div class="fb-page__container margin-top-plus padding-top" ng-if="config.facebook_url">
                <div class="fb-page"
                    data-href="{{config.facebook_url}}"
                    data-small-header="true"
                    data-width="500"
                    data-adapt-container-width="true"
                    data-hide-cover="false"
                    data-show-facepile="false">
                    <blockquote cite="{{config.facebook_url}}" class="fb-xfbml-parse-ignore">
                        <a ng-href="{{config.facebook_url}}"
                            data-translate="social.facebook_page"
                            data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }"
                        >
                        </a>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="booking-summary__container desktop-4 webkit-render-fix">
            <div class="booking-summary">
                <div class="booking-summary__title">
                    <h1 class="ellipsis">{{::vm.booking.listingSnapshot.name}}</h1>
                </div>
                <div>
                    <div class="booking-summary__picture">
                        <sip-img ng-src="{{vm.listing.url + '?size=800x600'}}" type="background"></sip-img>
                    </div>
                    <div class="booking-summary__content">
                        <div>
                            <div class="margin-bottom text-center" ng-if="vm.listingTypeProperties.isTimeFlexible">
                                <span class="text--semibold"
                                    data-translate="pricing.nb_unit_label"
                                    data-translate-values="{ timeUnit: vm.booking.timeUnit, nbTimeUnits: vm.booking.nbTimeUnits }"></span>
                                <br>
                                <!-- TODO: longer format may be needed when dimension is not day -->
                                <span data-translate="booking.from_start_date_to_end_date"
                                    data-translate-values="{ start_date: vm.startDate, end_date: vm.endDate }"></span>
                            </div>
                            <div class="margin-bottom text-center" ng-if="vm.listingTypeProperties.isAvailabilityStock">
                                <span class="text--semibold"
                                    data-translate="booking.summary.quantity"
                                    data-translate-values="{ quantity: vm.booking.quantity }"></span>
                            </div>
                            <hr ng-if="vm.listingTypeProperties.isTimeFlexible || vm.listingTypeProperties.isAvailabilityStock">
                        </div>
                        <div class="margin-bottom" ng-if="vm.listingLocations.length">
                            <span data-translate="booking.summary.owner_locations"
                                data-translate-values="{ nb_locations: vm.listingLocations.length, owner: vm.listing.owner.fullname || undefined }"></span>
                        </div>
                        <div class="margin-bottom-plus booking-summary__locations" ng-if="vm.listingLocations.length">
                            <span ng-repeat="loc in vm.listingLocations">{{::loc.displayAddress + (loc.postalCode ? " (" + loc.postalCode + ")" : "")}}<br></span>
                        </div>
                        <div class="booking-summary__price">
                            <div data-sip-pricing-table
                                ng-if="vm.booking"
                                booking="vm.booking">
                            </div>
                        </div>
                        <div class="margin-top margin-bottom"
                            ng-if="vm.booking.deposit"
                            data-translate="booking.summary.security_deposit"
                            data-translate-values="{ price: vm.booking.deposit }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fluid-content show-for-desktop">
        <div class="powered-by-container desktop-8">
            <hr class="margin-bottom">
            <img id="powered-by" class="powered-by-mangopay-logo"
                src="/assets/img/app/payment/powered-by-mangopay_v2.png"
                data-translate-attr="{ title: 'pages.booking_payment.mangopay_logo_alt', alt: 'pages.booking_payment.mangopay_logo_alt'}"
                data-translate-values="{ payment_provider: vm.booking.paymentProvider }"
                ng-if="vm.booking.paymentProvider === 'mangopay'">
        </div>
    </div>
    <div ng-include="'/assets/app/layout/footer.html'"></div>
</div>
