<div class="booking-step">
    <div class="header-space"></div>

    <form class="form--control" name="paymentForm"
        ng-show="vm.listing"
        novalidate>
    <div class="booking__payment">
        <div class="fluid-content flex-container small-vertical desktop-horizontal">
            <div class="desktop-8 small-order-2 desktop-order-1">
                <h2>
                    <span ng-if="vm.booking.takerPrice"
                        data-translate="pages.booking_payment.header"></span>
                    <span ng-if="! vm.booking.takerPrice"
                        data-translate="pages.booking_payment.header_deposit"></span>
                </h2>
                <div ng-if="vm.cards.length" ng-switch="vm.cards.length">
                    <div ng-switch-when="1">
                        <span class="switch small switch--success">
                            <input id="switch-extra-card" type="checkbox" ng-model="vm.reuseCard">
                            <label for="switch-extra-card"></label>
                        </span>
                        <span ng-class="{'text--light text--fade': !vm.reuseCard}"
                            data-translate="pages.booking_payment.card.reuse_card">
                            <!-- TODO: card alias i18n -->
                            <span class="text--semibold">{{vm.cards[0].alias}} - Exp. {{vm.cards[0].expirationMonth + "/" + vm.cards[0].expirationYear}}</span>
                        </span>
                    </div>
                    <div ng-switch-default>
                        <div class="margin-bottom text--semibold"
                            data-translate="pages.booking_payment.card.using_new_card_prompt"></div>
                        <div ng-repeat="card in vm.cards track by card.id">
                            <input type="radio" name="card"
                                ng-model="vm.selectedCard"
                                ng-value="card"
                                ng-click="vm.reuseCard = true">
                            <label>{{card.alias}} - Exp. {{vm.cards[0].expirationMonth + "/" + vm.cards[0].expirationYear}}</label>
                        </div>
                        <div class="margin-top-plus margin-bottom cursor-pointer link--blue-underline"
                            ng-click="vm.cardsToggle()" ng-switch="vm.reuseCard">
                            <span ng-switch-when="true"
                                data-translate="pages.booking_payment.card.add_new_card"></span>
                            <span ng-switch-when="false"
                                data-translate="pages.booking_payment.card.reuse_card"></span>
                        </div>
                    </div>
                </div>
                <!-- Collapse causes bugs on Chromium (input content hidden until resize) > use hardawre acceleration-->
                <div class="webkit-render-fix"
                    uib-collapse="vm.cards.length && vm.reuseCard">
                    <p class="text--semibold margin-top margin-bottom"
                        ng-if="! vm.reuseCard && vm.cards.length < 2"
                        data-translate="pages.booking_payment.card.using_new_card_prompt">
                    </p>
                    <div ng-show="vm.booking.paymentProvider === 'stripe'" class="margin-bottom-plus">
                        <div id="card-element" class="margin-bottom"
                            ng-class="{ 'form-submitted': paymentForm.$submitted, touched: vm.stripeCardTouched }"></div>
                        <div class="card-error form-warning text--semibold margin-bottom"
                            uib-collapse="!vm.cardErrorMessage">
                            {{vm.cardErrorMessage}}
                        </div>
                    </div>
                    <div ng-show="vm.booking.paymentProvider === 'mangopay'">
                        <label for="card-number" data-translate="pages.booking_payment.card.number">
                        </label>
                        <div class="flex-container flex--wrap">
                            <div id="card-input-container" class="input__inner-icon-container small-12 medium-6">
                                <input id="card-number" name="newCardNumber" type="text"
                                    class=""
                                    ng-model="vm.newCard.number"
                                    data-cc-number
                                    data-cc-format
                                    data-cc-eager-type>
                                <!-- Tooltip auto left placement if buggy here, probably due to absolute positionning -->
                                <span class="input__inner-icon icon-right"
                                    data-tooltip-placement="left"
                                    data-tooltip-trigger="mouseenter outsideClick"
                                    uib-tooltip="{{vm.paymentSecuredByTooltip}}">
                                    <img src="/assets/img/app/icons/lock-check.png"
                                        data-translate-attr="{ alt: 'pages.booking_payment.card.secured_payment_popup' }"
                                        data-translate-values="{ has_3Dsecure_enabled: undefined }">
                                </span>
                                <div class="form-warning text--semibold"
                                    uib-collapse="vm.editingCardNumber || ! paymentForm.newCardNumber.$touched || ! paymentForm.newCardNumber.$invalid"
                                    data-translate="payment.error.invalid_card_number">
                                </div>
                            </div>
                            <img class="card-type-logo" src="/assets/img/app/payment/visa_logo.png" alt="logo Visa"
                                ng-class="{ 'active': paymentForm.newCardNumber.$ccEagerType === 'Visa', 'inactive': paymentForm.newCardNumber.$ccEagerType && paymentForm.newCardNumber.$ccEagerType !== 'Visa'}">
                            <img class="card-type-logo" src="/assets/img/app/payment/mastercard_logo.png" alt="logo MasterCard"
                                ng-class="{ active: paymentForm.newCardNumber.$ccEagerType === 'MasterCard', 'inactive': paymentForm.newCardNumber.$ccEagerType && paymentForm.newCardNumber.$ccEagerType !== 'MasterCard'}">
                        </div>
                        <label for="select-expiration-month"
                        data-translate="pages.booking_payment.card.expiration_label">
                            </label>
                            <div class="flex-container flex--start booking__card-expiration">
                                <select id="select-expiration-month" name="card-expiration-month"
                                    ng-model="vm.cardExpirationMonth"
                                    ng-required="! vm.reuseCard">
                                    <option value="" selected disabled data-translate="time.month_label"></option>
                                    <option value="01" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 1">1</option>
                                    <option value="02" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 2">2</option>
                                    <option value="03" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 3">3</option>
                                    <option value="04" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 4">4</option>
                                    <option value="05" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 5">5</option>
                                    <option value="06" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 6">6</option>
                                    <option value="07" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 7">7</option>
                                    <option value="08" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 8">8</option>
                                    <option value="09" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 9">9</option>
                                    <option value="10" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 10">10</option>
                                    <option value="11" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 11">11</option>
                                    <option value="12" ng-if="vm.cardExpirationYear != vm.thisYear || vm.thisMonth <= 12">12</option>
                                </select>
                                <select id="select-expiration-year" name="card-expiration-year"
                                    ng-model="vm.cardExpirationYear"
                                    ng-required="! vm.reuseCard">
                                    <option value="" selected disabled data-translate="time.year_label"></option>
                                    <option value="{{year}}" ng-repeat="year in vm.expirationYears">{{year}}</option>
                                </select>
                            </div>
                            <label for="card-cvc"
                                data-translate="pages.booking_payment.card.card_verification_code_label">
                            </label>
                            <input id="card-cvc" type="text" name="newCardCvc" class="small-3" placeholder="XXX"
                                ng-model="vm.newCard.cvx"
                                data-cc-cvc>
                    </div>
                    <div class="flex-container">
                        <div class="text-center">
                            <input id="switch-forget-card" type="checkbox" ng-model="vm.rememberCard">
                        </div>
                        <div class="flex-item--grow padding-left">
                            <label for="switch-forget-card" class="no-margin"
                                data-translate="pages.booking_payment.card.save_label"></label>
                            <span class="text--light"
                                data-translate="pages.booking_payment.card.save_context"></span>
                        </div>
                    </div>
                    <!-- <button class="button" ng-click="vm.saveCard()">Enregistrer ma carte</button> -->
                    <img id="powered-by" class="powered-by-mangopay-logo"
                        src="/assets/img/app/payment/powered-by-mangopay_v2.png"
                        data-translate-attr="{ title: 'pages.booking_payment.mangopay_logo_alt', alt: 'pages.booking_payment.mangopay_logo_alt'}"
                        data-translate-values="{ payment_provider: vm.booking.paymentProvider }"
                        ng-if="vm.booking.paymentProvider === 'mangopay'">
                </div>
                <hr>

                <h2 data-translate="pages.booking_payment.billing_information_title"></h2>
                <div class="flex-form__fields"> <!-- noAccount to avoid block disappearance -->
                    <!-- <div class="flex-container flex-form-line margin-bottom-plus">
                        <div class="small-6 flex-container">
                            <input type="radio"
                                id="user-type-individual"
                                name="user-type"
                                ng-model="vm.userType"
                                value="individual"
                                required>
                            <label for="user-type-individual">
                                Personne physique
                            </label>
                        </div>
                        <div class="small-6 flex-container">
                            <input type="radio"
                                id="user-type-organization"
                                name="user-type"
                                ng-model="vm.userType"
                                value="organization"
                                required>
                            <label for="user-type-organization">
                                Personne morale
                            </label>
                        </div>
                    </div>
                    <div uib-collapse="vm.userType !== 'organization'">
                        <div class="flex-container">
                            <div class="small-12">
                                <label for="taker-organizationName">
                                    Nom de la personne morale
                                </label>
                                <input id="taker-organizationName" type="text"
                                    ng-model="vm.organizationName"
                                    ng-required="vm.userType === 'organization'">
                            </div>
                        </div>
                        <div class="flex-container margin-bottom">
                            <div class="small-12">
                                <label for="legal-person-type">
                                    Type de personne morale
                                </label>
                                <select
                                    id="legal-person-type"
                                    class="margin-bottom"
                                    ng-model="vm.identity.legalPersonType"
                                    ng-required="vm.userType === 'organization'">
                                    <option value="BUSINESS">Entreprise</option>
                                    <option value="ORGANIZATION">Organisation</option>
                                    <option value="SOLETRADER">Entreprise individuelle</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <div class="flex-container flex-form-line">
                        <div class="small-6">
                            <label for="taker-firstname" data-translate="user.firstname_label">
                            </label>
                            <input id="taker-firstname" type="text"
                                ng-model="vm.firstName"
                                required>
                        </div>
                        <div class="small-6">
                            <label for="taker-lastname" data-translate="user.lastname_label">
                            </label>
                            <input id="taker-lastname" type="text"
                                ng-model="vm.lastName"
                                required>
                        </div>
                    </div>
                    <div class="flex-container" ng-show="vm.showEmail">
                        <div class="small-12">
                            <label for="taker-email" data-translate="user.email_label">
                            </label>
                            <input id="taker-email" type="email"
                                ng-model="vm.email"
                                required>
                        </div>
                    </div>
                    <label for="select-birth-day">
                        <span data-translate="user.date_of_birth_label"></span>
                        <span class="badge tooltip-badge"
                            data-tooltip-placement="auto top"
                            data-tooltip-trigger="mouseenter outsideClick"
                            uib-tooltip="{{vm.adultPaymentTooltip}}">
                            ?
                        </span>
                    </label>
                    <div data-stl-select-birthday data-birth-date="{{vm.identity.birthday}}" on-change="vm.onChangeBirthday(date)"></div>
                    <label for="select-country" data-translate="pages.booking_payment.country_of_residence_label">
                    </label>
                    <select id="select-country" name="booking-country"
                        ng-model="vm.identity.countryOfResidence"
                        data-stl-select-country
                        data-lang="{{config.lang}}">
                    </select>
                    <!-- <button class="button" ng-click="vm.createAccount()">Enregistrer mon identité</button> -->
                </div>

                <hr class="collapse-bottom">
            </div>

            <div class="booking-summary__container small-order-1 desktop-4 desktop-order-2">
                <!-- Remember to update offset if changing position/marings -->
                <div class="booking-summary"
                    data-offset="16"
                    data-bound-id="booking-confirm"
                    data-sip-sticky-sidebar>
                    <div class="booking-summary__title">
                        <h1 class="ellipsis">{{::vm.booking.listingSnapshot.name}}</h1>
                    </div>
                    <div>
                        <div class="booking-summary__picture">
                            <sip-img ng-src="{{vm.listing.url + '?size=800x600'}}" type="background"></sip-img>
                        </div>
                        <div class="booking-summary__content">
                            <div>
                                <div class="margin-bottom text-center" ng-if="vm.listingTypeProperties.isTimeFlexible">
                                    <span class="text--semibold"
                                        data-translate="pricing.nb_unit_label"
                                        data-translate-values="{ timeUnit: vm.booking.timeUnit, nbTimeUnits: vm.booking.nbTimeUnits }"></span>
                                    <br>
                                    <span data-translate="booking.from_start_date_to_end_date"
                                        data-translate-values="{ start_date: vm.startDate, end_date: vm.endDate, show_time: vm.showTime }"
                                    >
                                    </span>
                                </div>
                                <div class="margin-bottom text-center" ng-if="vm.listingTypeProperties.isAvailabilityStock">
                                    <span class="text--semibold"
                                        data-translate="booking.summary.quantity"
                                        data-translate-values="{ quantity: vm.booking.quantity }"></span>
                                </div>
                                <hr ng-if="vm.listingTypeProperties.isTimeFlexible || vm.listingTypeProperties.isAvailabilityStock">
                            </div>
                            <div class="margin-bottom" ng-if="vm.listingLocations.length">
                                <span data-translate="booking.summary.owner_locations"
                                    data-translate-values="{ nb_locations: vm.listingLocations.length, owner: vm.listing.owner.fullname || undefined }"></span>
                            </div>
                            <div class="margin-bottom-plus booking-summary__locations" ng-if="vm.listingLocations.length">
                                <span ng-repeat="loc in vm.listingLocations">{{::loc.displayAddress + (loc.postalCode ? " (" + loc.postalCode + ")" : "")}}<br></span>
                            </div>
                            <div class="booking-summary__price">
                                <div data-sip-pricing-table
                                    ng-if="vm.booking"
                                    booking="vm.booking">
                                </div>
                            </div>
                            <div class="margin-top margin-bottom"
                                ng-if="vm.booking.deposit"
                                data-translate="booking.summary.security_deposit"
                                data-translate-values="{ price: vm.booking.deposit }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="booking__message">
        <div class="fluid-content">
            <div class="small-12 desktop-8">
                <h3 data-translate="prompt.proceed_with_confidence"></h3>
                <label for="booking-private-message" data-translate="inbox.private_question_placeholder"></label>
                <textarea id="booking-private-message" name="privateContent"
                    rows="5"
                    ng-maxlength="2000"
                    data-translate-attr="{ placeholder: 'inbox.message_odds_of_success' }"
                    ng-model="vm.privateContent"
                    ng-required="! vm.conversation"
                    sip-textarea-auto-adjust>
                    </textarea>
                <!-- <label for="booking-public-message" ng-if="! vm.conversation"
                    data-translate="inbox.public_question_placeholder"></label>
                <textarea id="booking-public-message" name="publicContent"
                    rows="5"
                    ng-maxlength="2000"
                    data-translate-attr="{ placeholder: 'inbox.public_message_context' }"
                    ng-model="vm.publicContent"
                    ng-if="! vm.conversation"
                    sip-textarea-auto-adjust>
                </textarea> -->
                <hr class="collapse-bottom">
            </div>
        </div>
    </div>
    <div class="booking__contact-info  text-justify" ng-if="! vm.existingPhone || vm.noImage">
        <div class="fluid-content">
            <div class="small-12 desktop-8" ng-if="! vm.existingPhone && vm.showPromptPhone">
                <h4 data-translate="prompt.making_your_life_easier">
                </h4>
                <p class="text--small"
                    data-translate="user.prompt.phone_validation_context"
                    data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }">
                </p>
                <data-sip-prompt-phone
                    ng-class="{'prompt-highlight': vm.promptPhoneHighlight}">
                </data-sip-prompt-phone>
                <hr ng-class="{'collapse-bottom': ! vm.noImage}">
            </div>
            <div class="small-12 desktop-8" ng-if="vm.noImage">
                <h4 data-translate="prompt.inspire_confidence">
                </h4>
                <p class="text--small" data-translate="user.prompt.profile_image_trust_factor"
                    data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME  }">
                </p>
                <data-sip-prompt-image></data-sip-prompt-image>
                <hr class="collapse-bottom">
            </div>
        </div>
    </div>
    <div id="booking-confirm"
        class="booking__confirm">
        <div class="fluid-content">
            <div class="small-12 desktop-8">
                <p class="booking__confirmation-paragraph" ng-if="vm.booking.takerPrice">
                    <span data-translate="pages.booking_payment.accept_payment_statement"
                        data-translate-values="{ price: vm.booking.takerPrice }"></span>
                    <span data-translate="pages.booking_payment.cancellation_policy"></span>
                </p>
                <p class="booking__confirmation-paragraph" ng-if="vm.booking.deposit"
                    data-translate="pages.booking_payment.accept_deposit_statement"
                    data-translate-values="{ deposit: vm.booking.deposit, SERVICE_NAME: config.SERVICE_NAME }">
                </p>
                <p class="booking__confirmation-paragraph">
                    <a ui-sref="terms" target="_blank"
                        data-translate="pages.booking_payment.accept_service_terms_statement"
                        data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }"></a>
                </p>
                <div class="submit-zone">
                    <button id="confirm-pay-button" class="button" type="submit"
                        ng-click="vm.createPayment()">
                        <span ng-if="vm.booking.takerPrice"
                            data-translate="pages.booking_payment.confirm_payment_button"></span>
                        <span ng-if="! vm.booking.takerPrice"
                            data-translate="prompt.confirm_button"></span>
                    </button>
                    <span data-us-spinner data-spinner-key="payment-spinner"></span>
                </div>
                <!-- TODO: show only if 3DSecure is active -->
                <div id="secure-mode" ng-if="vm.booking.deposit || vm.booking.takerPrice">
                    <img id="secure-mode-logo" src="/assets/img/app/payment/3DSecure.png"
                        data-translate-attr="{ alt: 'pages.booking_payment.3DSecure_logo_alt', title: 'pages.booking_payment.3DSecure_logo_alt' }">
                    <p class="text-center text--semibold medium-10 medium-offset-1"
                        data-translate="pages.booking_payment.3DSecure_message"
                        data-translate-values="{ deposit: vm.booking.deposit }">
                    </p>
                </div>
            </div>
        </div>
    </div>
    </form>

    <div ng-include="'/assets/app/layout/footer.html'" ng-show="vm.listing"></div>
</div>
