@import "../base/all";


#offcanvas-menu {
    background-color: $stl-color-footer-background;
    // disable background hack below as overflow is visible on mobile devices when dragging body edges
    // overflow: visible;  // enable background-hack below
    // z-index: 0; // idem, but more importantly solves laggy animation off menu on android mobiles
    line-height: 2;
    > div {
        min-height: 100%;
        color: $stl-color-footer-background-text;
        border-left: 1px solid $stl-color-footer-background-text;
        // This background hack hides white flickering during animation
        // position: absolute;
        // left: -10rem;
        // right: 0;
        // padding-left: 10rem;
        background-color: $stl-color-footer-background;
    }

    ul {
        line-height: 2;
        margin-bottom: 0;
    }

    .offcanvas-menu__link {
        color: $stl-color-footer-background-text;

        a {
            padding: 0.5rem 1rem;
            display: block;
            color: $stl-color-footer-background-text;
        }

        button {
            //prevent default button styles
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            border: none!important;
            text-align: inherit;
            background: none;
            border-left: none;
            border-right: none;
        }

        :focus, :hover {
            .icon {
                outline: none;
                &.grey {
                    fill: $stl-color-grey-light;
                }
            }
        }
        :hover .icon {
            fill: $stl-color-calltoaction-light;
        }
        :focus .icon {
            fill: $stl-color-calltoaction;
        }
    }

    .icon {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
        vertical-align: text-bottom;
        fill: $stl-color-footer-background-text;
        transition: fill 0.3s;
    }

    .message-badge {
        left: 1rem;
        top: 0.25rem;
        transform: translateX(-50%);
    }
}

