@import "../base/all";


#offcanvas-menu {
    background-color: $platform-color-darkblue;
    // disable background hack below as overflow is visible on mobile devices when dragging body edges
    // overflow: visible;  // enable background-hack below
    // z-index: 0; // idem, but more importantly solves laggy animation off menu on android mobiles
    line-height: 2;
    > div {
        min-height: 100%;
        color: #FFF;
        // This background hack hides white flickering during animation
        // position: absolute;
        // left: -10rem;
        // right: 0;
        // padding-left: 10rem;
        background-color: $platform-color-darkblue;
    }

    ul {
        line-height: 2;
        margin-bottom: 0;
    }

    .offcanvas-menu__link {
        color: #FFF;
        border-top: 1px solid rgba(#FFF, 0.2);
        &:last-child {
            border-bottom: 1px solid rgba(#FFF, 0.2);
        }

        a {
            padding: 0.5rem 1rem;
            display: block;
            color: #FFF;
        }

        button {
            //prevent default button styles
            display: block;
            width: 100%;
            padding: 0.5rem 1rem;
            border: none!important;
            text-align: inherit;
            background: none;
            border-left: none;
            border-right: none;
        }

        :focus, :hover, :active {
            .icon {
                outline: none;
                &.red {
                    fill: scale-color($platform-color-red, $lightness: 10%);
                }
                &.orange {
                    fill: scale-color($platform-color-orange, $lightness: 30%);
                }
                &.purple {
                    fill: scale-color($platform-color-purple, $lightness: 30%);
                }
                &.blue {
                    fill: scale-color($platform-color-blue, $lightness: 30%);
                }
                &.green {
                    fill: scale-color($platform-color-green, $lightness: 10%);
                }
                &.gold {
                    fill: scale-color($platform-color-gold, $lightness: 10%);
                }
                &.grey {
                    fill: rgba(#FFF, 0.5);
                }
            }
        }
    }

    .icon {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
        vertical-align: text-bottom;
        fill: #FFF;
        transition: fill 0.3s;
    }

    .message-badge {
        left: 1rem;
        top: 0.25rem;
        transform: translateX(-50%);
    }
}

