<div class="account">
    <div class="header-space"></div>
    <div class="text-center stelace-hero space padded-sides">
        <h1 class="stelace-hero__title"
            data-translate="user.account.greeting"
            data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME, firstname: vm.currentUser.firstname || undefined }">
        </h1>
        <div class="stelace-hero__subtitle"
            data-translate="user.account.greeting_subtitle">
        </div>
    </div>
    <div class="fluid-content text-center sticky-helper__flex-container">
        <div class="small-12 desktop-8">
            <div class="accont__new-message"
                ng-if="vm.newMessagesCount">
                <h2 data-translate="user.account.inbox_notice_title"></h2>

                <p class="margin-bottom link--blue-underline text--semibold" ui-sref="inbox"
                data-translate="user.account.inbox_notice_details"
                data-translate-values="{ new_messages: vm.newMessagesCount || 0 }">
                </p>
                <hr class="small-6 small-offset-3">
            </div>

            <div class="account__contact-info">
                <h2 data-translate="user.account.contact_info_title">
                </h2>

                <div class="flex-container flex-form-line text-left">
                    <div class="small-6">
                        <label for="user-firstname" data-translate="user.firstname_label">
                        </label>
                        <input id="user-firstname" type="text"
                            ng-model="vm.editingCurrentUser.firstname"
                            ng-blur="vm.updateUser()"
                            data-translate-attr="{ placeholder: 'user.firstname_label' }">
                    </div>
                    <div class="small-6">
                        <label for="user-lastname" data-translate="user.lastname_label">
                        </label>
                        <input id="user-lastname" type="text"
                            ng-model="vm.editingCurrentUser.lastname"
                            ng-blur="vm.updateUser()"
                            data-translate-attr="{ placeholder: 'user.lastname_label' }">
                    </div>
                </div>
                <div class="flex-container flex--wrap flex-form-line text-left">
                    <div class="small-12 medium-7">
                        <label for="user-email" data-translate="user.email_label">
                        </label>
                        <div class="label-action text--small margin-left"
                            ng-if="vm.currentUser.email"
                            ng-switch="vm.currentUser.emailCheck">
                            <span class="link--underline cursor-pointer text--red"
                                data-sip-action-key
                                tabindex="0"
                                ng-click="vm.checkEmail()"
                                ng-switch-when="false">
                                <span data-translate="user.not_verified_email_label"></span>
                                <svg class="icon icon--inline red">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/icons/sprite.svg#exclamation"></use>
                                </svg>
                            </span>
                            <span class="text--success"
                                ng-switch-default>
                                <span data-translate="user.verified_email_label"></span>
                                <svg class="icon icon--inline success">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/icons/sprite.svg#check-mark"></use>
                                </svg>
                            </span>
                        </div>
                        <input id="user-email" type="text"
                            data-translate-attr="{ placeholder: 'user.account.dynamic_email_placeholder' }"
                            data-translate-values="{ email_placeholder: vm.currentUser.email || undefined }"
                            ng-class="{ 'data-placeholder': vm.currentUser.email }"
                            ng-model="vm.dummyEmail"
                            data-sip-action-key
                            ng-change="vm.updateEmail()"
                            ng-click="vm.updateEmail()">
                    </div>
                    <div class="small-12 medium-5">
                        <label for="user-phone" data-translate="user.phone_number_label"></label>
                        <div class="label-action text--small margin-left"
                            ng-if="vm.currentUser.phone && vm.isSmsActive"
                            ng-switch="vm.currentUser.phoneCheck">
                            <span class="link--underline cursor-pointer text--red"
                                data-sip-action-key
                                tabindex="0"
                                ng-click="vm.updatePhone()"
                                ng-switch-when="false">
                                <span data-translate="user.not_verified_phone_number_label"></span>
                                <svg class="icon icon--inline red">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/icons/sprite.svg#exclamation"></use>
                                </svg>
                            </span>
                            <span class="text--success"
                                ng-switch-default>
                                <span data-translate="user.verified_phone_number_label"></span>
                                <svg class="icon icon--inline success">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/icons/sprite.svg#check-mark"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="input__inner-icon-container" ng-switch="vm.isSmsActive">
                            <input id="user-phone" type="text"
                                ng-model="vm.editingPhone"
                                data-sip-action-key
                                ng-blur="vm.updateRealPhone()"
                                ng-switch-when="false">
                            <input id="user-phone" type="text"
                                data-translate-attr="{ placeholder: 'user.account.dynamic_phone_placeholder' }"
                                data-translate-values="{ phone_placeholder: vm.currentUser.phone || undefined }"
                                ng-class="{ 'data-placeholder': vm.currentUser.phone }"
                                ng-model="vm.dummyPhone"
                                data-sip-action-key
                                ng-change="vm.updatePhone()"
                                ng-click="vm.updatePhone()"
                                ng-switch-default>
                            <!-- <span class="input__inner-icon icon-right cursor-pointer"
                                ng-if="vm.currentUser.phone"
                                ng-click="vm.deletePhone()">
                                <svg class="icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/icons/sprite.svg#trash"></use>
                                </svg>
                            </span> -->
                        </div>
                    </div>
                </div>
                <div class="account__user-type text-left" ng-if="!config.is_internal_service">
                    <label for="user-description"
                        data-translate="user.user_type_label">
                    </label>
                    <div class="flex-container flex-form-line margin-bottom-plus">
                        <div class="flex-container flex--align-center">
                            <input type="radio"
                                id="user-type-individual"
                                name="user-type"
                                ng-model="vm.editingCurrentUser.userType"
                                value="individual"
                                ng-disabled="!vm.editingCurrentUser.canChangeUserType"
                                ng-change="vm.updateUser()">
                            <label for="user-type-individual" data-translate="user.user_type_individual">
                            </label>
                        </div>
                        <div class="flex-container flex--align-center">
                            <input type="radio"
                                id="user-type-organization"
                                name="user-type"
                                ng-model="vm.editingCurrentUser.userType"
                                value="organization"
                                ng-disabled="!vm.editingCurrentUser.canChangeUserType"
                                ng-change="vm.updateUser()">
                            <label for="user-type-organization" data-translate="user.user_type_organization">
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-left"
                    data-uib-collapse="vm.editingCurrentUser.userType !== 'organization'">
                    <label for="user-organization-name"
                        data-translate="user.organization_label">
                    </label>
                    <input id="user-organization-name" type="text"
                        ng-model="vm.editingCurrentUser.organizationName"
                        ng-blur="vm.updateUser()"
                        data-translate-attr="{ placeholder: 'user.organization_label' }">
                </div> -->
                <div class="text-left"
                    ng-if="vm.currentUser.phone || vm.currentUser.emailCheck">
                    <label for="user-description"
                        data-translate="user.account.my_description_label">
                    </label>
                    <textarea id="user-description"
                        class=""
                        rows="4"
                        ng-blur="vm.updateUser()"
                        ng-model="vm.editingCurrentUser.description"
                        ng-maxlength="1000"
                        data-sip-textarea-auto-adjust>
                    </textarea>
                </div>
                <div class="text-center account__avatar">
                    <data-sip-prompt-image></data-sip-prompt-image>
                </div>
                <hr class="small-6 small-offset-3">
            </div>

            <div class="account__locations">
                <h2 class="margin-bottom-plus link--blue-underline text--small text--semibold cursor-pointer">
                    <span tabindex="0"
                        ng-click="vm.collapseLocations = ! vm.collapseLocations"
                        data-sip-action-key>
                        <span data-translate="user.account.my_locations_title"></span>
                        <!-- Trouble with nesting Angular translate in ng-switch-->
                        <span ng-switch="vm.collapseLocations">
                            <span ng-switch-when="false">
                                ▲
                            </span>
                            <span ng-switch-default>
                                ▼
                            </span>
                        </span>
                    </span>
                </h2>
                <div data-uib-collapse="vm.collapseLocations">
                    <div ng-if="vm.isGoogleMapSDKReady"
                        ng-show="! vm.maxLocationsReached">
                        <p class="margin-bottom" data-translate="user.account.my_locations_helper"></p>
                        <label for="account__location-input"
                            class="no-margin-bottom"
                            data-translate="places.location_examples">
                        </label>
                        <div class="flex-container flex--center flex--wrap">
                            <input id="account__location-input"
                                class="small-12 medium-8 margin-top margin-bottom-plus"
                                type="text"
                                ng-model="vm.locationSearchQuery"
                                ng-autocomplete
                                data-options="vm.ngAutocompleteOptions"
                                data-details="vm.locationSearchObject"
                                data-translate-attr="{ placeholder: 'user.account.location_placeholder' }">
                            <div class="small-3 padded-sides">
                                <button
                                    class="button button--highlight margin-top margin-bottom-plus"
                                    ng-class="{ disabled: vm.disableAddLocationButton }"
                                    ng-click="vm.addLocation()"
                                    data-translate="prompt.generic_add_button">
                                </button>
                            </div>
                        </div>
                    </div>
                    <p ng-show="vm.maxLocationsReached" data-translate="user.account.max_number_locations_reached">
                    </p>
                    <div class="small-10 small-offset-1 text-left padding-bottom"
                        ng-repeat="location in vm.myLocations">
                        <div>
                            <span class="success badge">
                                {{$index+1}}
                            </span>
                            <input class="input--subtle text--semibold" type="text" ng-model="location.aliasEdit" ng-blur="vm.updateLocationAlias(location)"
                            data-translate-attr="{ placeholder: 'user.account.location_name_placeholder' }">
                            <a class="text-control padded-sides"
                                tabindex="0"
                                data-sip-action-key
                                data-translate-attr="{ title: 'listing.remove_action' }"
                                ng-if="vm.myLocations.length >= 2"
                                ng-click="vm.removeLocation(location)">
                                <svg class="light-grey icon icon--inline">
                                    <use xlink:href="/assets/build/icons/sprite.svg#trash"/>
                                </svg>
                            </a>
                        </div>
                        <div class="text-block padded-sides margin-top margin-bottom">
                            <span ng-if="! location.establishment">
                                {{location.name}}
                            </span>
                            <span ng-if="location.establishment">
                                {{location.displayAddress}}
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="small-6 small-offset-3">
            </div>

            <div ng-if="vm.showGamification">
                <a ui-sref="invite">
                    <h2 class="link--blue-underline text--semibold" data-translate="referral.prompt">
                    </h2>
                </a>
                <hr class="small-6 small-offset-3">
            </div>

            <div class="margin-bottom account__income-reports"
                ng-if="vm.showIncomeReport">
                <h2 class="margin-bottom-plus link--blue-underline text--small text--semibold cursor-pointer">
                    <span tabindex="0"
                        ng-click="vm.collapseIncomeReports = ! vm.collapseIncomeReports"
                        data-sip-action-key>
                        <span data-translate="user.account.income_statement_title"></span>
                        <span ng-switch="vm.collapseIncomeReports">
                            <span ng-switch-when="false">
                                ▲
                            </span>
                            <span ng-switch-default>
                                ▼
                            </span>
                        </span>
                    </span>
                </h2>
                <div data-uib-collapse="vm.collapseIncomeReports">
                    <label for="income-report-select" data-translate="user.account.income_statement_download">
                    </label>&nbsp;
                    <select id="income-report-select"
                        class="mahgin-bottom padding-bottom"
                        ng-model="vm.selectedIncomeReport"
                        ng-options="report.year for report in vm.incomeReportYears"
                        ng-click="vm.selectIncomeReportYear()"> <!-- use ng-click instead of ng-change because window.open() is blocked on Firefox -->
                        <option value="" selected disabled="disabled"
                        data-translate="time.year_label">
                        </option>
                    </select>
                </div>
                <hr class="small-6 small-offset-3">
            </div>

            <div class="account__password">
                <h2 class="margin-bottom-plus link--blue-underline text--small text--semibold cursor-pointer">
                    <span tabindex="0"
                        ng-click="vm.showPasswordForm = ! vm.showPasswordForm"
                        data-sip-action-key>
                        <span data-translate="user.account.my_password_title"></span>
                        <span ng-switch="vm.showPasswordForm">
                            <span ng-switch-when="true">
                                ▲
                            </span>
                            <span ng-switch-default>
                                ▼
                            </span>
                        </span>
                    </span>
                </h2>
                <div data-uib-collapse="! vm.showPasswordForm">
                    <div ng-if="! vm.needOldPassword" class="margin-bottom"
                        data-translate="user.account.no_password_helper"
                        data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }">
                    </div>
                    <div class="flex-container flex--wrap flex-form-line text-left">
                        <div class="small-12 medium-6">
                            <label for="old-password" data-translate="user.account.current_password_label">
                            </label>
                            <input id="old-password" type="password"
                                ng-if="vm.needOldPassword"
                                ng-model="vm.oldPassword"
                                data-translate-attr="{ placeholder: 'user.account.current_password_label' }">
                        </div>
                        <div class="small-12 medium-6">
                            <label for="new-password" data-translate="user.account.new_password_label">
                            </label>
                            <input id="new-password" type="password"
                                ng-model="vm.newPassword"
                                data-translate-attr="{ placeholder: 'user.account.new_password_label' }"
                                data-translate-values="{ existing_password: vm.needOldPassword ? 'has_password' : 'no_password' }">
                        </div>
                    </div>
                    <button class="button text--semibold center"
                        ng-click="vm.updatePassword(vm.newPassword, vm.oldPassword)"
                        data-translate="prompt.save_button"
                        ng-disabled="(vm.needOldPassword && ! vm.oldPassword) || ! vm.newPassword">
                    </button>
                </div>
                <hr class="small-6 small-offset-3">
            </div>

            <div class="margin-bottom-plus"
                ng-if="vm.myListings.length">
                <h2 class="text-center margin-bottom-plus" data-translate="user.account.my_listings_title">
                </h2>
                <div id="my-items-list"
                    class="listing-grid grid-block small-vertical text-left">
                    <div
                        class="grid-block listing-grid__listing-wrapper"
                        data-listing="listing"
                        ng-repeat="listing in vm.myListings | orderBy : '-createdDate'"
                        ng-hide="vm.listingId && vm.listingId === listing.id"
                        data-stelace-my-listing-card>
                    </div>
                </div>
            </div>
        </div>

        <div id="helper-column" class="sticky-helper__column desktop-4">
            <div class="sticky-helper__card image-white-cta"
                ng-if="vm.stickyOffset"
                data-bound-id="helper-column"
                data-offset="{{ vm.stickyOffset }}"
                data-sip-sticky-sidebar>
                <div>
                    <h2 class="text-center"
                        ng-hide="vm.myListings.length"
                        data-translate="listing.prompt.first_listing_cta">
                    </h2>
                    <!-- listing-card like CTA -->
                    <div class="listing-grid padded-sides listing-grid__listing-wrapper">
                        <a class="listing-grid__listing-container"
                            ui-sref="listingCreate"
                            ng-click="vm.uxEvent('Account item card CTA', 'click')">
                            <div class="listing-grid__listing flex-container listing-grid__listing--highlight">
                                <div class="listing-grid__image-container">
                                    <div class="ar-content">
                                        <img class="img--cover" src="/assets/img/app/default/search-listing-image-cta.png"  data-translate-attr="{ alt: 'listing.prompt.first_listing_cta_img_alt'}"
                                        data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME}">
                                    </div>
                                </div>
                                <div class="listing-grid__description flex-item--grow-auto hide-for-small-only">
                                    <h3 class="no-margin listing-name ellipsis" data-translate="listing.prompt.add_listing_message">
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a class="button calltoaction button--highlight"
                        ng-if="vm.myListings.length"
                        ui-sref="myListings"
                        data-translate="listing.prompt.view_own_listings"
                        data-translate-values="{ nb_listings: vm.myListings && vm.myListings.length || 0 }"
                    >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'/assets/app/layout/footer.html'"></div>
</div>
