<div class="grid-block vertical card">
    <div class="card-divider">
        <a zf-close class="close-button">x</a>
        <h4>Votre avis nous est précieux !</h4>
    </div>
    <div class="card-section">
        <p>
            Partagez avec l'équipe Sharinplace vos réactions, vos critiques et vos suggestions. Cela rendra Sharinplace plus pratique à utiliser et nous fera chaud au coeur&nbsp;;)
        </p>
        <textarea
            class="input--subtle subtle--more-padding subtle--hint margin-bottom"
            ng-model="vm.feedbackMessage"
            placeholder="Mes idées"
            title="Dites-nous tout ;)">
        </textarea>
        <button
            ng-click="vm.createFeedback()"
            title="C'est parti !"
            content="Merci beaucoup, l'équipe Sharinplace se met au travail !"
            class="button sip-button center">Envoyer</button>
    </div>
</div>
