<!-- Fix: Fluid-height is needed on iPhone (iOS8 Chrome/Safari) to enable scrone inside modal -->
<div class="fluid-height flex-container flex--wrap flex--align-stretch">
    <a zf-close="listing-question-modal" class="close-button">×</a>
    <div class="small-12 s-medium-4 helper">
        <div class="fluid-width">
            <div class="profile__image profile__thumb">
                <sip-img ng-src="{{vm.listing.ownerMedia.url + '?size=128x128'}}" type="background"></sip-img>
            </div>
            <p class="text--semibold margin-bottom text-center"
                data-translate="inbox.message_to"
                data-translate-values="{ interlocutorName: vm.listing.owner.fullname || undefined }"></p>
            <p data-translate="inbox.conversation_intro_taker"></p>
        </div>
    </div>
    <div class="small-12 s-medium-8 content">
        <form name="itemQuestionForm"
            class="fluid-width form--control"
            novalidate>
            <div>
                <div ng-hide="vm.noTimeBookingSelected">
                    <p class="margin-top text--semibold"
                        data-translate="listing.time.date_calendar_title"></p>
                    <div class="flex-container flex--space">
                        <div class="datepicker-side datepicker-left">
                            <!-- Use ng-focus trigger along with ng-click to allow to tap readonly datepicker on some devices (iOS) -->
                            <!-- Calendar icon as fallback for closing datepicker -->
                            <div class="input__inner-icon-container">
                                <input
                                    type="text"
                                    ng-model="vm.startDate"
                                    ng-click="vm.openDatepicker('startModal')"
                                    ng-focus="vm.openDatepicker('startModal')"
                                    ng-blur="vm.closeDatepicker('startModal')"
                                    ng-change="vm.displayPrice()"
                                    uib-datepicker-popup="{{vm.formatDate}}"
                                    data-datepicker-options="vm.startDateOptions"
                                    data-datepicker-append-to-body="false"
                                    data-is-open="vm.startDateModalOpened"
                                    data-show-button-bar="false"
                                    data-translate-attr="{ placeholder: 'time.start_label' }"
                                    readonly
                                    data-sip-autoblur="vm.iOS">
                                <div class="input__inner-icon icon-right cursor-pointer"
                                    ng-class="{active: vm.startDateModalOpened}"
                                    ng-click="vm.startDateModalOpened = ! vm.startDateModalOpened;">
                                    <svg class="icon">
                                        <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="datepicker-side datepicker-right">
                            <div class="input__inner-icon-container">
                                <input
                                    type="text"
                                    ng-model="vm.endDate"
                                    ng-click="vm.openDatepicker('endModal')"
                                    ng-focus="vm.openDatepicker('endModal')"
                                    ng-blur="vm.closeDatepicker('endModal')"
                                    ng-change="vm.displayPrice()"
                                    uib-datepicker-popup="{{vm.formatDate}}"
                                    data-datepicker-options="vm.endDateOptions"
                                    data-datepicker-append-to-body="false"
                                    data-is-open="vm.endDateModalOpened"
                                    data-show-button-bar="false"
                                    data-translate-attr="{ placeholder: 'time.end_label' }"
                                    readonly
                                    data-sip-autoblur="vm.iOS">
                                <div class="input__inner-icon icon-right cursor-pointer"
                                    ng-class="{active: vm.endDateModalOpened}"
                                    ng-click="vm.endDateModalOpened = ! vm.endDateModalOpened;">
                                    <svg class="icon">
                                        <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center" ng-show="vm.showIncorrectDates"
                    data-translate="time.error.incorrect_dates"></p>
                <label for="listing-question-private-content"
                    data-translate="inbox.private_question_placeholder"></label>
                <textarea id="listing-question-private-content" name="privateContent"
                    rows="5"
                    ng-model="vm.privateContent"
                    ng-maxlength="2000"
                    ng-required="! vm.publicContent"
                    data-translate-attr="{ placeholder: 'inbox.message_odds_of_success' }"
                    sip-textarea-auto-adjust>
                </textarea>
                <!-- Do not show form-warning when invalid-maxlength -->
                <div class="form-warning text--semibold"
                    uib-collapse="! itemQuestionForm.privateContent.$touched || ! itemQuestionForm.privateContent.$invalid || itemQuestionForm.privateContent.$error.maxlength"
                    data-translate="inbox.required_message">
                </div>
            </div>
            <div ng-show="vm.editPublicQuestion && ! vm.conversation">
                <label for="listing-question-public-content"
                    data-translate="inbox.public_question_placeholder"></label>
                <textarea id="listing-question-public-content" name="publicContent"
                    rows="5"
                    ng-model="vm.publicContent"
                    ng-maxlength="2000"
                    data-translate-attr="{ placeholder: 'inbox.public_message_context' }"
                    sip-textarea-auto-adjust>
                </textarea>
            </div>
            <button class="button center"
                type="submit"
                ng-class="{ disabled: (vm.disableBookingButton && ! vm.listingNotBookable) || itemQuestionForm.privateContent.$invalid || itemQuestionForm.publicContent.$invalid}"
                ng-disabled="(vm.disableBookingButton && ! vm.listingNotBookable) || itemQuestionForm.privateContent.$invalid || itemQuestionForm.publicContent.$invalid"
                ng-click="onOk()"
                data-translate="prompt.send_button">
            </button>
        </form>
    </div>
</div>
