<form novalidate name="promptModalForm" class="signin-form" ng-class="{ 'gentle-shake': vm.formAnimationError }">
    <a zf-close="" class="close-button">×</a>
    <div data-sip-logo></div>
    <!-- Phone validation -->
    <div class="margin-bottom" ng-if="vm.info === 'phone' || vm.info === 'phoneNew'" ng-switch="vm.step">
        <div ng-switch-when="1">
            <p class="sign__text">
                {{vm.greeting[vm.info]}}
            </p>
            <input type="tel"
                ng-model="vm.phone"
                required
                data-sip-autofocus="vm.autofocus"
                data-translate-attr="{ placeholder: 'user.phone_number_label' }">
            <p class="sign__text">
                <span ng-if="promptModalForm.$invalid" data-translate="user.contact_info_kept_private"></span>
                <span ng-if="promptModalForm.$valid" data-translate="user.prompt.SMS_validation_code_helper"></span>
            </p>
        </div>
        <div ng-switch-when="2">
            <p class="sign__text" data-translate="user.prompt.SMS_validation_code_sent">
            </p>
            <!-- Use ng-pattern instead of type number to avoid dropping leading zeros -->
            <input type="tel"
                ng-model="vm.signCode"
                ng-pattern="/^[0-9]{4}$/"
                required
                data-sip-autofocus="vm.autofocus"
                data-translate-attr="{ placeholder: 'form.validation_code_placeholder' }">
        </div>
        <div class="text-center spinner-button-container">
            <button class="button sip-button spinner-button--center margin-top"
                    ng-disabled="promptModalForm.$invalid"
                    ng-class="{disabled: promptModalForm.$invalid}"
                    ng-click="vm.action()">
                <span ng-switch="vm.step">
                    <span ng-switch-when="1" data-translate="prompt.send_button"></span>
                    <span ng-switch-when="2" data-translate="prompt.continue_button"></span>
                </span>
            </button>
            <span class="spinner-container">
                <span data-us-spinner="{scale: 0.5}" data-spinner-key="phone-verify-spinner"></span>
            </span>
        </div>
        <p class="sign__text sign__error" ng-if="vm.displayPhoneCodeError" data-translate="error.invalid_code"></p>
    </div>
    <!-- Locations -->
    <div class="margin-bottom" ng-if="vm.info === 'mainLocation'" ng-switch="vm.step">
        <p class="sign__text margin-bottom">
            <span ng-switch-when="1">{{vm.greeting.mainLocation}}</span>
            <span ng-switch-when="2">{{vm.greeting.secondLocation}}</span>
        </p>
        <input type="text"
            ng-model="vm.locationSearchInput"
            ng-autocomplete
            data-options="vm.ngAutocompleteOptions"
            data-details="vm.locationSearchObject"
            data-sip-autofocus="vm.autofocus"
            data-translate-attr="{ placeholder: 'places.address_placeholder' }">
        <p class="sign__text"
            ng-switch-when="1" data-translate="user.contact_info_kept_private">
        </p>
        <button class="button sip-button center margin-top"
                ng-disabled="! vm.locationSearchObject"
                ng-class="{disabled: ! vm.locationSearchObject}"
                ng-click="vm.action()">
            <span ng-switch="vm.step">
                <span ng-switch-when="1" data-translate="prompt.save_button"></span>
                <span ng-switch-when="2" data-translate="prompt.generic_add_button"></span>
            </span>
        </button>
        <p ng-switch-when="2" class="sign__text no-margin-bottom">
            <a class=" link--grey" ng-click="vm.bypassLocation()"
            data-translate="prompt.later_button"></a>
        </p>
    </div>
    <!-- Email -->
    <div class="margin-bottom" ng-if="vm.info === 'email'">
        <p class="sign__text margin-bottom">
            <span>{{vm.greeting.email}}</span>
        </p>
        <input type="email"
            spellcheck="false"
            ng-model="vm.email"
            required
            data-translate-attr="{ placeholder: 'authentication.placeholder.email' }">
        <button class="button sip-button center margin-top"
                ng-disabled="! vm.email"
                ng-class="{disabled: ! vm.email}"
                ng-click="vm.action()"
                data-translate="prompt.save_button">
        </button>
    </div>
    <!-- Email new -->
    <div class="margin-bottom" ng-if="vm.info === 'emailNew'">
        <p class="sign__text margin-bottom">
            <label for="prompt-info-modal__email-new-input">
                {{vm.greeting.emailNew}}
            </label>
        </p>
        <input id="prompt-info-modal__email-new-input"
            type="email"
            spellcheck="false"
            ng-model="vm.emailNew"
            data-sip-autofocus="vm.autofocus"
            required
            data-translate-attr="{ placeholder: 'authentication.placeholder.email' }">
        </p>
        <div class="text-center spinner-button-container">
            <button class="button sip-button spinner-button--center margin-top"
                    ng-disabled="! vm.emailNew"
                    ng-class="{disabled: ! vm.emailNew}"
                    ng-click="vm.action()"
                    data-translate="prompt.save_button">
            </button>
            <span class="spinner-container">
                <span data-us-spinner="{scale: 0.5}" data-spinner-key="email-new-check-spinner"></span>
            </span>
        </div>
    </div>
</form>
