<div class="background-image">
  <a href="/">
    <img data-interchange="[/assets/img/common/Sharinplace404small.jpg, (small)], [/assets/img/common/Sharinplace404small-retina.jpg, (retina and (max-width: 640px))], [/assets/img/common/Sharinplace404medium.jpg, (medium)], [/assets/img/common/Sharinplace404.jpg, (only screen and (min-width: 1400px))]" alt="Sharinplace - Erreur 404">
  </a>
  <noscript><img src="/assets/img/common/Sharinplace404.jpg" alt="Sharinplace - Erreur 404"></noscript>
</div>
<footer id="footer" class="opaque">
  <div class="row description">
    <div class="medium-6 medium-push-6 columns text-center soc-footer">
      <div class="row">
        <div class="small-3 columns">
          <a href="#" class="soc-mail" data-reveal-id="contact-modal"><i class="fi-mail"></i><p>Contact</p></a>
        </div>
        <div class="small-3 columns">
          <a href="https://twitter.com/sharinplace" class="social-twitter" title="Cui..." target="_blank"><i class="fi-social-twitter"></i><p>@Sharinplace</p></a>
        </div>
        <div class="small-3 columns">
          <a href="https://www.facebook.com/sharinplace" class="social-facebook" target="_blank"><i class="fi-social-facebook"></i><p>Facebook</p></a>
        </div>
        <div class="small-3 columns end">
          <a href="https://plus.google.com/110049230780199588365" class="social-google-plus" title="Plus?" target="_blank"><i class="fi-social-google-plus"></i><p>Google+</p></a>
        </div>
      </div>
    </div>
    <div class="medium-6 medium-pull-6 columns small-only-text-center">
      <p class="copyright">© Sharinplace, 2015 - Partage et location d'objets entre particuliers.</br>Tous droits réservés - <span class="legal-reveal" data-reveal-id="legal-modal">Mentions légales</span>
    </div>
  </div>
</footer>

<div id="alert-container"></div>
<div id="legal-modal" class="reveal-modal" data-reveal>
  <p>
    <b>Éditeur du site</b></br>Sharinplace
    </br>Mail : contact@<span class="hide">null</span>sharinplace.fr
    </br>Directeur de la publication : <strong>Andy Bruère</strong>
  </p>
  <p>
    <b>Hébergeur</b></br><a href="https://www.ovh.com" target="_blank" rel="nofollow">OVH</a></br>2 rue Kellermann - 59100 Roubaix</br>Téléphone : 08 203 203 63
  </p>
  <p>
    <b>Informatique et libertés</b>
    </br>Le site Sharinplace.fr a fait l’objet d’une déclaration auprès de la CNIL sous le numéro 1763495.</br>
    Conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 modifiée en 2004 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, droit que vous pouvez exercer simplement en vous adressant à contact@<span class="hide">null</span>sharinplace.fr.
  </p>
  <p>
    <b>Propriété intellectuelle</b>
    </br>L’intégralité de ce site internet relève des législations française et internationale sur la propriété intellectuelle et le droit d’auteur. Tous les droits de reproduction sont réservés, incluant les textes, photographies, logos et autres graphismes. La reproduction totale ou partielle de ce site internet est interdite.
  </p>
  <a href="#" class="close-reveal-modal">&#215;</a>
</div>
<div id="contact-modal" class="reveal-modal text-center medium" data-reveal>
  <i class="fi-mail"></i>
  <form novalidate id="contact-form">
    <div class="row">
      <div class="large-6 columns">
          <input type="email" name="email" class="email" placeholder="Votre email" />
      </div>
      <div class="large-6 columns">
          <input type="text" name="subject" class="subject" placeholder="Objet" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <textarea name="message" placeholder="Par ici le petit message ! Nous serons ravis de vous répondre dans les 24 heures."></textarea>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button id="contact-submit">Envoyer</button>
      </div>
    </div>
  </form>
  <a href="#" class="close-reveal-modal">&#215;</a>
</div>
