<div class="search__advanced-search"
    data-click-not-here="vm.config.showAdvancedSearch = false"
    data-click-not-here-bounds-id="header-container"
    data-click-not-here-exclude-class="main-header"
    uib-collapse="! vm.config.showAdvancedSearch">
    <form name="vm.searchFiltersForm"
        ng-if="! vm.destroyForm">
        <div class="margin-top-plus">
            <div class="margin-bottom-plus" uib-collapse="!(vm.fetchedListingTypes && !vm.selectedListingType)">
                <div class="query-label" data-translate="search.listing_types_filter">
                </div>
                <div class="text-right margin-bottom">
                    <span class="link--blue-underline text--small cursor-pointer"
                        ng-click="vm.selectAllListingTypes()"
                        data-translate="prompt.select_all_button"
                    >
                    </span>
                    <span>&nbsp;/&nbsp;</span>
                    <span class="link--blue-underline text--small cursor-pointer"
                        ng-click="vm.deselectAllListingTypes()"
                        data-translate="prompt.deselect_all_button"
                    >
                    </span>
                </div>
                <div class="padding-top grid-block wrap small-up-3 desktop-up-4">
                    <div class="padded-sides" ng-repeat="listingType in vm.listingTypes track by listingType.id">
                        <span class="small switch switch--success">
                            <input id="search__listing-type-{{listingType.id}}" type="checkbox"
                                ng-model="vm.params.activeListingTypesIds[listingType.id]"
                                ng-change="vm.updateListingTypes()">
                            <label for="search__listing-type-{{listingType.id}}"></label>
                        </span>
                        <span>
                            {{listingType.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="search__my-locations padding-bottom margin-bottom"
            data-uib-collapse="vm.params.queryMode === 'relevance' || ! vm.myLocations.length">
            <p class="margin-top padding-top query-label text--semibold">
                <span data-translate="search.locations_filter"></span>&nbsp;
                <span class="badge tooltip-badge tooltip-dispensable"
                    data-tooltip-placement="auto bottom"
                    data-tooltip-trigger="mouseenter outsideClick"
                    uib-tooltip="{{vm.locationHelperMessage}}">
                    ?
                </span>
            </p>
            <div class="flex-container flex--center flex--wrap">
                <div class="search__location-container"
                    ng-repeat="loc in vm.myLocations track by loc.id">
                    <div class="delete-button cursor-pointer"
                        ng-if="! vm.isAuthenticated"
                        ng-click="vm.removeTmpLocation(loc); $event.stopPropagation();">
                        x
                    </div>
                    <span class="location-tag ellipsis cursor-pointer"
                        ng-class="{disabled: ! vm.params.myLocations[loc.id]}"
                        ng-click="vm.toggleLocation(loc.id)">
                        {{ loc.alias ? loc.alias : loc.shortName }}
                    </span>
                </div>
            </div>
        </div>
        <div class="padding-top">
            <button class="button button--highlight brightblue margin-bottom"
                type="submit"
                ng-click="vm.search()">
                <svg class="icon icon--inline">
                    <use xlink:href="/assets/build/icons/sprite.svg#magnifying"/>
                </svg>
                <span data-translate="navigation.search"></span>
            </button>
        </div>
        <div>
            <button class="button red text--semibold"
                ng-click="vm.config.showAdvancedSearch = false"
                data-translate="navigation.back"
            >
            </button>
        </div>
    </form>
</div>
