<div class="fluid-width home"
    data-sip-ux-event="^footer__link"
    data-ux-event-name="Home click">
    <div id="home-hero" class="home-hero__wrapper stelace-hero stelace-hero__background">
        <div class="home-hero__content flex-container flex--column text-center flex--align-center">
            <h1 class="order-1"
                data-translate="landing.homepage.header"
                data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }">
            </h1>
            <h2 class="order-2"
                data-translate="landing.homepage.subheader"
                data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }"
                ></h2>
            <a id="home-hero-cta-button"
                class="order-3 button button--big brightblue"
                ui-sref="listingCreate"
                data-translate="landing.homepage.main_cta"></a>
        </div>
        <div class="search-bar">
            <form novalidate id="home-search-form">
                <div class="inline-label">
                    <div class="input__inner-icon-container">
                        <span class="input__inner-icon icon-left">
                            <svg class="icon">
                                <use xlink:href="/assets/build/icons/sprite.svg#magnifying"/>
                            </svg>
                        </span>
                        <input type="search"
                            id="query-search"
                            class="form-control"
                            data-translate-attr ="{ placeholder: 'prompt.search.query_placeholder' }"
                            ng-model="vm.searchQuery"
                            autocomplete="off">
                    </div>
                    <button ng-click="vm.search()"
                        class="button button--highlight brightblue">
                        <span data-translate="navigation.search"></span>
                        <svg class="icon icon--inline margin-left margin-right">
                            <use xlink:href="/assets/build/icons/sprite.svg#magnifying"/>
                        </svg>
                    </button>
                    <div class="input__inner-icon-container hide-for-small-only">
                        <span class="input__inner-icon icon-left">
                            <svg class="icon">
                                <use xlink:href="/assets/build/icons/sprite.svg#location"/>
                            </svg>
                        </span>
                        <input id="location-search" type="search"
                            data-translate-attr ="{ placeholder: 'prompt.search.near_location_placeholder' }"
                            ng-model="vm.searchLocationInput"
                            ng-if="vm.isGoogleMapSDKReady"
                            ng-autocomplete
                            data-options="vm.ngAutocompleteOptions"
                            data-details="vm.searchLocation">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="home__listing-board">
        <div class="padding-bottom">
            <div id="home-listings" class="listing-grid grid-block small-up-2 medium-up-3 desktop-up-6 padded-sides"
                itemscope
                itemtype="http://schema.org/ItemList">
                <div
                    class="grid-block listing-grid__listing-wrapper"
                    data-listing="listing"
                    data-display-duration="false"
                    data-position="{{ $index + 1 }}"
                    ng-repeat="listing in vm.listings track by listing.id"
                    itemprop="itemListElement"
                    itemscope
                    itemtype="http://schema.org/Product"
                    stelace-listing-card>
                </div>
            </div>
        </div>
        <div class="fluid-content text-center margin-bottom-plus padding-bottom">
            <h3 class="text-center text--semibold margin-bottom">
                <span data-translate="landing.homepage.content_cta_header"></span>
            </h3>
            <a id="samples-add-listing-button" class="add-listing-button button button--highlight"
                ui-sref="listingCreate">
                <svg class="icon--inline icon">
                    <use xlink:href="/assets/build/icons/sprite.svg#plus-squared"/>
                </svg>
                &nbsp;
                <span data-translate="landing.homepage.content_cta_button"></span>
            </a>
        </div>
        <p class="fluid-content text-center" data-translate="landing.homepage.main_text_content"></p>
    </div>
    <div ng-include="'/assets/app/layout/footer.html'"></div>
</div>
