@import "../base/all";

.app {
    .assessment {

        .card-divider {
            @include card-divider(
                $background: $platform-color-purple,
                $padding: 0.25rem 0.25rem 0.125rem 0.75rem
            );
        }

        .profile__image {
            width: 4rem;
            height: 4rem;
        }

        .item__image {
            max-width: 10rem;
            margin: 1rem auto;
        }

        .card {
            padding: 1rem 1rem 0;
            @media #{$mq-from-large} {
                padding: 1rem 1.5rem 0;
            }
        }

    }
}
