@import "../base/all";

.booking {
    font-size: 0.875rem;
    // TODO : same general styles for inbox, to factorize
    p, textarea, select, input, label {
        font-size: 0.875rem;
    }
    .select-file {
        color: #FFF;
    }
    // TODO: factorize titles (here same as conversation h2)
    h2 {
        font-weight: 600;
        font-size: 1.25rem;
        @media #{$mq-from-tablet} {
            font-size: 1.625rem;
        }
    }
    hr.collapse-bottom {
        margin: 2rem 0 -1rem;
    }
    .fluid-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .booking__payment {
        .flex-container select:not(:last-child) {
            margin-right: 1rem;
        }

        .flex-form-line > :not(:last-child){
            padding-right: 1rem;
        }

        input[type=radio] {
            outline: none;
            margin-top: 2px;
        }
    }

    $booking-summary-width: 20rem;
    .booking-summary__container {
        position: relative;
        max-width: $booking-summary-width;
        @media #{$mq-until-tablet} {
            align-self: center;
            margin-bottom: 1rem;
        }
    }
    .booking-summary {
        z-index: 10;
        background-color: $stl-color-white;
        border: 1px solid $stl-color-border;
        @media #{$mq-from-desktop} {
            position: absolute;
            width: $booking-summary-width;
            margin-left: 2rem;
        }
        @media #{$mq-from-large} {
            margin-left: 6rem;
        }
        &:not([data-sip-sticky-sidebar]) {
            position: static; // not sticky in payment confirmation
        }
    }
    .booking-summary__content {
        padding: 0.75rem 1rem;
        hr {
            width: 30%;
            margin: 0.75rem auto;
        }
        // all content should be visible with scroll on narrow height screens
        // May contain more than 4 locations (~ 600px total height) for Sharinplace Account
        @media #{$mq-from-desktop} and (max-height: 700px) {
            max-height: 26rem; // total height: + 12rem (image) + 2rem (title) = 40 * 16 ~ 640px
            overflow-y: auto;
            overflow-x: hidden;
        }
        @media #{$mq-from-desktop} and (max-height: 640px) {
            max-height: 20rem; // total height ~ 544px
        }
        @media #{$mq-from-desktop} and (max-height: 550px) {
            max-height: 14rem; // total height ~ 450px
        }
        // .flex-container > div {
        //     flex: 1 0;
        //     &:first-child {
        //         flex: 2 0;
        //     }
        // }
    }
    .booking-summary__title {
        h1 {
            font-size: 1.125rem;
            font-weight: 600;
            color: $stl-color-secondary-text;
            margin: 0;
        }
        background-color: $stl-color-secondary;
        padding: 0.25rem 0.5rem;
    }
    .booking-summary__picture {
        width: 100%;
        height: 12rem;
    }
    .booking-summary__locations {
        font-size: 0.8rem;
        line-height: 1.6;
    }
    .booking-summary__price {
        font-size: 0.8rem;
        line-height: 1.6;
        // > :last-child {
        //     font-size: 1rem;
        // }
    }

    #card-input-container {
        margin-right: 0.125rem;
    }
    #card-number {
        display: inline-block;
        // manage line-break and margin on mobiles
        ~ .form-warning {
            margin-top: -0.5rem;
        }
    }
    .card-type-logo {
        height: 2rem;
        border-radius: 0.5 * $global-radius;
        margin: 3px 0 1rem 0.25rem;
        border: 1px solid $stl-color-border;
        transition: all 0.3s;
        &.inactive {
            opacity: 0.25
        }
        &.active {
            border: 1px solid $stl-color-border-dark;
        }
    }

    .booking__message {
        .textarea-auto-adjust {
            max-width: 40rem;
        }
    }

    .booking__confirm {
        button {
            @include button-style(
                $background: $stl-color-calltoaction,
                $background-hover: $stl-color-calltoaction-light
            );
            margin-top: 1rem;
        }

        .booking__confirmation-paragraph {
            text-align: justify;
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
        }

        .secure-mode p {
            font-size: 0.875rem;
        }

        .submit-zone {
            position: relative;
        }
    }

    #powered-by, #secure-mode-logo {
        display: block;
        margin: 1rem auto;
    }

    .booking__payment-processing {
        h2.spinner-space {
            margin-bottom: 4rem;
        }
        min-height: 15rem;
        padding-bottom: 1rem;
    }

    .booking__payment-message {
        position: relative;
        font-size: 1rem;
        padding-top: 3rem; // space for spinner
        > div {
            min-height: 3rem;
        }
        .status-icon {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            .icon {
                height: 5rem;
                width: 5rem;
            }
            .icon.success {
                fill: $stl-color-success;
            }
            .icon.failure {
                fill: $stl-color-red;
            }
        }
    }

    .switch {
        vertical-align: middle;
        & ~ span {
            margin-left: 0.5rem; // avoid to change switch marigins
        }
    }

    .card-error {
        color: #FF7800;
    }

    .StripeElement {
        background-color: $input-background;
        padding: 0.6rem;
        border-radius: 2px;
        border: 1px solid $stl-color-border;
    }

    .StripeElement:hover, .StripeElement--focus {
        border: 1px solid $stl-color-border-dark;
    }

    .StripeElement--invalid,
    .StripeElement.touched:not(.StripeElement--focus):not(.StripeElement--complete),
    .StripeElement.form-submitted:not(.StripeElement--complete) {
        background-color: rgba(255, 120, 0, 0.1);
        border: 1px solid rgba(255, 120, 0, 0.5);
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
}
