$platform-color-red      : #B60030;
$platform-color-orange   : #FF7800;
$platform-color-blue     : #00578E;
$platform-color-green    : #00AA3C;
$platform-color-purple   : #78287D;
$platform-color-turquoise: #1ABC9C;

$facebook-color   : #3A5898;
$twitter-color    : #2AA9E0;
$google-plus-color: #D34836;
$linked-in-color  : #0077B5;
$pinterest-color  : #BD081C;

$platform-color-darkblue  : rgb(51,51,81); // #333351
$platform-color-brightblue: #009BFC; // scale-color($platform-color-blue, $lightness: 30%)
$platform-color-bronze    : #CD7F32;
$platform-color-silver    : #BFC1C2;
$platform-color-gold      : #F2A900;
