.highlight-translations {
    [data-translate] {
        outline: 2px solid $platform-color-green;
    }
    [data-translate-attr]::placeholder {
        text-decoration: underline;
        color: $platform-color-green;
    }
}
