<div class="grid-block conversation__assessment">
    <div class="medium-1"></div>
    <div class="small-12 medium-10 plain-card">
        <div class="plain-card__divider"
            ng-class="{'cursor-pointer': vm.showForm}"
            ng-click="vm.collapse = ! vm.collapse">
            <h3 data-translate="assessment.assessment_title"
                data-translate-values="{ step: vm.stepType, showRatings: !!vm.ratings, showRatingsOnly: vm.showRatingsOnly }"
            >
            </h3>
            <div class="collapse-arrow" ng-if="(vm.showForm || !!vm.ratings) && ! vm.collapse">
                &#x25B2;
            </div>
            <div class="collapse-arrow" ng-if="(vm.showForm || !!vm.ratings) && vm.collapse">
                &#x25BC;
            </div>
        </div>

        <div uib-collapse="vm.collapse">
            <form class="message__content form--control webkit-render-fix" name="assessmentForm"
                autocomplete="off"
                ng-if="vm.showForm && !vm.showRatingsOnly"
                novalidate>

                <h4 class="text--semibold no-margin-top margin-bottom"
                    ng-if="vm.assessment.endBookingId"
                    data-translate="assessment.validation.question_return"
                >
                </h4>
                <h4 class="text--semibold no-margin-top margin-bottom"
                    ng-if="vm.assessment.startBookingId"
                    data-translate="assessment.validation.question"
                >
                </h4>

                <select id="select-status"
                    ng-model="vm.assessment.status"
                    ng-if="vm.assessment.startBookingId"
                    ng-disabled="vm.assessment.signedDate">
                    <option value="" selected disabled="disabled" data-translate="assessment.validation.status_placeholder"></option>
                    <option value="good" data-translate="assessment.validation.status_good"></option>
                    <option value="bad" data-translate="assessment.validation.status_bad"></option>
                </select>

                <select id="select-status"
                    ng-model="vm.assessment.status"
                    ng-if="vm.assessment.endBookingId"
                    ng-disabled="vm.assessment.signedDate">
                    <option value="" selected disabled="disabled" data-translate="assessment.validation.status_return_placeholder"></option>
                    <option value="good" data-translate="assessment.validation.status_return_good"></option>
                    <option value="bad" data-translate="assessment.validation.status_return_bad"></option>
                </select>

                <div class="text--vsmall margin-bottom-plus pull-t"
                    ng-if="vm.assessment.startBookingId"
                    ng-show="vm.assessment.status === 'bad'"
                    data-translate="assessment.validation.status_bad_message"
                >
                </div>
                <div class="text--vsmall margin-bottom-plus pull-t"
                    ng-if="vm.assessment.endBookingId"
                    ng-show="vm.assessment.status === 'bad'"
                    data-translate="assessment.validation.status_return_bad_message"
                >
                </div>

                <label for="state-comment"
                    ng-if="! vm.assessment.signedDate && vm.previousAssessment.comment">
                    <span data-translate="assessment.previous_comment"></span>
                    <span ng-if="vm.previousAssessment.comment" class="text--fade"><br>{{vm.previousAssessment.comment}}</span>
                </label>

                <textarea id="state-comment"
                    rows="6"
                    ng-maxlength="2000"
                    ng-if="vm.assessment.signedDate && vm.assessment.globalComment"
                    ng-model="vm.assessment.globalComment"
                    ng-disabled="vm.assessment.signedDate"
                    sip-textarea-auto-adjust>
                </textarea>
                <textarea id="state-comment"
                    rows="6"
                    ng-maxlength="2000"
                    ng-if="! vm.assessment.signedDate && vm.isTaker && (vm.assessment.status && vm.assessment.status !== 'good')"
                    ng-model="vm.assessment.comment"
                    ng-model-options="{ debounce: 300 }"
                    data-translate-attr="{ placeholder: 'assessment.comment_placeholder' }"
                    ng-disabled="vm.assessment.signedDate"
                    sip-textarea-auto-adjust>
                </textarea>

                <div ng-if="! vm.assessment.signedDate && !vm.isTaker && vm.stepType === 'end' && vm.assessment.status !== 'good'">
                    <label for="state-comment-diff" data-translate="assessment.comment_diff_helper">
                    </label>
                    <textarea id="state-comment-diff"
                        rows="6"
                        ng-maxlength="2000"
                        ng-model="vm.assessment.commentDiff"
                        ng-model-options="{ debounce: 300 }"
                        data-translate-values="{ placeholder: 'assessment.comment_diff_placeholder' }"
                        placeholder="Décrivez les différences"
                        ng-disabled="vm.assessment.signedDate"
                        sip-textarea-auto-adjust>
                    </textarea>
                </div>

                <a class="contract-link margin-bottom"
                    ng-href="{{vm.contractUrl}}"
                    target="{{vm.contractTarget}}"
                    ng-if="vm.showContract"
                    data-translate="booking.prompt.view_contract"
                >
                </a>

                <div class="text--semibold margin-bottom-plus" ng-if="vm.assessment.signedDate"
                    data-translate="assessment.transaction_validated_with_date"
                    data-translate-values="{ date: vm.assessment.signedDate, time: vm.assessment.signedDate }"
                >
                </div>

                <div class="text-center spinner-button-container">
                    <button class="button sip-button spinner-button--center" type="submit"
                        ng-if="vm.showAssessmentSaveButton"
                        ng-click="vm.save()"
                        data-translate="prompt.save_button">
                    </button>
                    <span class="spinner-container">
                        <span data-us-spinner="{scale: 0.5}" data-spinner-key="save-assessment-spinner"></span>
                    </span>
                </div>
            </form>

            <!-- rating -->
            <form class="message__content form--control webkit-render-fix" ng-if="vm.ratings" name="ratingForm"
                ng-class="{ 'no-padding-top': vm.showForm && !vm.showRatingsOnly }"
            >
                <div>
                    <div class="margin-bottom text--semibold" ng-if="(vm.otherRatingCreated || vm.otherRatingComplete) && ! vm.myRating.id"
                        data-translate="rating.incentive_message"
                        data-translate-values="{ userName: vm.interlocutor.firstname || vm.interlocutor.fullname }"
                    >
                    </div>
                    <h4 class="text--semibold"
                        data-translate="rating.rating_question"
                        data-translate-values="{ userName: vm.interlocutor.firstname || vm.interlocutor.fullname }"
                    >
                    </h4>
                    <div class="margin-bottom-plus" ng-if="vm.otherRating.id && vm.ratingsVisible">
                        <div class="text--semibold margin-bottom"
                            data-translate="rating.rating_given_user_label"
                            data-translate-values="{ userName: vm.interlocutor.firstname || vm.interlocutor.fullname }"
                        >
                        </div>
                        <div class="margin-bottom">
                            <span data-translate="rating.rating_label"></span>
                            <span>{{::vm.scoreMap[vm.otherRating.score]}}</span>
                            &nbsp;
                            <span
                                ng-if="::vm.otherRating.score"
                                data-user-score="{{::vm.otherRating.score}}"
                                data-no-tooltip="true"
                                data-sip-rating-stars>
                            </span>
                        </div>
                        <div class="margin-bottom">
                            <span data-translate="rating.comment_label"></span>
                            <span>{{::vm.otherRating.comment}}</span>
                        </div>
                    </div>
                    <div class="text--vsmall margin-bottom"
                        ng-if="vm.hasRated && ! vm.ratingsVisible"
                        data-translate="rating.rating_saved_messsage"
                    >
                    </div>
                    <label class="text--semibold" for="select-rating-score" data-translate="rating.your_rating_label">
                    </label>
                    <select id="select-rating-score"
                        ng-model="vm.myRating.score"
                        ng-options="scoreMap.score as scoreMap.label for scoreMap in vm.scoreMapSelect"
                        ng-disabled="vm.ratingsVisible">
                        <option value="" disabled="disabled" data-translate="rating.rating_placeholder"></option>
                    </select>
                    <div class="margin-bottom"
                        ng-model="vm.myRating.score"
                        data-max="5"
                        data-read-only="vm.ratingsVisible"
                        data-enable-reset="false"
                        data-uib-rating>
                    </div>
                    <div class="text--light text--small margin-bottom"
                        ng-show="vm.ratingsVisible"
                        data-translate="rating.rating_no_update_message"
                    >
                    </div>
                    <label for="rating-comment"
                        ng-if="vm.isOwner"
                        data-translate="rating.comment_on_user"
                        data-translate-values="{ userName: vm.interlocutor.firstname || vm.interlocutor.fullname }"
                    >
                    </label>
                    <label for="rating-comment"
                        ng-if="vm.isTaker"
                        data-translate="rating.comment_on_listing_with_name"
                        data-translate-values="{ listingName: vm.listing.name }"
                    >
                    </label>
                    <textarea id="rating-comment" name="ratingComment"
                        rows="4"
                        ng-maxlength="2000"
                        data-translate-attr="{ placeholder: vm.isOwner ? 'rating.rating_comment_on_user_placeholder' : 'rating.rating_comment_on_listing_placeholder' }"
                        data-translate-values="{ userName: vm.interlocutor.firstname || vm.interlocutor.fullname }"
                        ng-model="vm.myRating.comment"
                        ng-model-options="{ debounce: 300 }"
                        ng-disabled="vm.ratingsVisible"
                        ng-class="{'force-invalid': (vm.hasRated && ! vm.myRating.comment)}"
                        sip-textarea-auto-adjust>
                    </textarea>
                    <!-- Show warning when : saving assessment without comment OR leaving empty comment after touching OR rating previously saved without comment -->
                    <div class="form-warning text--semibold webkit-render-fix"
                        ng-if="! vm.ratingsVisible"
                        uib-collapse="!(
                            ((ratingForm.$submitted && ratingForm.ratingComment.$invalid)
                                || (ratingForm.ratingComment.$touched && ratingForm.ratingComment.$invalid)
                                || (vm.hasRated && ! vm.myRating.comment))
                            && !ratingForm.ratingComment.$error.maxlength
                        )"
                        data-translate="rating.rating_missing_comment_message"
                    >
                    </div>
                </div>
                <div class="fb-page__container margin-top-plus"
                    ng-if="vm.ratings && vm.facebookPagePlugin">
                    <div class="fb-page"
                        data-href="https://www.facebook.com/sharinplace/"
                        data-small-header="true"
                        data-width="500"
                        data-adapt-container-width="true"
                        data-hide-cover="false"
                        data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/sharinplace/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/sharinplace/">Page Facebook Sharinplace</a>
                        </blockquote>
                    </div>
                </div>

                <div class="text-center spinner-button-container margin-top">
                    <button class="button sip-button spinner-button--center" type="submit"
                        ng-if="vm.showRatingSaveButton"
                        ng-click="vm.saveRating()"
                        data-translate="prompt.save_button"
                    >
                    </button>
                    <span class="spinner-container">
                        <span data-us-spinner="{scale: 0.5}" data-spinner-key="save-assessment-spinner"></span>
                    </span>
                </div>
            </form>
        </div>

    </div>
    <div class="medium-1"></div>
</div>
