<div class="grid-block conversation__cta">
    <div class="medium-1"></div>
    <div class="small-12 medium-10 plain-card">
        <div class="plain-card__divider">
            <h3 data-translate="{{vm.ctaTitleKey}}">
            </h3>
        </div>
        <div class="message__content">
            <div class="cta__description">
                <div ng-if="vm.message.bookingStatus !== 'info'">
                    <span class="text--semibold">
                        <a ui-sref="listing({ slug: vm.listing.nameURLSafe + '-' + vm.listing.id })">{{vm.listing.name}}</a>
                        <span ng-if="vm.booking && !vm.listingTypeProperties.isTimeNone">
                            <span> (</span>
                            <span ng-if="vm.listingTypeProperties.isTimeFlexible"
                                data-translate="booking.from_start_date_to_end_date"
                                data-translate-values="{ start_date: vm.displayStartDate, end_date: vm.displayEndDate }"
                            >
                            </span>
                            <span ng-if="vm.listingTypeProperties.isTimePredefined"
                                data-translate="booking.on_date"
                                data-translate-values="{ date: vm.displayStartDate }"
                            >
                            </span>
                            <span>)</span>
                        </span>
                    </span>
                    <br>
                    <span class="text--vsmall text--fade"
                        ng-show="vm.booking && vm.isOwner">
                        <span data-translate="booking.summary.base_price_as_owner"
                            data-translate-values="{ price: vm.listingBasePrice }"
                        >
                        </span>
                        &nbsp;&bull;
                        <span data-translate="booking.summary.owner_fees"
                            data-translate-values="{ price: vm.booking.ownerFees }"
                        >
                        </span>
                        <span ng-if="vm.booking.deposit">
                            &nbsp;&bull;
                            <span data-translate="booking.summary.security_deposit"
                                data-translate-values="{ price: vm.booking.deposit }"
                            >
                            </span>
                        </span>
                    </span>
                    <span class="text--vsmall text--semibold"
                        ng-show="vm.booking && vm.isOwner">
                        <br>
                        <span data-translate="booking.summary.owner_net_amount"
                            data-translate-values="{ price: vm.ownerNetIncome }"
                        >
                        </span>
                    </span>
                    <span class="text--vsmall text--fade"
                        ng-show="vm.booking && ! vm.isOwner">
                        <span data-translate="booking.summary.base_price_as_taker"
                            data-translate-values="{ price: vm.listingBasePrice }"
                        >
                        </span>
                        &nbsp;&bull;
                        <span data-translate="booking.summary.taker_fees"
                            data-translate-values="{ price: vm.booking.takerFees }"
                        >
                        </span>
                        <span ng-if="vm.booking.deposit">
                            &nbsp;&bull;
                            <span data-translate="booking.summary.security_deposit"
                                data-translate-values="{ price: vm.booking.deposit }"
                            >
                            </span>
                        </span>
                    </span>
                </div>
                <div ng-if="vm.message.bookingStatus === 'info'">
                    <a class="text--semibold" ui-sref="listing({ slug: vm.listing.nameURLSafe + '-' + vm.listing.id })">{{vm.listing.name}}</a>
                </div>
            </div>
            <div class="cta__action" ng-show="vm.booking">
                <div ng-switch="vm.bookingState">
                    <div class="action-done" ng-switch-when="cancelled"
                        data-translate="booking.status_message.cancelled"
                    >
                    </div>
                    <div class="action-done" ng-switch-when="updated"
                        data-translate="booking.status_message.updated"
                    >
                    </div>
                    <div class="action-done" ng-switch-when="paidAndValidated"
                        data-translate="booking.status_message.paid_and_accepted"
                        data-translate-values="{ date: vm.booking.paidDate }"
                    >
                    </div>
                    <div class="action-done" ng-switch-when="paid">
                        <span ng-if="vm.isTaker"
                            data-translate="booking.status_message.paid_as_taker"
                            data-translate-values="{ date: vm.booking.paidDate }"
                        >
                        </span>
                        <span ng-if="!vm.isTaker"
                            data-translate="booking.status_message.paid_as_owner"
                            data-translate-values="{ userName: vm.interlocutor.fullname }"
                        >
                        </span>
                        <div class="margin-top"
                            ng-if="! vm.isTaker && vm.countdown && (vm.countdown.text || vm.countdown.showWarning)">
                            <span class="text--semibold" ng-if="vm.countdown.text"
                                data-translate="booking.remaining_time_to_accept",
                                data-translate-values="{ remainingTime: vm.countdown.text }"
                            >
                        </span>
                            <span class="user-generated" ng-if="vm.countdown.showWarning"
                                ng-class="{ 'text--semibold': vm.countdown.showWarning }"
                                ng-switch="vm.countdown.isImpending">
                                <span ng-switch-when="true" data-translate="booking.impending_cancellation_message"
                                    data-translate-values="{ userName: vm.interlocutor.fullname }"
                                >
                                </span>
                                <span ng-switch-when="false" data-translate="booking.coming_cancellation_message"
                                    data-translate-values="{ userName: vm.interlocutor.fullname }"
                                >
                                </span>
                            </span>
                            <span class="badge tooltip-badge"
                                ng-if="vm.countdown.text && vm.acceptanceDeadlineMessage"
                                data-tooltip-placement="auto top"
                                data-tooltip-trigger="mouseenter outsideClick"
                                data-tooltip-append-to-body="true"
                                uib-tooltip="{{vm.acceptanceDeadlineMessage}}">
                                ?
                            </span>
                        </div>
                    </div>
                    <div class="action-done" ng-switch-when="validated">
                        <span ng-if="vm.isTaker"
                            data-translate="booking.status_message.accepted_as_taker"
                            data-translate-values="{ userName: vm.interlocutor.fullname }"
                        >
                        </span>
                        <span ng-if="!vm.isTaker"
                            data-translate="booking.status_message.accepted_as_owner"
                        >
                        </span>
                    </div>
                </div>

                <a class="contract-link link--underline"
                    ng-href="{{vm.contractUrl}}"
                    target="{{vm.contractTarget}}"
                    ng-if="vm.showContract"
                    data-translate="booking.prompt.view_contract"
                >
                </a>

                <div ng-show="! vm.booking.cancellationId && ! vm.listing.snapshot && vm.message.isCtaActive">
                    <div ng-if="vm.isTaker && ! vm.booking.paidDate">
                        <button class="button calltoaction"
                            ui-sref="bookingPayment({id: vm.booking.id})"
                            data-translate="booking.prompt.view_contract"
                        >
                        </button>
                    </div>
                    <div ng-show="! vm.booking.acceptedDate && vm.isOwner">
                        <form class="form--control"
                            name="ctaBookingForm"
                            novalidate>
                            <label for="cta-answer-message"
                                data-translate="inbox.message_to"
                                data-translate-values="{ interlocutorName: vm.interlocutor.firstname || vm.interlocutor.fullname }"
                            >
                            </label>
                            <textarea id="cta-answer-message"
                                name="ctaAnswerMessage"
                                ng-class="{ 'force-invalid': vm.missingCtaAnswerMessage && (! vm.ctaAnswerMessage || vm.ctaAnswerMessage.length < 5) }"
                                rows="6"
                                ng-maxlength="2000"
                                ng-model="vm.ctaAnswerMessage"
                                ng-model-options="{ debounce: 300 }"
                                data-translate-attr="{ placeholder: 'inbox.acceptance_or_rejection_placeholder' }"
                                sip-textarea-auto-adjust>
                            </textarea>
                            <!-- We do not know if message is required beforehand -->
                            <div class="form-warning text--semibold"
                                uib-collapse="! vm.missingCtaAnswerMessage || (vm.ctaAnswerMessage && vm.ctaAnswerMessage.length >= 5)">
                                <span ng-hide="vm.rejectCollapse" data-translate="inbox.rejection_required_message"></span>
                                <span ng-show="vm.rejectCollapse"
                                    data-translate="inbox.required_message"
                                    data-translate-values="{ interlocutorName: vm.interlocutor.fullname }"
                                >
                                </span>
                            </div>
                            <p class="margin-bottom text-justify" ng-if="vm.publicQuestion" data-translate="inbox.public_question_helper">
                            </p>
                            <textarea name="publicMessage"
                                rows="5"
                                ng-if="vm.publicQuestion"
                                ng-model="vm.ctaPublicMessage"
                                ng-model-options="{ debounce: 300 }"
                                ng-maxlength="2000"
                                data-translate-attr="{ placeholder: 'inbox.public_question_placeholder' }"
                                sip-textarea-auto-adjust>
                            </textarea>
                            <button class="button calltoaction"
                                ng-click="vm.accept()"
                                ng-class="{disabled: ! vm.rejectCollapse}"
                                data-translate="booking.prompt.accept_button"
                            >
                            </button>
                            <button class="button grey"
                                ng-click="vm.reveal('reject')"
                                ng-class="{disabled: ! vm.rejectCollapse}"
                                data-translate="booking.prompt.reject_button"
                            >
                            </button>
                            <span class="cursor-pointer text--fade link--underline"
                                ng-show="vm.rejectCollapse"
                                ng-click="vm.onMessage({ privateMessage: vm.ctaAnswerMessage, publicMessage: vm.ctaPublicMessage }, vm.afterMessage)"
                                data-translate="prompt.send_button"
                            >
                            </span>
                            <span class="spinner-container" ng-if="vm.rejectCollapse">
                                <span data-us-spinner="{scale: 0.5}" data-spinner-key="booking-validation-spinner"></span>
                            </span>
                            <div uib-collapse="vm.rejectCollapse">
                                <button class="button"
                                    ng-click="vm.currentRequest = true; vm.onReject(vm.ctaAnswerMessage, vm.booking, vm.afterReject)"
                                    data-translate="booking.prompt.confirm_rejection_button"
                                >
                                </button>
                                <span class="cursor-pointer text--fade link--underline"
                                    ng-click="vm.reveal('none')" data-translate="prompt.cancel_button">
                                </span>
                                <span class="spinner-container" ng-if="! vm.rejectCollapse">
                                    <span data-us-spinner="{scale: 0.5}" data-spinner-key="booking-validation-spinner"></span>
                                </span>
                            </div>
                        </form>
                    </div>
                    <form class="form--control"
                        name="bankAccountForm"
                        novalidate>
                        <div class="bank-account-form padding-bottom"
                            ng-show="vm.showBankAccountForm">
                            <div class="cursor-pointer link--underline text--light"
                                ng-click="vm.bankAccountActive = ! vm.bankAccountActive"
                                ng-if="vm.showBankAccountToggle"
                                ng-switch="vm.bankAccountActive">
                                <span ng-switch-when="true" data-translate="booking.prompt.hide_banking_details"></span>
                                <span ng-switch-when="false" data-translate="booking.prompt.show_banking_details"></span>
                            </div>
                            <div uib-collapse="! vm.bankAccountActive">
                                <p ng-hide="vm.hasBankAccount" class="margin-top no-margin-bottom">
                                    <span class="text--semibold text--orange"
                                        data-translate="inbox.banking_details.main_message"
                                        data-translate-values="{ price: vm.booking.takerPrice }"
                                    >
                                    </span>
                                    <br>
                                    <span class="text--light"
                                        data-translate="inbox.banking_details.helper_message"
                                    >
                                    </span>
                                </p>
                                <div class="flex-container">
                                    <div class="small-6">
                                        <label for="owner-firstname" data-translate="user.firstname_label">
                                        </label>
                                        <input id="owner-firstname" type="text"
                                            ng-model="vm.firstName"
                                            ng-model-options="{ debounce: 300 }"
                                            required>
                                    </div>
                                    <div class="small-6">
                                        <label for="owner-lastname"  data-translate="user.lastname_label">
                                        </label>
                                        <input id="owner-lastname" type="text"
                                            ng-model="vm.lastName"
                                            ng-model-options="{ debounce: 300 }"
                                            required>
                                    </div>
                                </div>
                                <div ng-if="!vm.hasBankAccount">
                                    <label for="select-birth-day">
                                        <span data-translate="user.date_of_birth_label">
                                        </span>
                                        &nbsp;
                                        <span class="badge tooltip-badge"
                                            data-tooltip-placement="auto top"
                                            data-tooltip-trigger="mouseenter outsideClick"
                                            uib-tooltip="{{vm.adultPaymentTooltip}}">
                                            ?
                                        </span>
                                    </label>
                                    <div data-stl-select-birthday data-birth-date="{{vm.identity.birthday}}" on-change="vm.onChangeBirthday(date)"></div>
                                </div>
                                <label data-translate="inbox.banking_details.location"></label>
                                <input
                                    ng-if="vm.isGoogleMapSDKReady"
                                    ng-class="{'force-invalid': vm.missingAddress}"
                                    type="text"
                                    ng-model="vm.addressInput"
                                    ng-disabled="vm.hasBankAccount"
                                    ng-autocomplete
                                    data-options="vm.ngAutocompleteOptions"
                                    data-details="vm.addressLocation"
                                    data-translate-attr="{ placeholder: 'inbox.banking_details.location_placeholder' }">
                                <div ng-if="!vm.hasBankAccount">
                                    <label for="select-country" data-translate="pages.booking_payment.country_of_residence_label">
                                    </label>
                                    <select id="select-country" name="booking-country"
                                        ng-model="vm.identity.countryOfResidence"
                                        data-stl-select-country
                                        data-lang="{{config.lang}}"
                                        ng-change="vm.checkCountry()">
                                    </select>
                                </div>
                                <div class="flex-container">
                                    <div class="small-12">
                                        <label for="owner-iban" data-translate="inbox.banking_details.iban">
                                        </label>
                                        <input id="owner-iban" type="text"
                                            name="ownerIban"
                                            ng-class="{'force-invalid': vm.badIban}"
                                            ng-model="vm.iban"
                                            ng-disabled="vm.hasBankAccount"
                                            placeholder="FR7630..."
                                            required>
                                        <div class="form-warning text--semibold"
                                            uib-collapse="! bankAccountForm.ownerIban.$touched || ! bankAccountForm.ownerIban.$invalid && ! vm.badIban"
                                            data-translate="inbox.banking_details.invalid_iban_message"
                                        >
                                        </div>
                                    </div>
                                </div>
                                <button class="button"
                                    ng-click="vm.createBankAccount()"
                                    data-translate="prompt.save_button">
                                </button>
                                <span class="spinner-container" ng-if="vm.bankAccountActive">
                                    <span data-us-spinner="{scale: 0.5}" data-spinner-key="booking-validation-spinner"></span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="medium-1"></div>
</div>
