<div class="">
    <div class="header-space"></div>
    <div class="fluid-content space">
        <div class="plain-card">
            <div class="plain-card__divider">
                <h2 ng-switch="vm.filter">
                    <span ng-switch-when="transactions" data-translate="inbox.transactions_label"></span>
                    <span ng-switch-default data-translate="inbox.inbox_label"></span>
                </h2>
            </div>
            <div class="inbox__conversations">
                <div ng-if="vm.noConversation" data-translate="inbox.empty_inbox">
                </div>
                <a class="flex-container flex--align-center"
                    ng-repeat="conv in vm.conversations"
                    ng-class="{'new-message': conv.isNewMessage}"
                    ui-sref="conversation({ conversationId: conv.id })">

                    <div class="profile__image">
                        <sip-img class="webkit-render-fix" ng-src="{{conv.interlocutorMedia.url + '?size=128x128'}}" alt="{{conv.interlocutor.firstname}}" rounded="true"></sip-img>
                    </div>

                    <div class="inbox__conversation-content force-ellipsis">
                        <h3 class="interlocutor-name ellipsis">
                            {{::conv.interlocutor.displayName}}
                        </h3>
                        <div class="show-for-small-only text--semibold text--small ellipsis">
                            {{::conv.listing.name}}
                        </div>
                        <div class="show-for-small-only text--small ellipsis text--light">
                            <div class="text--semibold"
                                ng-if="conv.showAssessmentLabel"
                                ng-hide="conv.agreementStatus === 'cancelled'"
                                ng-class=" {'text--orange': ! conv.signedAssessment}"
                                data-translate="assessment.assessment_action"
                                data-translate-values="{ step: conv.assessmentStep, toConfirm: !conv.signedAssessment }"
                            >
                            </div>
                            <div ng-if="(! vm.filter || vm.filter !== 'transactions') || ! (conv.inputAssessmentId || conv.outputAssessmentId)"
                                ng-switch="!!conv.privateContent"
                            >
                                <span ng-switch-when="true">{{::conv.privateContent}}</span>
                                <span ng-switch-when="false"
                                    data-translate="inbox.conversation_with"
                                    data-translate-values="{ interlocutorName: conv.interlocutor.displayName }"
                                >
                                </span>
                            </div>
                        </div>
                        <div class="inbox__conversation-date text--small"
                            data-translate="time.date_long"
                            data-translate-values="{ date: conv.lastDate }"
                        >
                        </div>
                        <div class="show-for-small-only text--small text--semibold">
                            <span ng-class="{'text--orange': conv.statusWarning}"
                                data-translate="{{vm.statusMapKey[conv.agreementStatus] || vm.statusMapKey.information}}"
                            >
                            </span>
                            <span ng-if="conv.countdown || conv.countdownWarning">
                                <span class="inbox__conversation-countdown">&nbsp;&bull;&nbsp;{{conv.countdown ? conv.countdown : ""}}</span>
                                <span ng-if="conv.impendingCancellation" data-translate="booking.impending_cancellation"></span>
                                <span ng-if="!conv.impendingCancellation" data-translate="booking.remaining_time_to_accept"></span>
                            </span>
                        </div>
                    </div>

                    <div class="inbox__conversation-message show-for-medium flex-item--grow force-ellipsis">
                        <div class="text--small ellipsis">
                            <span class="text--semibold">
                                {{::conv.listing.name}}
                            </span>
                            <span class="text--light" ng-if="conv.startDate">
                                <span>(</span>
                                <span ng-if="(conv.displayStartDate && !conv.displayEndDate) || (conv.displayStartDate === conv.displayEndDate)"
                                    data-translate="inbox.booking_date"
                                    data-translate-values="{ date: conv.displayStartDate }"
                                >
                                </span>
                                <span ng-if="conv.displayStartDate && conv.displayEndDate"
                                    data-translate="inbox.booking_dates"
                                    data-translate-values="{ startDate: conv.displayStartDate, endDate: conv.displayEndDate }"
                                >
                                </span>
                                <span>)</span>
                            </span>
                        </div>
                        <div class="text--small ellipsis text--light">
                            <div class="text--semibold"
                                ng-if="conv.showAssessmentLabel"
                                ng-hide="conv.agreementStatus === 'cancelled'"
                                ng-class=" {'text--orange': ! conv.signedAssessment}"
                                data-translate="assessment.assessment_action"
                                data-translate-values="{ step: conv.assessmentStep, toConfirm: !conv.signedAssessment }"
                            >
                            </div>
                            <div ng-if="(! vm.filter || vm.filter !== 'transactions') || ! (conv.inputAssessmentId || conv.outputAssessmentId)"
                                ng-switch="!!conv.privateContent"
                            >
                                <span ng-switch-when="true">{{::conv.privateContent}}</span>
                                <span ng-switch-when="false"
                                    data-translate="inbox.conversation_with"
                                    data-translate-values="{ interlocutorName: conv.interlocutor.displayName }"
                                >
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="inbox__conversation-info text--semibold show-for-medium text-center">
                        <div ng-class="{ 'text--orange': conv.statusWarning}"
                            data-translate="{{vm.statusMapKey[conv.agreementStatus] || vm.statusMapKey.information}}"
                        >
                        </div>
                        <div class="text--vsmall" ng-if="conv.countdown || conv.countdownWarning">
                            <div class="inbox__conversation-countdown">{{conv.countdown ? conv.countdown : ""}}</div>
                            <div ng-if="conv.impendingCancellation" data-translate="booking.impending_cancellation"></div>
                            <div ng-if="!conv.impendingCancellation" data-translate="booking.remaining_time_to_accept"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div ng-include="'/assets/app/layout/footer.html'"></div>
</div>
