<div class="signin-form-container flex-container flex--center">
    <form name="loginForm" novalidate class="signin-form" ng-class="{ 'gentle-shake': vm.formAnimationError }">
        <div class="grid-content">
            <div class="logo-container">
                <svg id="logo">
                    <use xlink:href="/assets/build/icons/sprite.svg#logo-Sharinplace"/>
                </svg>
            </div>
            <p class="sign__text text-center" ng-switch="vm.redirectTarget">
                <span ng-switch-when="myItems">Connectez-vous à votre compte Sharinplace pour créer vos annonces et vendre ou louer vos objets en&nbsp;toute&nbsp;simplicité&nbsp;:</span>
                <span ng-switch-default>Connectez-vous à votre compte Sharinplace pour vendre ou louer vos objets et partager en toute simplicité&nbsp;:</span>
            </p>
        </div>
        <div class="grid-content">
            <input type="email"
                name="login-email"
                placeholder="Email"
                spellcheck="false"
                ng-model="vm.email"
                required>
        </div>
        <div class="grid-content">
            <input type="password"
                placeholder="Mot de passe"
                ng-model="vm.password"
                required>
        </div>
        <div class="sign__text sign__error" ng-if="vm.errorType" ng-switch="vm.errorType">
            <div ng-switch-when="empty">
                Veuillez renseigner votre adresse email et votre mot de passe.
            </div>
            <div ng-switch-when="bad email">
                Veuillez renseigner une adresse email valide.
            </div>
            <div ng-switch-when="other">
                Votre email/mot de passe est erroné.
            </div>
        </div>
        <button
            class="button sip-button center"
            ng-disabled="loginForm.$invalid"
            ng-class="{disabled: loginForm.$invalid}"
            ng-click="vm.login()">
            Se connecter
        </button>

        <p class="sign__text margin-bottom">Pas encore inscrit ?
            <a class="link--blue-underline" ui-sref="register">S'inscrire ici en deux clics.</a>
            <!-- ou : -->
        </p>
        <div class="grid-block shrink vertical" ng-if="vm.showSocialLogin">
            <div class="social-signin-container">
                <span class="social-signin fb cursor-pointer" ng-click="vm.socialLogin('facebook')">
                    <svg class="icon">
                        <use xlink:href="/assets/build/icons/sprite.svg#face"/>
                    </svg>
                    &nbsp;Se connecter avec Facebook
                </span>
                <span class="social-signin gpl cursor-pointer" ng-click="vm.socialLogin('google')">
                    <svg class="icon">
                        <use xlink:href="/assets/build/icons/sprite.svg#g-pl"/>
                    </svg>
                    &nbsp;Se connecter avec Google
                </span>
            </div>
        </div>

        <p class="sign__text margin-top-plus margin-bottom">Mot de passe oublié ? <a class="link--blue-underline" ui-sref="lostPassword">Cliquez ici.</a></p>

    </form>
</div>
