<div class="signin-form-container flex-container flex--center">
    <form novalidate class="signin-form">

        <div class="logo-container">
            <svg class="logo">
                <use xlink:href="/assets/build/icons/sprite.svg#stelace-logo"/>
            </svg>
        </div>

        <p class="sign__text"
            data-translate="authentication.lost_password_message"></p>

        <div>
            <input type="email" name="login-email"
                data-translate-attr="{ placeholder: 'authentication.placeholder.email' }"
                spellcheck="false"
                ng-model="vm.email">
        </div>

        <button class="button sip-button center"
            ng-click="vm.send(vm.email)"
            data-translate="prompt.continue_button"></button>

        <p class="sign__text margin-bottom">
            <a class="link--blue-underline"
                ui-sref="login"
                data-translate="navigation.back"></a>
        </p>


    </form>
</div>
