<div class="signin-form-container flex-container flex--center">
    <form novalidate class="signin-form">

        <div class="grid-content">
            <div class="logo-container">
                <svg id="logo">
                    <use xlink:href="/assets/build/icons/sprite.svg#logo-Sharinplace"/>
                </svg>
            </div>
        </div>

        <p class="sign__text">Veuillez renseigner votre adresse email pour créer un nouveau mot&nbsp;de&nbsp;passe&nbsp;:</p>

        <div class="grid-content">
            <input type="email" name="login-email" placeholder="Votre email" spellcheck="false" ng-model="vm.email">
        </div>

        <button class="button sip-button center" ng-click="vm.send(vm.email)">Envoyer</button>

        <p class="sign__text margin-bottom"><a class="link--blue-underline" ui-sref="login">Retour</a></p>


    </form>
</div>
