<!-- Password Recovery via email -->
<div class="signin-form-container flex-container flex--center">
    <form name="recoveryForm" novalidate class="signin-form">

        <div class="logo-container">
            <svg class="logo">
                <use xlink:href="/assets/build/icons/sprite.svg#stelace-logo"/>
            </svg>
        </div>

        <div ng-if="vm.display.error">
            <p class="sign__text"
                ng-if="vm.errors.tokenUsed"
                data-translate="authentication.password_reset.already_reset"></p>
            <p class="sign__text"
                ng-if="vm.errors.tokenExpired"
                data-translate="authentication.password_reset.link_expired"></p>
            <p class="sign__text"
                ng-if="vm.errors.other"
                data-translate="authentication.password_reset.link_expired"></p>
        </div>

        <div ng-if="vm.display.form">
            <p class="sign__text"
                ng-if="! vm.display.error && ! vm.display.success"
                data-translate="authentication.password_reset.message">
            </p>
            <div>
                <input type="password"
                    data-translate-attr="{ placeholder: 'authentication.placeholder.create_password' }"
                    ng-model="vm.newPassword"
                    ng-minlength="6"
                    required>
            </div>
            <div class="text-center spinner-button-container">
                <button
                    class="button sip-button spinner-button--center"
                    ng-disabled="recoveryForm.$invalid"
                    ng-class="{disabled: recoveryForm.$invalid}"
                    ng-click="vm.save(vm.newPassword)"
                    data-translate="prompt.save_button">
                </button>
                <span class="spinner-container">
                    <span data-us-spinner="{scale: 0.5}" data-spinner-key="save-password-spinner"></span>
                </span>
            </div>
        </div>

        <div ng-if="vm.display.success">
            <p class="sign__text"
                data-translate="authentication.password_reset.success"></p>
        </div>

        <p class="sign__text">
            <a class="link--blue-underline"
                ui-sref="login"
                ng-if="vm.display.success"
                data-translate="authentication.log_in_button">
            </a>
            <a class="link--blue-underline"
                ui-sref="login"
                ng-hide="vm.display.success || vm.display.form"
                data-translate="navigation.back">
            </a>
        </p>

    </form>
</div>
