<div class="listings listing-view">
    <div id="top" class="header-space"></div>

    <div ng-if="vm.displaySnapshotView">
        <div ng-include="'/assets/app/templates/listing-snapshot-view.html'"></div>
    </div>

    <div ng-if="! vm.displaySnapshotView">
        <div ng-if="vm.showMap && ! vm.mqMobileTablet" ng-include="'/assets/app/templates/listing-view-map.html'"></div>

        <section class="stelace-listing__content-container">
        <header class="stelace-listing__essential">
            <div class="fluid-content">
                <div class="flex-container flex--wrap">
                    <div class="small-12 medium-8 stelace-listing__summary flex-container">
                        <div class="owner__summary hide-for-small-only">
                            <a class="profile__image profile__thumb"
                                ui-sref="user({ id: vm.listing.owner.id })">
                                <sip-img ng-src="{{vm.listing.ownerMedia.url + '?size=128x128'}}" type="background"></sip-img>
                            </a>
                            <p class="text-center no-margin-bottom text--light"
                                ui-sref="user({ id: vm.listing.owner.id })">
                                {{vm.listing.owner.fullname}}
                                <span
                                    ng-if="vm.listing.owner.nbRatings && vm.listing.owner.ratingScore"
                                    data-user-score="{{::vm.listing.owner.ratingScore}}"
                                    data-user-ratings="{{::vm.listing.owner.nbRatings}}"
                                    data-name="{{::vm.listing.owner.fullname}}"
                                    data-sip-rating-stars>
                                </span>
                            </p>
                        </div>
                        <div class="flex-item--grow flex-container flex--column small-only-text-center">
                            <h1 id="listing-name"
                                class="user-generated"
                                itemprop="name">
                                {{::vm.listing.name}}
                            </h1>
                            <div class="pull-t">
                                <span class="bigger"
                                    ng-if="vm.listing.nbRatings && vm.listing.ratingScore"
                                    data-user-score="{{::vm.listing.owner.ratingScore}}"
                                    data-user-ratings="{{::vm.listing.owner.nbRatings}}"
                                    data-listing-score="{{::vm.listing.ratingScore}}"
                                    data-listing-ratings="{{::vm.listing.nbRatings}}"
                                    data-name="{{vm.listing.owner.fullname}}"
                                    data-count="{{::vm.listing.nbRatings}}"
                                    data-sip-rating-stars>
                                </span>
                            </div>
                            <div id="listing-locations" class="margin-bottom text--light text--small">
                                <svg class="icon icon--inline light-grey">
                                    <use xlink:href="/assets/build/icons/sprite.svg#location"></use>
                                </svg>
                                <span
                                    ng-repeat="location in ::vm.listingCities"
                                    itemprop="availableAtOrFrom"
                                    itemscope
                                    itemtype="http://schema.org/Place">
                                    <!-- Not using itemref="{{location.markerId}}" since can't detect mapReady in phantomJS -->
                                    <span itemprop="address"
                                        itemscope
                                        itemtype="http://schema.org/PostalAddress">
                                        <span itemprop="addressLocality">{{::location.city}}</span>{{! $last ? ", " : ""}}
                                        <meta itemprop="postalCode" content="{{::location.postalCode}}">
                                        <meta itemprop="addressRegion" content="{{::location.region}}">
                                        <!-- WARNING : hard-coded country to fix -->
                                        <meta itemprop="addressCountry" content="France">
                                    </span>
                                    <span itemprop="geo"
                                        itemscope
                                        itemtype="http://schema.org/GeoCoordinates">
                                        <meta itemprop="longitude" content="{{::location.longitude}}">
                                        <meta itemprop="latitude" content="{{::location.latitude}}">
                                    </span>
                                </span>
                                <a href="#mobile-map-title"
                                    ng-if="vm.showMap && vm.mqMobileTablet"
                                    data-translate="listing.see_map_action">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="small-gallery" class="medium-4 stelace-listing__summary-img-medium hide-for-desktop flex-container flex--center">
                        <div>
                            <sip-img class="cursor-pointer" ng-src="{{vm.listing.url + '?size=800x600&displayType=cover'}}" type="background" data-index="0" ng-click="vm.openImgSmallGallery($event)"></sip-img>
                        </div>
                        <div ng-if="vm.nbPictures > 2">
                            <sip-img class="cursor-pointer" ng-src="{{vm.listing.medias[1].url + '?size=400x300&displayType=cover'}}" type="background" data-index="1" ng-click="vm.openImgSmallGallery($event)"></sip-img>
                        </div>
                    </div>
                    <div class="small-12 medium-8 desktop-4 stelace-listing__book-container">
                        <div id="listing-book-medium" class="stelace-listing__book"
                            itemprop="offers"
                            itemscope
                            itemtype="http://schema.org/Offer"
                            itemref="listing-locations"
                            data-overlay-id="book__prices-overlay"
                            data-bound-id="owner-stats"
                            data-offset="{{ ! vm.showMap && ! vm.vm.mqMobileTablet ? 0 : null }}"
                            data-scroll-cta="{{ ! vm.showMap && ! vm.vm.mqMobileTablet ? 0 : null }}"
                            data-sip-sticky-sidebar>
                            <!-- <link href="http://purl.org/goodrelations/v1#LeaseOut"
                                itemprop="businessFunction"
                                itemtype="http://schema.org/BusinessFunction"
                                itemscope> -->
                            <div class="book__price">
                                <div ng-if="vm.showPrice" class="flex-container flex--space-between flex--align-center">
                                    <span class="text--small text--semibold"
                                        data-translate="listing.price_label"></span>
                                    <span class="text--emphasize">
                                        <span ng-if="vm.pricingTableData.data.totalPrice">
                                            <span ng-if="vm.listingTypeProperties.isTimeFlexible">
                                                <span data-translate="pricing.price_with_currency"
                                                    data-translate-values="{ price: vm.pricingTableData.data.dailyPrice }"
                                                >
                                                </span>
                                                <span data-translate="listing.time.unit_label_short"
                                                    data-translate-values="{ timeUnit: vm.pricingTableData.data.timeUnit }"
                                                >
                                                </span>
                                            </span>
                                            <span ng-if="!vm.listingTypeProperties.isTimeFlexible">
                                                <span data-translate="pricing.price_with_currency"
                                                    data-translate-values="{ price: vm.pricingTableData.data.totalPrice }"
                                                >
                                                </span>
                                            </span>
                                        </span>
                                        <span ng-if="! vm.pricingTableData.data.totalPrice"
                                            data-translate="listing.free"></span>
                                    </span>
                                </div>
                                <div ng-if="! vm.showPrice" class="flex-container flex--space-between flex--align-center">
                                    <span class="text--small text--semibold"
                                        data-translate="listing.time.unit_label"
                                        data-translate-values="{ timeUnit: vm.timeUnit, nbUnits: 1}"></span>
                                    <span class="text--emphasize">
                                        <span data-translate="pricing.price_with_currency"
                                            data-translate-values="{ price: vm.listing.prices[0] }"
                                            ng-show="vm.listing.prices.length"
                                        >
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="book__pics">
                                <sip-img ng-src="{{vm.listing.url + '?size=800x600&displayType=cover'}}" type="background"></sip-img>
                                <div id="book__prices-overlay">
                                    <div class="text--small fluid-height book__trust-container">
                                        <!-- TODO: use switches -->
                                        <div class="book__trust-line">
                                            <div class="book__trust-icon">
                                                <svg class="icon">
                                                    <use xlink:href="/assets/build/icons/sprite.svg#lock-check"></use>
                                                </svg>
                                            </div>
                                            <div class="book__trust-label"
                                                data-translate="listing.trust_helper.payments"
                                                data-translate-values="{ payment_gateway: PAYMENT_GATEWAY }">
                                            </div>
                                        </div>
                                        <div class="book__trust-line">
                                            <div class="book__trust-icon">
                                                <svg class="icon icon--inline">
                                                    <use xlink:href="/assets/build/icons/sprite.svg#checklist"></use>
                                                </svg>
                                            </div>
                                            <div class="book__trust-label"
                                                data-translate="listing.trust_helper.online_validation">
                                            </div>
                                        </div>
                                        <div class="book__trust-line">
                                            <div class="book__trust-icon">
                                                <svg class="icon book__trust-icon">
                                                    <use xlink:href="/assets/build/icons/sprite.svg#thumbs-up"></use>
                                                </svg>
                                            </div>
                                            <div class="book__trust-label"
                                                data-translate="listing.trust_helper.service_assistance"
                                                data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- HACK : Only allow scroll on reasonably narrow height desktop screens (500-640px) when some text below date inputs (room for datepicker to show without too much scroll) -->
                            <div class="book__dates"
                                ng-class="{'conditional-scroll': vm.showPrice}"
                                ng-if="(vm.listingTypeProperties.isTimeFlexible && vm.calendarReady) || !vm.listingTypeProperties.isTimeFlexible">
                                <div class="flex-container flex--space">
                                    <!-- Previously: ng-if="! vm.inlineDatepicker" -->
                                    <div class="datepicker-side datepicker-left"
                                        ng-if="vm.listingTypeProperties.isTimeFlexible">
                                        <label for="popup-start-date"
                                            data-translate="listing.time.from_day_label">
                                        </label>
                                        <!-- Use ng-focus trigger along with ng-click to allow to tap readonly datepicker on some devices (iOS) -->
                                        <!-- Calendar icon as fallback for closing datepicker -->
                                        <div class="input__inner-icon-container">
                                            <input id="popup-start-date"
                                                name="startDate"
                                                type="text"
                                                ng-model="vm.startDate"
                                                ng-click="vm.openDatepicker('start')"
                                                ng-focus="vm.openDatepicker('start')"
                                                ng-change="vm.displayTimeFlexiblePrice()"
                                                uib-datepicker-popup="{{vm.formatDate}}"
                                                data-datepicker-options="vm.startDateOptions"
                                                data-datepicker-append-to-body="false"
                                                data-is-open="vm.startDateOpened"
                                                data-show-button-bar="false"
                                                placeholder="{{vm.calendarPlaceholder}}"
                                                readonly
                                                data-sip-autoblur="vm.iOS">
                                            <div class="input__inner-icon icon-right cursor-pointer"
                                                ng-class="{active: vm.startDateOpened}"
                                                ng-click="vm.startDateOpened = ! vm.startDateOpened;">
                                                <svg class="icon">
                                                    <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datepicker-side datepicker-right"
                                        ng-if="vm.listingTypeProperties.isTimeFlexible">
                                        <label for="popup-end-date"
                                            data-translate="listing.time.to_day_label">
                                        </label>
                                        <div class="input__inner-icon-container">
                                            <input id="popup-end-date"
                                                type="text"
                                                ng-model="vm.endDate"
                                                ng-click="vm.openDatepicker('end')"
                                                ng-focus="vm.openDatepicker('end')"
                                                ng-change="vm.displayTimeFlexiblePrice()"
                                                uib-datepicker-popup="{{vm.formatDate}}"
                                                data-datepicker-options="vm.endDateOptions"
                                                data-datepicker-append-to-body="false"
                                                data-is-open="vm.endDateOpened"
                                                data-show-button-bar="false"
                                                placeholder="{{vm.calendarPlaceholder}}"
                                                readonly
                                                data-sip-autoblur="vm.iOS">
                                            <div class="input__inner-icon icon-right cursor-pointer"
                                                ng-class="{active: vm.endDateOpened}"
                                                ng-click="vm.endDateOpened = ! vm.endDateOpened;">
                                                <svg class="icon">
                                                    <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="datepicker-side"
                                        ng-if="vm.listingTypeProperties.isTimePredefined">
                                        <label for="pop-predefined-date" class="text-center"
                                            data-translate="listing.time.date_label">
                                        </label>
                                        <div class="input__inner-icon-container">
                                            <input id="pop-predefined-date"
                                                type="text"
                                                ng-model="vm.selectedPredefinedDate"
                                                ng-click="vm.openDatepicker('predefined')"
                                                ng-focus="vm.openDatepicker('predefined')"
                                                ng-change="vm.displayTimePredefinedPrice()"
                                                uib-datepicker-popup="{{vm.formatDate}}"
                                                data-datepicker-options="vm.predefinedDateOptions"
                                                data-datepicker-append-to-body="false"
                                                data-is-open="vm.predefinedDateOpened"
                                                data-show-button-bar="false"
                                                placeholder="{{vm.calendarPlaceholder}}"
                                                readonly
                                                data-sip-autoblur="vm.iOS">
                                            <div class="input__inner-icon icon-right cursor-pointer"
                                                ng-class="{active: vm.predefinedDateOpened}"
                                                ng-click="vm.predefinedDateOpened = ! vm.predefinedDateOpened">
                                                <svg class="icon">
                                                    <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.listingTypeProperties.isAvailabilityStock"
                                    class="flex-container flex--space-between flex--align-center margin-top margin-bottom">
                                    <label for="quantity-list" data-translate="pricing.quantity"></label>
                                    <select id="quantity-list" class="select-quantity"
                                        ng-model="vm.selectedQuantityStr"
                                        ng-change="vm.changeQuantity()"
                                    >
                                        <option ng-repeat="quantity in vm.listQuantities"
                                            value="{{quantity}}"
                                        >
                                            {{quantity}}
                                        </option>
                                    </select>
                                </div>

                                <p class="text-center margin-bottom" ng-show="vm.showIncorrectDates" ng-switch="vm.dateErrorObject.type">
                                    <span ng-switch-when="DEFAULT"
                                        data-translate="booking.error.incorrect_dates">
                                    </span>
                                    <span ng-switch-when="BELOW_MIN_DURATION"
                                        data-translate="booking.error.minimum_duration"
                                        data-translate-values="{ timeUnit: vm.dateErrorObject.timeUnit, nbTimeUnits: vm.dateErrorObject.minDuration }"
                                    >
                                    </span>
                                    <span ng-switch-when="ABOVE_MAX_DURATION"
                                        data-translate="booking.error.maximum_duration"
                                        data-translate-values="{ timeUnit: vm.dateErrorObject.timeUnit, nbTimeUnits: vm.dateErrorObject.maxDuration }"
                                    >
                                    </span>
                                </p>
                                <div class="text-center" ng-switch="vm.isOwner">
                                    <div ng-if="vm.listing.locked"
                                        data-translate="listing.not_available_now">
                                    </div>
                                    <!-- Not using ng-switch-default or ng-if to prevent both buttons from displaying at the same time -->
                                    <div class="center padding-bottom">
                                        <button id="listing-book-button" class="button brightblue margin-bottom"
                                            ng-class="{ disabled: vm.disableBookingButton }"
                                            ng-disabled="vm.disableBookingButton"
                                            ng-click="vm.bookListing()"
                                            ng-show="vm.listingTypeProperties.isTimeFlexible"
                                            ng-switch-when="false"
                                            data-translate="listing.checkout_action"
                                            data-translate-values="{ timeDimension: 'TIME_FLEXIBLE' }">
                                        </button>
                                        <button id="listing-purchase-defined-button" class="button red margin-bottom"
                                            ng-class="{ disabled: vm.disableBookingButton }"
                                            ng-disabled="vm.disableBookingButton"
                                            ng-click="vm.bookListing()"
                                            ng-show="vm.listingTypeProperties.isTimePredefined"
                                            ng-switch-when="false"
                                            data-translate="listing.checkout_action"
                                            data-translate-values="{ timeDimension: 'TIME_PREDEFINED' }">
                                        </button>
                                        <button id="listing-purchase-button" class="button red margin-bottom"
                                            ng-class="{ disabled: vm.disableBookingButton }"
                                            ng-disabled="vm.disableBookingButton"
                                            ng-click="vm.bookListing()"
                                            ng-show="vm.listingTypeProperties.isTimeNone"
                                            ng-switch-when="false"
                                            data-translate="listing.checkout_action"
                                            data-translate-values="{ timeDimension: 'NONE' }">
                                        </button>
                                    </div>
                                    <div ng-if="! vm.isOwner && ! vm.disableBookingButton"
                                        class="booking-button-trust padding-top"
                                        data-translate="listing.charge_if_owner_accepts"
                                        data-translate-values="{ owner: vm.listing.owner.firstname || vm.listing.owner.fullname }">
                                    </div>
                                    <button id="listing-book-sticky-button"
                                        class="button brightblue button--highlight sticky-button"
                                        ng-hide="vm.disableBookingButton"
                                        ng-click="vm.stickyButtonBookListing()"
                                        ng-switch-when="false"
                                        data-sip-sticky-button="listing-book-button">
                                        <span data-translate="listing.checkout_action"
                                            data-translate-values="{ timeDimension: vm.listingTypeProperties.isTimeFlexible ? 'TIME_FLEXIBLE' : 'NONE' }"></span>
                                    </button>
                                    <a class="button purple"
                                        ui-sref="editListing({ id: vm.listing.id })"
                                        ng-switch-when="true"
                                        data-translate="listing.edit_my_listing_action">
                                    </a>
                                </div>
                                <div ng-if="vm.pricingTableData.show"
                                    data-sip-pricing-table
                                    data-listing-type="vm.pricingTableData.listingType"
                                    data-listing="vm.pricingTableData.listing"
                                    data-booking-params="vm.pricingTableData.bookingParams"
                                    data-data="vm.pricingTableData.data">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="stelace-listing__description">
            <!-- Not using ListingPage on Product itemscope (schema v2) since we lose google SERP product price in this case... -->
            <!-- itemscope
            itemtype="http://schema.org/ListingPage"> -->
            <div class="fluid-content space"
                itemprop="mainEntity"
                itemscope
                itemtype="http://schema.org/Product"
                itemref="listing-name listing-book-medium owner-stats similar-items">
                <meta itemprop="image" content="{{vm.listing.url}}">
                <div class="small-12 desktop-8">
                    <div class="stelace-listing__context-info"
                        ng-if="vm.listingTypeProperties.isTimeNone && vm.listing.sellingPrice">
                        <h3>
                            <span data-translate="listing.buy_now.title">
                            </span>
                        </h3>
                        <p class="text-justify margin-bottom"
                            data-translate="listing.buy_now.text"
                            data-translate-values="{ owner: vm.listing.owner.firstname || vm.listing.owner.fullname, price: vm.totalSellingPrice }">

                        </p>
                        <!-- Pricing table is shown in sticky sidebar when is listing is not on rent -->
                        <div ng-show="vm.listingTypeProperties.isTimeFlexible">
                            <div class="link--blue-underline cursor-pointer text--small"
                                ng-click="vm.showPurchasePricingTable = ! vm.showPurchasePricingTable"
                                data-sip-action-key>
                                <div class="padding-bottom"
                                    ng-if="! vm.showPurchasePricingTable">▼
                                    <span data-translate="prompt.details"></span>
                                </div>
                                <div class="padding-bottom" ng-if="vm.showPurchasePricingTable">▲
                                    <span data-translate="prompt.hide"></span>
                                </div>
                            </div>
                            <!-- <div class="pull-t"
                                ng-if="vm.timeNoneListingType"
                                data-uib-collapse="! vm.showPurchasePricingTable"
                                data-sip-pricing-table
                                data-listing="vm.pricingTableData.listing"
                                data-listing-type="vm.timeNoneListingType"
                                data-booking-params="vm.pricingTableData.bookingParams">
                            </div> -->
                        </div>
                    </div>
                    <h2 data-translate="listing.overview_title">
                    </h2>
                    <div class="margin-bottom-plus text--vsmall"
                        data-sip-ux-event
                        data-ux-event-name="Listing view breadcrumb click">
                        <!-- See http://stackoverflow.com/questions/10120096/how-to-implement-schema-org-markup-for-a-breadcrumb#answer-25706256 -->
                        <span id="listing-root-breadcrumb"
                            itemscope
                            itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a class="link--blue-underline" href="/"
                                itemprop="url">
                                <span itemprop="title"
                                    data-translate="navigation.home"></span>
                            </a> ›
                        </span>
                        <span id="listing-category-breadcrumb"
                            ng-if="vm.breadcrumbCategory && vm.showListingCategories"
                            itemscope
                            itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a class="link--blue-underline" ng-href="{{vm.breadcrumbCategoryLink}}"
                                itemprop="url">
                                <span itemprop="title">{{::vm.breadcrumbCategory}}</span>
                            </a> ›
                        </span>
                        <span id="listing-tag-breadcrumb"
                            ng-if="vm.breadcrumbQuery"
                            itemscope
                            itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a class="link--blue-underline" ng-href="{{vm.breadcrumbQueryLink}}"
                                itemprop="url">
                                <span itemprop="title">{{::vm.breadcrumbQuery}}</span>
                            </a> ›
                        </span>
                        <span id="listing-city-breadcrumb"
                            itemscope
                            itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a class="link--blue-underline" ng-href="{{vm.breadcrumbCityLink}}"
                                itemprop="url">
                                <span itemprop="title"
                                    data-translate="places.near_place"
                                    data-translate-values="{ place: vm.breadcrumbCity }"></span>
                            </a>
                        </span>
                    </div>
                    <div class="text-justify">
                        <p
                            itemprop="description">
                            <strong ng-if="vm.listing.stateComment || vm.listing.bookingPreferences"
                                data-translate="listing.description_label">
                            </strong>
                            <br>
                            {{vm.listing.description}}
                        </p>
                        <p ng-if="vm.listing.accessories.length">
                            <strong data-translate="listing.accessories_label"></strong><br>
                            <!-- TODO : ng-repeat -->
                            {{vm.listing.accessories}}
                        </p>
                        <p ng-if="vm.listing.stateComment">
                            <strong data-translate="listing.condition_label"></strong><br>
                            {{vm.listing.stateComment}}
                        </p>
                        <p ng-if="vm.listing.deposit && vm.listingTypeProperties.isTimeFlexible">
                            <strong data-translate="listing.security_deposit_label"></strong>
                            <br>
                            {{vm.listing.deposit}}€
                            <!-- Tooltip auto right placement is buggy here -->
                            <!-- &nbsp;
                            <span class="badge tooltip-badge"
                                data-tooltip-placement="right"
                                data-tooltip-trigger="mouseenter outsideClick"
                                data-translate-attr="{ 'uib-tooltip': 'listing.security_deposit_helper' }">
                                ?
                            </span> -->
                        </p>
                        <p ng-if="vm.listing.instructionsMedias && vm.listing.instructionsMedias.length">
                            <strong data-translate="listing.related_documents_title"></strong>
                            <br>
                            <span ng-repeat="media in vm.listing.instructionsMedias track by media.id">
                                <a class="link--blue-underline"
                                    ng-href="{{media.url}}"
                                    target="_blank">
                                    {{media.name}}
                                </a><br>
                            </span>
                        </p>
                        <p ng-if="vm.listing.bookingPreferences">
                            <strong
                                data-translate="listing.booking_instructions_label"></strong><br>
                            {{vm.listing.bookingPreferences}}
                        </p>
                    </div>
                    <div id="pics-grid" class="stelace-listing__pics-grid flex-container aspect-ratio">
                        <div class="small-8">
                            <div class="stelace-listing__image-container">
                                <img ng-src="{{vm.listing.url + '?size=800x600&displayType=cover'}}"
                                alt="{{ vm.listing.name }}"
                                title="Cliquez pour agrandir"
                                class="stelace-listing__image"
                                data-index="0"
                                ng-click="vm.openImgGallery($event)">
                            </div>
                        </div>
                        <div class="flex-container flex--column small-4" ng-if="vm.nbPictures > 1">
                            <div class="stelace-listing__image-container">
                                <img ng-src="{{vm.listing.medias[1].url + '?size=400x300&displayType=cover'}}"
                                    alt="{{ vm.listing.name }} - 2"
                                    title="Cliquez pour agrandir"
                                    class="stelace-listing__image"
                                    data-index="1"
                                    ng-click="vm.openImgGallery($event)">
                            </div>
                            <div class="stelace-listing__image-container">
                                <img ng-if="vm.nbPictures > 2"
                                    ng-src="{{vm.listing.medias[2].url + '?size=400x300&displayType=cover'}}"
                                    alt="{{ vm.listing.name }} - 3"
                                    title="Cliquez pour agrandir"
                                    data-index="2"
                                    ng-click="vm.openImgGallery($event)">
                            </div>
                        </div>
                    </div>
                    <div class="stelace-listing__questions" ng-if="vm.displayQuestions">
                        <h3 data-translate="listing.comments"></h3>
                        <div ng-repeat="question in vm.questions">
                            <div class="flex-container">
                                <a class="profile__image"
                                    ui-sref="user({ id: question[0].senderId })">
                                    <sip-img ng-src="{{question[0].senderMedia.url + '?size=128x128'}}" type="background"></sip-img>
                                </a>
                                <h4 class="small-11 user-generated margin-bottom">
                                    {{question[0].sender.firstname ? question[0].sender.firstname + " : " : ""}}{{question[0].publicContent}}
                                </h4>
                            </div>
                            <div class="flex-container">
                                <a class="profile__image"
                                    ui-sref="user({ id: question[1].senderId })">
                                    <sip-img ng-src="{{question[1].senderMedia.url + '?size=128x128'}}" type="background"></sip-img>
                                </a>
                                <p class="small-11 user-generated margin-bottom margin-top">
                                    {{question[1].sender.firstname ? question[1].sender.firstname + " : " : ""}}{{question[1].publicContent}}<br>
                                    <span class="text--small text--light">{{vm.displayFullDate(question[1].createdDate)}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="send-owner-question-description"
                        class="stelace-listing__ask-question link--blue-underline cursor-pointer"
                        ng-if="! vm.isOwner"
                        ng-click="vm.openQuestionModal('owner')">
                        <p class="no-margin-bottom text--semibold"
                            data-translate="listing.contact_owner_action"
                            data-translate-values="{ owner: vm.listing.owner.firstname || vm.listing.owner.fullname }"></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="owner-stats" class="stelace-listing__contact">
            <div class="fluid-content space">
                <div class="small-12 desktop-8">
                    <h2 data-translate="listing.owner_info_title"
                        data-translate-values="{ owner: vm.listing.owner.fullname }"></h2>
                    <div class="owner__profile flex-container">
                        <div>
                            <a class="profile__image profile__thumb"
                                ui-sref="user({ id: vm.listing.owner.id })">
                                <sip-img ng-src="{{vm.listing.ownerMedia.url + '?size=128x128'}}" type="background"></sip-img>
                            </a>
                        </div>
                        <div class="flex-item--grow">
                            <p class="user-generated">{{vm.listing.owner.description}}</p>
                            <div class="flex-container condensed-info text--small">
                                <div class="medium-6 flex-container flex--column">
                                    <div>{{vm.ownerMainLocation.city}}{{vm.ownerMainLocation.region ? ', ' + vm.ownerMainLocation.region : ''}}</div>
                                    <div ng-switch="vm.listing.owner.id">
                                        <span ng-switch-when="1"
                                            data-translate="user.service_admin_account"
                                            data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }">
                                        </span>
                                        <span ng-switch-default
                                            data-translate="user.join_month"
                                            data-translate-values="{ month_year: vm.listing.owner.seniority }"></span>
                                    </div>
                                </div>
                                <div class="medium-6 flex-container flex--column" ng-if="vm.ownerMessageStats.answerRate">
                                    <div>
                                        <span data-translate="listing.response_rate_label"></span>
                                        <span class="text--semibold"
                                            ng-if="vm.ownerMessageStats.answerRate < 50"
                                            data-translate="fraction.percent"
                                            data-translate-values="{ nbUnits: vm.ownerMessageStats.answerRate / 100 }"
                                        >
                                        </span>
                                        <span class="text--semibold"
                                            ng-if="vm.ownerMessageStats.answerRate >= 50"
                                            data-translate="fraction.less_than_percent"
                                            data-translate-values="{ nbUnits: vm.ownerMessageStats.answerRate / 100 }"
                                        >
                                        </span>
                                    </div>
                                    <div>
                                        <span data-translate="listing.response_time_label"></span>
                                        <span class="text--semibold"
                                            data-translate="{{vm.ownerMessageStats.answerDelayKey}}"
                                        >
                                        </span>
                                        <!-- <span class="text--semibold">{{vm.ownerMessageStats.answerDelayString}}</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="user__awards"
                                ng-if="vm.ownerHasMedal && vm.showGamification">
                                <span class="user__medal-label text--small margin-bottom"
                                    data-translate="user.is_level"
                                    data-translate-values="{ level: vm.levelMap[vm.ownerLvl || 'none'] }">
                                </span>
                                <br>
                                <span class="user__medal"
                                    uib-popover="{{vm.medalsLabels[vm.ownerLvl]}}"
                                    data-popover-placement="auto right"
                                    data-popover-trigger="mouseenter outsideClick">
                                    <svg class="icon medal"
                                        ng-class="vm.ownerLvl">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/build/icons/sprite.svg#medal"></use>
                                    </svg>
                                </span>
                            </div>
                            <div>
                                <p class="margin-top-plus margin-bottom text--semibold"
                                    data-translate="listing.validated_info_title">
                                </p>
                                <div
                                    ng-if="::vm.listing.owner"
                                    data-user="::vm.listing.owner"
                                    data-stelace-trust-info>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Listing Ratings -->
                <!-- vm.listingRatings.length should be equal to vm.listing.nbRatings -->
                <div class="small-12 desktop-8 padding-bottom stelace-listing__comments"
                    ng-if="::vm.listingRatings.length">
                    <div>
                        <h2 class="no-margin-bottom"
                            data-translate="listing.reviews_title">
                        </h2>
                        <span class="bigger"
                            ng-if="::vm.listing.nbRatings"
                            data-user-score="{{::vm.listing.owner.ratingScore}}"
                            data-user-ratings="{{::vm.listing.owner.nbRatings}}"
                            data-listing-score="{{::vm.listing.ratingScore}}"
                            data-listing-ratings="{{::vm.listing.nbRatings}}"
                            data-name="{{vm.listing.owner.fullname}}"
                            data-count="{{::vm.listing.nbRatings}}"
                            data-sip-rating-stars></span>
                    </div>
                    <div class="text--light text--small margin-bottom-plus"
                        ng-if="::(vm.listing.nbRatings && vm.listingAvgRating)"
                        itemprop="aggregateRating"
                        itemscope
                        itemtype="http://schema.org/AggregateRating">
                        <span itemprop="reviewCount" content="{{::vm.listing.nbRatings}}"
                            data-translate="ratings.count"
                            data-translate-values="{ nbRatings: vm.listing.nbRatings }">
                        </span>
                        ·
                        <span data-translate="ratings.review_count"
                            data-translate-values="{ nbReviews: vm.listingNbReviews }"></span>
                        <br>
                        <span data-translate="ratings.average_label"></span>
                        <span itemprop="ratingValue">{{vm.listingAvgRating}}</span>/5
                    </div>
                    <div ng-repeat="rating in ::vm.listingRatings">
                        <!-- Only show listingFirstRatings depending on listingNbReviews, using $index -->
                        <div class="margin-bottom-plus text-center"
                            ng-if="::(vm.listingNbReviews && ($index === vm.listingNbReviews))"
                            ng-hide="vm.listingFirstRatings && $index >= vm.listingFirstRatings">
                        </div>
                        <div class="text-center text--small single-rating"
                            ng-hide="vm.listingFirstRatings && $index >= vm.listingFirstRatings"
                            data-rating="::rating"
                            data-last="::$last"
                            data-is-current="true"
                            data-sip-rating>
                        </div>
                    </div>
                    <div class="margin-top-plus text-center"
                        ng-if="vm.listingFirstRatings < vm.listingRatings.length">
                        <span class="link--blue-underline text--small text--semibold cursor-pointer"
                            ng-click="vm.listingFirstRatings = vm.listingFirstRatings + 3;"
                            data-translate="ratings.see_more">
                        </span>
                    </div>
                </div>
                <!-- Other Listings Ratings -->
                <div class="small-12 desktop-8 stelace-listing__comments"
                    ng-class="::{'margin-top-plus': vm.listingRatings.length}"
                    ng-if="::vm.otherListingsRatings.length">
                    <h3>
                        <span ng-show="::vm.listingRatings.length"
                            data-translate="ratings.other_ratings_received"
                            data-translate-values="{ user: vm.listing.owner.firstname || vm.listing.owner.fullname }"></span>
                        <span ng-hide="::vm.listingRatings.length"
                            data-translate="ratings.user_ratings_title"
                            data-translate-values="{ user: vm.listing.owner.firstname || vm.listing.owner.fullname }"></span>
                    </h3>
                    <!-- Limit potential duplicate content across owner's listings with filter -->
                    <div ng-repeat="rating in vm.otherListingsRatings | limitTo: (vm.othersFirstRatings + 10) track by rating.id">
                        <!-- Only show othersFirstRatings depending on otherListingsNbReviews, using $index -->
                        <div class="margin-bottom-plus text-center"
                            ng-if="::(vm.otherListingsNbReviews && ($index === vm.otherListingsNbReviews))"
                            ng-hide="vm.othersFirstRatings && $index >= vm.othersFirstRatings">
                        </div>
                        <div class="text-center text--small single-rating"
                            ng-hide="vm.othersFirstRatings && $index >= vm.othersFirstRatings"
                            data-rating="::rating"
                            data-last="::($index === vm.otherListingsRatings.length - 1)"
                            data-sip-rating>
                        </div>
                    </div>
                    <div class="margin-top-plus text-center"
                        ng-if="vm.othersFirstRatings < vm.otherListingsRatings.length">
                        <span class="link--blue-underline text--small text--semibold cursor-pointer"
                            ng-click="vm.othersFirstRatings = vm.othersFirstRatings + 3;"
                            data-translate="prompt.see_more">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Map is lower in the view on mobiles to increase visible speed -->
        <div id="mobile-map-container"
            ng-if="vm.showMap && vm.mqMobileTablet">
            <div ng-include="'/assets/app/templates/listing-view-map.html'"></div>
            <p class="text-right padded-sides margin-top pull-bottom">
                <a class="padding-bottom" href="#top"
                    data-translate="navigation.back_top_of_page"></a>
            </p>
        </div>
        <div id="similar-items" class="stelace-listing__others" ng-if="vm.similarListings.length && vm.showTags">
            <div class="fluid-content space">
                <h3 ng-show="vm.similarListings.length"
                    data-translate="listing.similar_title">
                </h3>
                <div id="similar-items-list" class="listing-grid grid-block small-up-2 medium-up-3"
                    ng-if="vm.similarListings.length"
                    data-sip-ux-event=".listing-grid__listing-container"
                    data-ux-event-name="Similar item click">
                <!-- Referencing several times the same product was not recommended until recently -->
                <!-- See http://stackoverflow.com/questions/12869478/should-schema-rich-snippet-use-for-product-listing-too -->
                <!-- But seems ok now, see https://developers.google.com/structured-data/policies#multiple_entities_on_the_same_page -->
                    <div class="grid-block listing-grid__listing-wrapper"
                        data-display-duration="{{vm.similarListingsShowDuration}}"
                        data-listing="listing"
                        data-locname="{{vm.searchFromLocations[0].city || vm.searchFromLocations[0].name}}"
                        ng-repeat="listing in vm.similarListings"
                        itemprop="isSimilarTo"
                        itemscope
                        itemtype="http://schema.org/Product"
                        data-stelace-listing-card>
                    </div>
                </div>
                <div ng-if="vm.showTags">
                    <h3 ng-show="vm.listing.completeTags.length"
                        data-translate="listing.keywords_title">
                    </h3>
                    <a class="listing-tag"
                        ng-repeat="tag in vm.listing.completeTags"
                        ng-if="tag.priorityScore"
                        ui-sref="searchWithQuery({query: tag.nameURLSafe})"
                        data-sip-ux-event="="
                        data-ux-event-name="Listing tag click">
                        {{tag.name}}&nbsp;
                    </a>
                </div>
            </div>
        </div>
        </section>
    </div>
    <div ng-include="'/assets/app/layout/footer.html'"></div>
</div>
