<div class="listings listing-search"
    itemscope
    itemtype="http://schema.org/SearchResultsPage">
    <div class="header-space"></div>
    <div class="s-medium-grid-block listing-search__view">
        <div id="listing-search-content" class="{{vm.showMap ? 's-medium-7' : 's-medium-12'}} listing-search__content" data-lazy-img-container>
            <div class="listing-search__query {{vm.showMap ? 's-medium-7' : 's-medium-12'}} text-center"
                ng-class="{ 'search-query--fixed': vm.fixedLocationSearch }"
                uib-collapse="! vm.isGoogleMapSDKReady">
                <div class="flex-container"
                    ng-class="{ 'flex--space-between': vm.fixedLocationSearch, 'flex--center': !vm.fixedLocationSearch }">
                    <div class="input__inner-icon-container listing-search__location-input-container">
                        <span class="input__inner-icon icon-left"
                            ng-hide="vm.showAddLocationButton">
                            <svg class="icon">
                                <use xlink:href="/assets/build/icons/sprite.svg#location"/>
                            </svg>
                        </span>
                        <span class="input__inner-icon icon-right delete-button cursor-pointer"
                            ng-if="vm.searchLocationInput"
                            ng-click="vm.resetSearchLocation(); $event.stopPropagation();">
                            x
                        </span>
                        <span class="input__inner-icon cursor-pointer icon-left"
                            data-translate-attr="{ title: 'prompt.search.add_location_message' }"
                            ng-click="vm.addLocation()"
                            ng-if="vm.showAddLocationButton">
                            <svg class="icon">
                                <use xlink:href="/assets/build/icons/sprite.svg#plus-squared"/>
                            </svg>
                        </span>
                        <!-- PhantomJS doens't work after the rendering of this element -->
                        <input class="no-margin-bottom listing-search__location-input"
                            type="text"
                            ng-if="vm.isGoogleMapSDKReady && ! vm.isPhantom"
                            ng-model="vm.searchLocationInput"
                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
                            ng-autocomplete="searchQueryLocation"
                            data-details="vm.searchQuery.location"
                            data-translate-attr="{ placeholder: 'prompt.search.near_location_placeholder_active_locations' }"
                            data-translate-values="{ nbActiveLocations: nbActiveLocations }"
                        >
                    </div>
                    <div class="search__filter-toggle anchor-like text--light cursor-pointer"
                        tabindex="0"
                        data-sip-action-key
                        data-sip-autoblur
                        ng-if="vm.fixedLocationSearch"
                        ng-click="searchFiltersConfig.showAdvancedSearch = !searchFiltersConfig.showAdvancedSearch">
                        <svg class="icon">
                            <use xlink:href="/assets/build/icons/sprite.svg#switches"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="listing-search__results">
                <div ng-show="vm.showSearchOverlay" class="listing-search__results-overlay"></div>
                <!-- For use of mainEntity see http://www.seoskeptic.com/how-to-use-schema-org-v2-0s-mainentityofpage-property/ -->
                <div id="search-results-items" class="listing-grid grid-block small-up-2 medium-up-3 {{ vm.showMap ? 's-medium-up-2 desktop-up-3 xlarge-up-4' : 's-medium-up-3 desktop-up-4 xlarge-up-6' }} listing-search__results-items"
                    ng-show="vm.listings.length"
                    itemprop="mainEntity"
                    itemscope
                    itemtype="http://schema.org/ItemList">
                    <div
                        class="grid-block listing-grid__listing-wrapper"
                        data-display-duration="true"
                        data-listing="listing"
                        data-position="{{ (vm.currentPage - 1) * vm.nbListingsPerPage + $index + 1 }}"
                        ng-repeat="listing in vm.listings"
                        ng-mouseenter="vm.markerHighlight(listing.markersId)"
                        ng-mouseleave="vm.markerStill(listing.markersId)"
                        itemprop="itemListElement"
                        itemscope
                        itemtype="http://schema.org/Product"
                        stelace-listing-card>
                    </div>
                    <!-- listing-card like CTA -->
                    <div class="grid-block listing-grid__listing-wrapper"
                        ng-show="vm.showListingCardCta">
                        <a class="listing-grid__listing-container"
                            ui-sref="listingCreate"
                            ng-click="vm.uxEvent('Search item card CTA', 'click')">
                            <div class="listing-grid__listing flex-container listing-grid__listing--highlight">
                                <div class="listing-grid__image-container">
                                    <div class="ar-content">
                                        <img class="img--cover" src="/assets/img/app/default/search-listing-image-cta.png"
                                            data-translate-attr="{ alt: 'pages.search.cta_add_listing_message' }"
                                            data-translate-values="{ SERVICE_NAME: config.SERVICE_NAME }"
                                        >
                                    </div>
                                </div>
                                <div class="listing-grid__description flex-item--grow-auto">
                                    <h3 class="no-margin listing-name ellipsis" data-translate="listing.prompt.add_listing_message">
                                    </h3>
                                    <div class="listing-grid__meta">
                                        <span class="listing-grid__rating small"
                                            data-user-score="10"
                                            data-user-ratings="2"
                                            data-listing-score="10"
                                            data-listing-ratings="2"
                                            data-count="false"
                                            data-append-to-body="true"
                                            data-sip-rating-stars></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="pagination-container margin-top-plus">
                    <uib-pagination
                        class="pagination-sm"
                        ng-if="vm.showPagination"
                        ng-model="vm.currentPage"
                        ng-change="vm.pageChange()"
                        total-items="vm.nbTotalListings"
                        items-per-page="vm.nbListingsPerPage"
                        max-size="5"
                        boundary-links="true"
                        previous-text="{{vm.paginationLinks.previous}}"
                        next-text="{{vm.paginationLinks.next}}"
                        first-text="{{vm.paginationLinks.first}}"
                        last-text="{{vm.paginationLinks.last}}">
                    </uib-pagination>
                </div>
                <div class="listing-search__breadcrumb text--vsmall text-center"
                    ng-if="vm.listings.length"
                    itemprop="breadcrumb">
                    <hr class="margin-top">
                    <span
                        itemscope
                        itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a id="search-root-breadcrumb" class="link--blue-underline"
                            ui-sref="search({reset: 'all'})"
                            data-translate-attr="{ title: 'pages.search.reset_search_results' }"
                            itemprop="url">
                            <span itemprop="title">{{config.SERVICE_NAME}}</span>
                        </a>
                    </span>
                    <span ng-if="vm.firstLocation.city"
                        itemscope
                        itemtype="http://data-vocabulary.org/Breadcrumb">
                        <!-- // TODO : get nearest big city via a service -->
                        ›&nbsp;
                        <a id="search-city-breadcrumb" class="link--blue-underline"
                            ng-href="{{vm.breadcrumbCityLink}}"
                            data-translate-attr="{ title: 'pages.search.results_near_location' }"
                            data-translate-values="{ locationName: vm.firstLocation.city }"
                            itemprop="url">
                            <span
                                itemprop="title"
                                itemscope
                                itemtype="http://schema.org/Place">
                                <span
                                    itemprop="address"
                                    itemscope
                                    itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="addressLocality">{{vm.firstLocation.city}}</span>
                                    <!-- WARNING : France is the only country for the moment -->
                                    <meta itemprop="addressCountry" content="{{vm.firstLocation.country}}">
                                </span>
                            </span>
                        </a>
                    </span>
                </div>
                <span data-us-spinner="{ 'top': '10rem' }"
                    data-spinner-theme="fiveColors"
                    data-spinner-key="search-spinner"
                    data-spinner-start-active="true">
                </span>
            </div>
        </div>
        <div class="s-medium-grid-block listing-search__map-wrapper"
            ng-class="{ 's-medium-5': vm.showMap }">
            <div id="map-container" class="map-container" ng-show="vm.showMap">
                <div class="map-overlay"
                    ng-class="{background: vm.backgroundOverlay}"
                    ng-hide="vm.hideMapOverlay">
                    <span data-us-spinner
                        data-spinner-key="map-spinner"
                        data-spinner-start-active="true"></span>
                </div>
                <ui-gmap-google-map
                    ng-if="vm.mapFit && vm.loadMap"
                    center="vm.gmap.map.center"
                    control="vm.mapInstance"
                    pan="true"
                    zoom="vm.gmap.map.zoom"
                    draggable="true"
                    events="vm.gmap.events"
                    options="vm.gmap.options">
                    <!-- <ui-gmap-markers models="vm.gmap.markers" coords="'self'" options="'options'" icon="'icon'"></ui-gmap-markers> -->
                    <!-- See listing-view for explanation -->
                    <ui-gmap-window
                        ng-repeat="marker in vm.gmap.markers"
                        ng-if="marker.type === 'searchLocation'"
                        coords="marker.coords"
                        show="marker.show"
                        options="marker.windowOptions">
                        <span class="location-tag ellipsis">
                            {{ marker.myLocation.alias ? marker.myLocation.alias : marker.myLocation.shortName }}
                        </span>
                    </ui-gmap-window>
                    <ui-gmap-window
                        ng-repeat="marker in vm.gmap.markers track by marker.id"
                        ng-if="marker.type === 'listing'"
                        coords="marker.coords"
                        show="marker.show"
                        options="marker.windowOptions">
                        <img
                            ng-src="{{::marker.media + '?size=75x50'}}"
                            ng-click="$parent.vm.toggleDetailBox($parent.marker.id, 'listingBox','open', $event)"
                            alt="{{::marker.data.name + ' - ' + config.SERVICE_NAME }}">
                    </ui-gmap-window>
                    <!-- ng-if to avoid memory leak when reopening a given infobox -->
                    <ui-gmap-window
                        ng-if="vm.listingBox.show"
                        coords="vm.listingBox.data.location"
                        show="vm.listingBox.show"
                        options="vm.listingBox.windowOptions"
                        templateUrl="'/assets/app/widgets/google-map/infobox-item.html'"
                        templateParameter="vm.listingBox">
                        <!-- Using template solves scope issues. Also allow a dedicated controller if needed -->
                    </ui-gmap-window>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
</div>
