<div class="listings my-listings"
    ng-switch="vm.viewCreate">
    <div class="header-space"></div>
    <a id="stelace-hero-item"
        class="text-center stelace-hero space padded-sides"
        ui-sref="listingCreate"
        ng-switch-default>
            <h1 class="stelace-hero__title" data-translate="listing.edition.my_listing_header" data-translate="{ hasListings: vm.myListings.length }">
            </h1>
            <div class="stelace-hero__subtitle" data-translate="listing.edition.my_listing_subheader">
            </div>
            <div class="my-listings__cta"
                uib-collapse="vm.viewCreate">
                <svg class="icon--inline icon">
                    <use xlink:href="/assets/build/icons/sprite.svg#plus-squared"/>
                </svg>
            </div>
    </a>
    <div class="text-center stelace-hero space padded-sides"
        ng-switch-when="true">
        <h1 class="stelace-hero__title" data-translate="listing.edition.new_listing_header">
        </h1>
        <div class="stelace-hero__subtitle" data-translate="listing.edition.new_listing_subheader">
        </div>
    </div>
    <div class="stelace-listing-editor fluid-content sticky-helper__flex-container">
        <div class="small-12 desktop-8" ng-class="{ 'desktop-offset-2': !vm.showSideHelper }">
            <h2 class="text-center"
                ng-if="vm.listingId" data-translate="listing.edition.my_listing_section_title">
            </h2>
            <div class="pull-t text-center margin-bottom-plus"
                ng-if="vm.listingId">
                <span class="link--blue-underline text--small text--semibold cursor-pointer padding-bottom"
                ng-if="vm.myListings.length > 1"
                ng-click="vm.showListingEditor = ! vm.showListingEditor"
                ng-switch="vm.showListingEditor"
                tabindex="0"
                data-sip-action-key>
                    <span ng-switch-when="true">
                        <span>▲</span>
                        <span data-translate="listing.edition.show_my_other_listings"></span>
                    </span>
                    <span ng-switch-default>
                        <span>▼</span>
                        <span data-translate="listing.edition.show_my_editing_listing"></span>
                    </span>
                </span>
            </div>
            <form class="form--control text-center"
                name="vm.myListingsEditor"
                uib-collapse="! vm.viewCreate && ! vm.showListingEditor"
                novalidate>
                <div ng-if="vm.viewCreate">
                    <h2 data-translate="listing.edition.new_listing_section_title">
                    </h2>
                </div>
                <!-- <div ng-if="vm.viewCreate && ! vm.myListings.length">
                    <p class="text-center no-margin-bottom"
                        data-uib-popover="Sur Sharinplace, le montant des transactions est bloqué par validation 3DSecure jusqu'à la signature d'un contrat électronique, généré automatiquement. Votre paiement est garanti, pas de surprises !"
                        data-popover-trigger="mouseenter outsideClick"
                        data-popover-placement="auto top">
                        <span class="text--semibold">
                            <span class="step-icons">
                                <svg class="icon success">
                                    <use xlink:href="/assets/build/icons/sprite.svg#lock-check"/>
                                </svg>
                            </span>
                            <br>
                            Paiement en ligne garanti.
                        </span>
                    </p>
                    <p class="text-center">
                        Commençons par enregistrer ensemble votre offre en un éclair.
                    </p>
                </div> -->

                <div class="step-1">
                    <div ng-if="vm.showListingTypes">
                        <label for="listing-type-select" class="no-margin-bottom">
                            <span data-translate="listing.listing_type_label"></span>
                            <span>*</span>
                        </label>
                        <select id="listing-type-select"
                            name="listingType"
                            class="listing-type-select"
                            ng-model="vm.listingType"
                            ng-options="listingType.name for listingType in vm.listingTypes"
                            ng-change="vm.selectListingTypeFromView(vm.listingType)"
                            ng-disabled="!!vm.listing.id"
                            required>
                            <option value="" selected disabled="disabled" data-translate="listing.listing_type_label">
                            </option>
                        </select>
                    </div>

                    <div ng-if="vm.showListingCategories">
                        <label for="category-lvl1-select" class="no-margin-bottom">
                            <span data-translate="listing.category_label"></span>
                            <span>*&nbsp;:</span>
                        </label>
                        <div>
                            <select id="category-lvl1-select"
                                name="listingCategory"
                                class="category-select"
                                ng-model="vm.selectedListingCategoryLvl1"
                                ng-options="cat.name for cat in vm.listingCategoriesLvl1"
                                ng-change="vm.categoryChanged()"
                                required>
                                <option value="" selected disabled="disabled" data-translate="listing.category_label">
                                </option>
                            </select>
                            <br class="hide-for-desktop">
                            <select class="category-select" ng-model="vm.selectedListingCategoryLvl2"
                                ng-options="cat.name for cat in vm.listingCategoriesLvl2"
                                ng-show="vm.selectedListingCategoryLvl1"
                                ng-change="vm.updateBrandList(); vm.saveLocal('subcategory')">
                                <option value="" selected data-translate="listing.subcategory_label">
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- <select class=""
                        ng-model="vm.selectedBrand"
                        ng-options="brand.name for brand in vm.brands track by brand.id"
                        ng-show="vm.selectedListingCategoryLvl1">
                        <option value="" selected>
                            Marque de mon objet
                        </option>
                    </select>
                    <br>-->
                    <p class="no-margin-bottom">
                        <label for="listing-name" >
                            <span data-translate="listing.title_label"></span>
                            <span>*</span>
                            <br>
                        </label>
                    </p>
                    <input id="listing-name"
                        class="text-input"
                        name="listingName"
                        type="text"
                        ng-model="vm.listing.name"
                        ng-model-options="{ updateOn: 'default', debounce: {'default': 300} }"
                        ng-maxlength="75"
                        data-translate-attr ="{ placeholder: 'listing.title_label' }"
                        required>
                    <!-- Do not show form-warning when invalid-maxlength -->
                    <div class="form-warning text--semibold"
                        uib-collapse="! myListingsEditor.listingName.$touched || ! myListingsEditor.listingName.$invalid || myListingsEditor.listingName.$error.maxlength">
                        Veuillez rédiger le titre de votre annonce avant de poursuivre (marque, modèle...).
                    </div>
                    <sip-maxlength class="text--small"
                        data-content="myListingsEditor.listingName.$viewValue"
                        data-maxlength="75"
                        data-threshold="50">
                    </sip-maxlength>
                </div>
                <div class="step-2"
                    uib-collapse="! vm.step2">
                    <div ng-if="!vm.listingTypeProperties.isTimeFlexible">
                        <p class="no-margin-bottom">
                            <label for="listing-price">
                                <span data-translate="listing.price_label"></span>
                                <span>*</span>
                                <br>
                            </label>
                        </p>
                        <div class="margin-bottom-plus stelace-listing__pricing-slider-container" ng-if="vm.isActivePriceRecommendation">
                            <div class="rzslider-container">
                                <rzslider
                                    data-rz-slider-model="vm.listing.sellingPrice"
                                    data-rz-slider-options="vm.pricingSlider.options"
                                    ng-if="vm.pricingSlider.options.ceil"></rzslider>
                                <div class="rzslider-overlay"
                                    ng-if="vm.pricingSliderOverlayRight"
                                    ng-style="{ right: vm.pricingSliderOverlayRight, left: vm.pricingSliderOverlayLeft }">
                                </div>
                            </div>
                            <div class="spinner-container text--small text--light text--semibold"
                                ng-switch="vm.recommendedPrices.status">
                                <span data-us-spinner="{top: '20%'}"
                                    data-spinner-theme="fiveColors"
                                    data-spinner-key="price-recommendation-spinner"></span>
                                <div class="spinner-label"
                                    ng-switch-when="pending">
                                    Calcul du prix adapté
                                </div>
                                <div class="spinner-label"
                                    ng-switch-when="ok">
                                    Suggestion&nbsp;:
                                    <span class="text--success text--nofade">
                                        {{ vm.pricingSlider.options.ticksArray[1] + "€ à " + vm.pricingSlider.options.ticksArray[2] + "€" }}
                                    </span>
                                </div>
                                <div class="spinner-label"
                                    ng-switch-when="fail">
                                    Aucune suggestion de prix adapté à ce titre&nbsp;:(
                                </div>
                                <div class="spinner-label"
                                    ng-switch-default>
                                    Glisser pour modifier
                                </div>
                            </div>
                        </div>
                        <div uib-collapse="vm.listing.sellingPrice === 0 && vm.isActivePriceRecommendation">
                            <input id="listing-selling-price" class="stelace-listing__main-price-input no-margin-bottom"
                                name="listingSellingPrice"
                                type="number"
                                ng-model="vm.listing.sellingPrice"
                                ng-model-options="{ updateOn: 'default', debounce: {'default': 300} }"
                                ng-change="vm.saveLocal('sellingPrice')"
                                min="0"
                                step="1"
                                data-translate-attr="{ placeholder: 'listing.price_label' }"
                                required>
                        </div>
                    </div>
                    <div ng-if="vm.listingTypeProperties.isTimeFlexible">
                        <p class="no-margin-bottom">
                            <label for="listing-price-one-time-unit">
                                <span data-translate="listing.price_per_time_unit_label"
                                    data-translate-values="{ timeUnit: vm.listingType.config.bookingTime.timeUnit }"
                                ></span>
                                <span>*</span>
                            </label>
                        </p>
                        <input id="listing-price-one-time-unit" class="stelace-listing__main-price-input no-margin-bottom"
                            name="listingPrice"
                            type="number"
                            ng-model="vm.listing.timeUnitPrice"
                            ng-model-options="{ updateOn: 'default', debounce: {'default': 300} }"
                            ng-change="vm.setDefaultPrices(); vm.saveLocal('price')"
                            min="0"
                            step="1"
                            placeholder="{{vm.defaultTimeUnitPrice}}">
                        <div class="text--small text--semibold"
                            ng-hide="! vm.recommendedPrices.highTimeUnitPrice" ng-if="vm.isActivePriceRecommendation">
                            <span class="text--light">
                                Montant suggéré&nbsp;:
                            </span>
                            <span class="text--success">
                                {{ vm.recommendedPrices.lowTimeUnitPrice }}€
                                {{ vm.recommendedPrices.lowTimeUnitPrice !== vm.recommendedPrices.highTimeUnitPrice ?
                                    "à " + vm.recommendedPrices.highTimeUnitPrice + "€" : ""}}
                                </span>
                                <span class="badge tooltip-badge tooltip-dispensable"
                                data-tooltip-placement="auto bottom"
                                data-tooltip-trigger="mouseenter outsideClick"
                                uib-tooltip="D'après la valeur indiquée plus haut.">
                                ?
                            </span>
                        </div>
                    </div>
                </div>
                <div class="step-3" ng-if="vm.step3" >
                    <hr class="small-offset-3 small-6">
                    <h2 class="text-center margin-bottom-plus" data-translate="listing.edition.image_title"></h2>
                    <div class="media-editor grid-block small-up-2 s-medium-up-3">
                        <div
                            data-sip-select-image
                            ng-repeat="configMedia in vm.configMedias track by configMedia.id"
                            data-media="configMedia.media"
                            data-on-touch="vm.touchMedia(mediaId)"
                            data-on-select="vm.selectMedia(mediaId, file)"
                            data-select-disabled="configMedia.selectDisabled"
                            data-on-remove="vm.removeMedia(mediaId)"
                            data-remove-disabled="configMedia.removeDisabled"
                            data-on-prev="vm.prevMedia(mediaId)"
                            data-prev-disabled="configMedia.prevDisabled"
                            data-on-next="vm.nextMedia(mediaId)"
                            data-next-disabled="configMedia.nextDisabled"
                            data-progress="{{configMedia.progress}}">
                        </div>
                    </div>
                    <div class="text--small cursor-pointer text-center margin-bottom-plus">
                        <span
                            class="link--underline padding-bottom"
                            ng-show="vm.isMoveModeAllowed"
                            ng-click="vm.changeMediaMode()"
                            ng-class="{
                                'link--blue-underline': vm.mediaMode !== 'edit',
                                'link--grey': vm.mediaMode === 'edit'
                            }"
                            tabindex="0"
                            data-sip-action-key>
                            <span ng-show="vm.mediaMode === 'edit'" data-translate="listing.edition.change_image_order">
                            </span>
                            <span ng-show="vm.mediaMode !== 'edit'" data-translate="listing.edition.add_remove_images">
                                </span>
                        </span>
                    </div>
                    <hr class="small-offset-3 small-6">

                    <div>
                        <label for="listing-description">
                            <span data-translate="listing.description_label"></span>
                            <span>*</span>
                        </label>
                        <textarea id="listing-description" name="listingDescription"
                            class="stelace-listing-editor__description"
                            rows="5"
                            ng-model="vm.listing.description"
                            ng-maxlength="3000"
                            ng-change="vm.saveLocal('description')"
                            required
                            data-sip-textarea-auto-adjust>
                        </textarea>
                        <div class="form-warning text--semibold"
                            uib-collapse="! myListingsEditor.listingDescription.$touched || ! myListingsEditor.listingDescription.$invalid || myListingsEditor.listingDescription.$error.maxlength"
                            data-translate="listing.edition.description_required_message">
                        </div>

                        <div uib-collapse="!vm.listingTypeProperties.isAvailabilityStock">
                            <label for="listing-quantity">
                                <span data-translate="listing.quantity_label"></span>
                            </label>
                            <input type="number" id="listing-quantity" name="listingQuantity"
                                class="stelace-listing-editor__quantity"
                                ng-model="vm.listing.quantity"
                                ng-change="vm.saveLocal('quantity')"
                                ng-required="vm.listingTypeProperties.isAvailabilityStock">
                        </div>

                        <div class="listing-rentable-price margin-bottom-plus"
                            uib-collapse="!vm.listingTypeProperties.isTimeFlexible || ! vm.validPrice">
                            <p class="margin-top-plus no-margin-bottom text--semibold">
                                <span class="link--blue-underline cursor-pointer"
                                ng-click="vm.showRentingPricingDetails = ! vm.showRentingPricingDetails"
                                tabindex="0"
                                data-sip-action-key>
                                <span data-translate="listing.edition.longer_duration_title">
                                </span>
                                <span ng-if="! vm.showRentingPricingDetails">▼</span>
                                <span ng-if="vm.showRentingPricingDetails">▲</span>
                            </span>
                            </p>
                            <div data-uib-collapse="! vm.showRentingPricingDetails">
                                <table class="stelace-listing__pricing-table text-center margin-bottom-plus">
                                    <thead class="stelace-listing__pricing-table-head">
                                        <tr>
                                            <td class="stelace-listing__pricing-table-column"
                                                data-translate="listing.edition.longer_duration_breakpoint_label"
                                            >
                                            </td>
                                            <td class="stelace-listing__pricing-table-column"
                                                data-translate="listing.edition.longer_duration_total_price_label"
                                            ></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr class="stelace-listing__pricing-table-row--first">
                                            <td>1&nbsp;jour</td>
                                            <td>{{ vm.listing.timeUnitPrice || vm.defaultTimeUnitPrice }}</td>
                                        </tr> -->
                                        <tr ng-repeat="bookingPrice in vm.listingBookingPrices track by bookingPrice.day">
                                            <td><label for="listing-price--{{bookingPrice.day}}">{{bookingPrice.day}}&nbsp;jours</label></td>
                                            <td>
                                                <input id="listing-price--{{bookingPrice.day}}"
                                                    type="number"
                                                    class="stelace-listing__pricing-table-input"
                                                    ng-model="bookingPrice.price"
                                                    placeholder="{{bookingPrice.defaultPrice}}"
                                                    ng-blur="vm.fixCustomPricing()"
                                                    min="0"
                                                    step="1">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div data-uib-collapse="!vm.listingTypeProperties.isTimeFlexible">
                                <p class="no-margin-bottom margin-top">
                                    <label for="listing-deposit">
                                        <span data-translate="listing.security_deposit_label"></span>
                                    </label>
                                </p>
                                <input id="listing-deposit"
                                    name="listingDeposit"
                                    type="number"
                                    class="stelace-listing__main-price-input no-margin-bottom"
                                    ng-model="vm.listing.deposit"
                                    ng-model-options="{ updateOn: 'default', debounce: {'default': 500} }"
                                    ng-change="vm.updateDeposit(); vm.saveLocal('deposit')"
                                    placeholder="{{vm.defaultDeposit}}"
                                    min="0"
                                    step="1">
                                <div class="text--small text--light margin-bottom-plus"
                                    data-translate="listing.edition.security_deposit_message">
                                </div>
                                <div class="form-warning text--semibold"
                                    data-uib-collapse="! vm.showDepositWarning"
                                    data-translate="listing.edition.security_deposit_max_error"
                                    data-translate-values="{ max_deposit: vm.maxDeposit }"
                                >
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="margin-bottom-plus"
                        ng-if="vm.showTags">
                        <label for="listing-tags">
                            Mots-clés (Niveau avancé)&nbsp;:
                        </label>
                        <!-- ng-if because the input doesn't all the available if hidden by ng-show and doesn't render again when shown -->
                        <ui-select
                            class="text-left margin-top stelace-listing-editor__tags"
                            tagging="vm.tagTransform"
                            tagging-tokens="ENTER|,"
                            input-id="listing-tags"
                            multiple
                            ng-model="vm.listingTags"
                            ng-change="vm.saveLocal('tags')"
                            ng-if="vm.selectedListingCategoryLvl1">
                            <ui-select-match placeholder="Mes mots-clés">{{$item.name}}</ui-select-match>
                            <ui-select-choices
                                refresh="vm.getTags($select.search)" refresh-delay="300"
                                repeat="tag in vm.tags | filter: $select.search">
                                {{tag.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="flex-container flex--column margin-bottom-plus"
                        ng-if="! vm.createAccount">
                        <div class="margin-bottom-plus text--semibold" data-translate="listing.edition.locations_label">
                        </div>
                        <div ng-if="vm.listing.listLocations.length === 0">
                            <p data-translate="listing.edition.no_locations_available_message"></p>
                        </div>
                        <div class="stelace-listing__locations flex-container small-up-2">
                            <div ng-repeat="loc in vm.listing.listLocations track by loc.id">
                                <span class="small switch switch--success">
                                    <input id="stelace-listing__locations-{{loc.id}}" type="checkbox"
                                        ng-model="loc.checked"
                                        tabindex="-1">
                                    <label for="stelace-listing__locations-{{loc.id}}"></label>
                                </span>
                                <span class="location-tag ellipsis cursor-pointer"
                                    ng-class="{ disabled: ! loc.checked }"
                                    ng-click="loc.checked = ! loc.checked"
                                    tabindex="0"
                                    data-sip-action-key>
                                    {{loc.alias ? loc.alias : loc.shortName }}
                                </span>
                            </div>
                        </div>
                        <div ng-if="vm.listing.listLocations.length === 1 && ! vm.viewCreate">
                            <p>
                                <span ui-sref="account" class="link--blue-underline"
                                    data-translate="listing.edition.add_locations_message"
                                >
                                </span>
                                <span data-translate="listing.edition.activate_locations_message">
                                </span>
                            </p>
                        </div>
                    </div>
                    <div uib-collapse="!vm.showPeriodAvailability" class="margin-bottom-plus">
                        <div class="margin-bottom-plus text--semibold">
                            Je peux définir des périodes où mon objet ne sera pas disponible&nbsp;:
                        </div>

                        <div class="flex-container flex--space">
                            <div>
                                <label for="popup-start-date" class="stelace-listing__availability-calendar-label text-left text--small margin-b"
                                    data-translate="listing.time.from_day_label">
                                </label>
                                <div class="input__inner-icon-container stelace-listing__availability-calendar">
                                    <input id="popup-start-date"
                                        name="startDate"
                                        type="text"
                                        ng-model="vm.startDate"
                                        ng-click="vm.openDatepicker('start')"
                                        ng-focus="vm.openDatepicker('start')"
                                        uib-datepicker-popup="{{vm.formatDate}}"
                                        data-datepicker-options="vm.startDateOptions"
                                        data-datepicker-append-to-body="false"
                                        data-is-open="vm.startDateOpened"
                                        data-show-button-bar="false"
                                        placeholder="jj/mm/aaaa"
                                        readonly
                                        data-sip-autoblur="vm.iOS">
                                    <div class="input__inner-icon icon-right cursor-pointer"
                                        ng-class="{active: vm.startDateOpened}"
                                        ng-click="vm.startDateOpened = ! vm.startDateOpened;">
                                        <svg class="icon">
                                            <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="popup-end-date" class="stelace-listing__availability-calendar-label text-left text--small margin-b"
                                    data-translate="listing.time.to_day_label">
                                </label>
                                <div class="input__inner-icon-container stelace-listing__availability-calendar">
                                    <input id="popup-end-date"
                                        type="text"
                                        ng-model="vm.endDate"
                                        ng-click="vm.openDatepicker('end')"
                                        ng-focus="vm.openDatepicker('end')"
                                        uib-datepicker-popup="{{vm.formatDate}}"
                                        data-datepicker-options="vm.endDateOptions"
                                        data-datepicker-append-to-body="false"
                                        data-is-open="vm.endDateOpened"
                                        data-show-button-bar="false"
                                        placeholder="jj/mm/aaaa"
                                        readonly
                                        data-sip-autoblur="vm.iOS">
                                    <div class="input__inner-icon icon-right cursor-pointer"
                                        ng-class="{active: vm.endDateOpened}"
                                        ng-click="vm.endDateOpened = ! vm.endDateOpened;">
                                        <svg class="icon">
                                            <use xlink:href="/assets/build/icons/sprite.svg#calendar"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label>&nbsp;</label>
                                <a class="link--blue-underline cursor-pointer" ng-click="vm.addTimeAvailability()">Ajouter</a>
                            </div>
                        </div>

                        <div uib-collapse="!vm.editingListingAvailabilities.length">
                            <div class="margin-bottom">
                                Liste de mes périodes&nbsp;:
                            </div>

                            <div class="flex-container flex--center stelace-listing__availability-period" ng-repeat="listingAvailability in vm.editingListingAvailabilities track by listingAvailability.id">
                                <div class="stelace-listing__availability-period-label" data-translate="listing.time.from_day_label"></div>
                                <div class="stelace-listing__availability-period-label"
                                    data-translate="time.date_short"
                                    data-translate-values="{ date: listingAvailability.displayStartDate }"
                                >
                                </div>
                                <div class="stelace-listing__availability-period-label" data-translate="listing.time.to_day_label"></div>
                                <div class="stelace-listing__availability-period-label"
                                    data-translate="time.date_short"
                                    data-translate-values="{ date: listingAvailability.displayEndDate }"
                                >
                                </div>
                                <span class="text-control"
                                    tabindex="0"
                                    data-sip-action-key
                                    data-sip-autoblur
                                    data-translate-attr="{ title: 'listing.remove_action' }"
                                    ng-click="vm.removeListingAvailability(listingAvailability.id)">
                                    <svg class="icon icon--inline">
                                        <use xlink:href="/assets/build/icons/sprite.svg#trash"/>
                                    </svg>
                                </span>
                                <!-- <button class="button brightblue" ng-click="vm.removeListingAvailability(listingAvailability.id)">Supprimer</button> -->
                            </div>
                        </div>
                    </div>
                    <div ng-if="! vm.isAuthenticated">
                        <hr>
                        <p class="margin-bottom">
                            Gérez automatiquement vos annonces grâce à votre compte Sharinplace. Vous serez prévenu par email en cas de réservation.<br>
                        </p>
                        <p class="text--small link--blue-force-underline cursor-pointer padding-bottom margin-bottom"
                            ng-click="vm.createAccount = ! vm.createAccount"
                            ng-switch="vm.createAccount">
                            <span ng-switch-when="true">Vous avez déjà un compte&nbsp;?</span>
                            <span ng-switch-when="false">Vous êtes nouveau sur Sharinplace&nbsp;?</span>
                            Cliquez ici.
                        </p>
                        <label for="new-account-email">Mon adresse email*&nbsp;:</label>
                        <input id="new-account-email"
                            class="text-input--small"
                            type="email"
                            name="login-email"
                            placeholder="Adresse email{{vm.createAccount ? ' valide' : ' de votre compte'}}"
                            ng-model="vm.email"
                            ng-class="{'force-invalid': vm.invalidAddress}"
                            required>
                        <label for="new-account-email">Mon mot de passe*&nbsp;:</label>
                        <input id="new-account-password"
                            class="text-input--small"
                            name="newAccountPassword"
                            type="password"
                            placeholder="Mot de passe{{vm.createAccount ? ' (6 caractères minimum)' : ''}}"
                            ng-model="vm.password"
                            ng-minlength="6"
                            required>
                        <div class="form-warning text--semibold"
                            uib-collapse="! myListingsEditor.newAccountPassword.$touched || ! myListingsEditor.newAccountPassword.$invalid">
                            Veuillez indiquer votre mot de passe (au moins 6 caractères).
                        </div>
                        <div uib-collapse="! vm.createAccount">
                            <label for="new-account-firstname">Mon prénom&nbsp;:</label>
                            <input id="new-account-firstname"
                                class="text-input--small"
                                type="text"
                                placeholder="Avec un prénom, c'est quand même plus convival !"
                                ng-model="vm.firstname">
                        </div>
                        <p class="text--small link--blue-underline cursor-pointer padding-bottom margin-bottom"
                            ng-hidng-change="vm.setDefaultPrices(); vm.saveLocal('price')"
                            ng-hide="vm.createAccount"
                            ng-click="vm.lostPasswordModal()">
                            Mot de passe oublié&nbsp;? Cliquez ici.
                        </p>
                        <div class="signin-form-container margin-bottom-plus" ng-if="vm.showSocialLogin">
                            <span class="text--emphasize">Ou&nbsp;</span>:
                            <div class="social-signin fb cursor-pointer" ng-if="config.socialLogin_facebook_complete" ng-click="vm.socialLogin('facebook')">
                                <svg class="icon">
                                    <use xlink:href="/assets/build/icons/sprite.svg#face"/>
                                </svg>
                                &nbsp;Utiliser mon compte Facebook
                            </div>
                            <div class="social-signin gpl cursor-pointer" ng-if="config.socialLogin_google_complete" ng-click="vm.socialLogin('google')">
                                <svg class="icon">
                                    <use xlink:href="/assets/build/icons/sprite.svg#g-pl"/>
                                </svg>
                                &nbsp;Utiliser mon compte Google
                            </div>
                        </div>
                    </div>
                    <div class="margin-top-plus margin-bottom"
                        ng-if="vm.isAuthenticated && (! vm.existingPhone || vm.noImage)">
                        <hr class="small-6 small-offset-3">
                        <div class="small-12" ng-if="! vm.existingPhone">
                            <h2>
                                Facilitez-vous la vie
                            </h2>
                            <p class="text--small">
                                Sharinplace vous prévient gratuitement de toute demande par SMS afin que vous ne ratiez aucune occasion. Votre numéro ne sera jamais communiqué à un autre membre tant que vous n'aurez pas accepté sa demande.
                            </p>
                            <data-sip-prompt-phone
                                ng-class="{'prompt-highlight': vm.promptPhoneHighlight}"
                                prompt-highlight="vm.promptPhoneHighlight">
                            </data-sip-prompt-phone>
                            <p class="text--small">
                                Un numéro vérifié est un gage de confiance sur la plateforme et augmente vos chances de recevoir des demandes.
                            </p>
                            <hr class="small-6 small-offset-3" ng-if="vm.noImage">
                        </div>
                        <div class="small-12" ng-if="vm.noImage">
                            <h2>
                                Inspirez confiance
                            </h2>
                            <p class="text--small">
                                Les photos de profil permettent aux membres Sharinplace de se reconnaître lorsqu'ils se recontrent pour échanger des objets et sont un gage de confiance supplémentaire. Ajoutez la vôtre en quelques secondes.
                            </p>
                            <data-sip-prompt-image></data-sip-prompt-image>
                        </div>
                        <hr class="small-6 small-offset-3">
                    </div>
                    <div ng-if="vm.showTotalMediaUpload" class="margin-top-plus">
                        <p class="margin-bottom text-center">Progression du chargement des photos...</p>
                        <div class="total-upload-progress small-offset-3 small-6"
                            data-uib-progressbar
                            data-value=vm.totalMediaUpload>
                            {{vm.totalMediaUpload}}%
                        </div>
                    </div>
                    <div class="text-center spinner-button-container save-button-container">
                        <div ng-if="!vm.listing.quantity && vm.listingTypeProperties.isTimeNone">
                            Cette offre a déjà trouvé preneur. Vous ne pouvez donc plus apporter de modifications à votre annonce.
                        </div>
                        <button
                            class="button button--highlight brightblue spinner-button--center"
                            type="submit"
                            ng-disabled="vm.saveListingBtnDisabled"
                            ng-click="vm.saveListing()"
                            data-translate="listing.edition.save_button">
                        </button>
                        <span class="spinner-container">
                            <span data-us-spinner="{scale: 0.5}" data-spinner-key="save-listing-spinner"></span>
                        </span>
                    </div>
                    <div class="text--small text-center margin-top margin-bottom"
                        ng-if="vm.viewCreate"
                        data-translate="listing.edition.trust_message">
                    </div>
                    <!-- <div class="text-center text--small">
                    <svg class="icon icon--inline light-grey">
                            <use xlink:href="/assets/build/icons/sprite.svg#magnifying"/>
                        </svg>
                        <a class="link--underline link--grey" ui-sref="listing({ slug: vm.listing.nameURLSafe + '-' + vm.listing.id })">
                            Voir mon annonce
                        </a>
                    </div> -->
                </div>
                <!-- <uib-progressbar value="vm.stepProgress">
                    {{vm.stepProgress}}%
                </uib-progressbar> -->
                <hr class="small-6 small-offset-3" ng-hide="vm.myListingsView">
            </form>
            <div class="margin-bottom-plus"
                ng-if="vm.myListings.length"
                ng-hide="vm.listingId && vm.myListings.length === 1">
                <h2 class="text-center margin-bottom-plus"
                    data-translate="listing.edition.my_listings_label"
                    data-translate-values="{ hasOther: !!vm.listingId }"
                >
                </h2>
                <div id="my-items-list"
                    class="listing-grid grid-block small-vertical">
                    <div
                        class="grid-block listing-grid__listing-wrapper"
                        data-listing="listing"
                        data-on-delete="vm.onDeleteListing"
                        ng-repeat="listing in vm.myListings | orderBy : '-createdDate'"
                        ng-hide="vm.listingId && vm.listingId === listing.id"
                        data-stelace-my-listing-card>
                    </div>
                </div>
            </div>

            <div ng-if="vm.viewCreate" data-translate="listing.edition.additional_content"></div>
        </div>
        <div id="helper-column" class="sticky-helper__column desktop-4">
            <div class="image-white-cta sticky-helper__card"
                ng-class="{ 'stelace-listing-editor__sticky-share': ! vm.viewCreate && vm.myListings.length }"
                ng-if="vm.stickyOffset && vm.showSideHelper"
                ng-switch="! (vm.viewCreate || ! vm.myListings.length)"
                data-bound-id="helper-column"
                data-offset="{{ vm.stickyOffset }}"
                data-sip-sticky-sidebar>
                <div ng-switch-when="true">
                    <h2 data-translate="listing.social.share_listing_title">
                    </h2>
                    <div>
                        <label for="share-my-listing-select" class="text--small"
                            data-translate="listing.social.share_listing_select_message"
                        >
                        </label>
                        <select id="share-my-listing-select" class="text--small"
                            ng-model="vm.selectedListingToSocialShare"
                            ng-options="listing.name for listing in vm.myListings track by listing.id">
                        </select>
                    </div>
                    <div class="cursor-pointer"
                        ng-click="vm.facebookShareMyListing()"
                        tabindex="0"
                        data-sip-action-key>
                        <div class="flex-container f-share-card">
                            <div class="f-share-card__image-container">
                                <div class="ar-content">
                                    <img ng-src="{{ vm.selectedListingToSocialShare.url + '?size=400x300'}}" alt=" {{ vm.selectedListingToSocialShare.name }}"
                                        class="f-share-card__image">
                                </div>
                            </div>
                            <div class="f-share-card__content flex-item--grow flex-container flex--column flex--space-between">
                                <div class="text--semibold ellipsis">
                                    {{ vm.selectedListingToSocialShare.name }}
                                </div>
                                <div class="text--small ellipsis"
                                    data-translate="listing.social.share_listing_content"
                                    data-translate-values="{ ownerName: vm.displayName }"
                                >
                                </div>
                                <div class="text--vsmall text--light ellipsis">
                                    {{config.SERVICE_NAME}} <!-- TODO: replace by domain name -->
                                </div>
                            </div>
                        </div>
                        <div class="text-center spinner-button-container">
                            <span class="social-signin inline fb button spinner-button--center">
                                <svg class="icon">
                                    <use xlink:href="/assets/build/icons/sprite.svg#face"/>
                                </svg>
                                &nbsp;
                                <span data-translate="social.share_on_facebook"></span>
                            </span>
                            <span class="spinner-container">
                                <span data-us-spinner="{scale: 0.5}" data-spinner-key="share-listing-spinner"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'/assets/app/layout/footer.html'"></div>
</div>
