module.exports = {

    // STELACE
    stelace: {
        hello: {
            email: '',
            name: '',
        },
        smtp: {
            host: '',
            port: 587,
            user: '',
            password: '',
        },
        token: {
            authSecret: '<secret>', // must replace it with random characters
            forceRefreshInHours: 2,
            authExpirationInDays: 14,
        },
        secret: '<secret>', // must replace it with random characters (different from `token.authSecret`)
        url: 'http://localhost:3000', // like 'https://example.com'

        // CONFIG
        defaultFeatures: {
            GAMIFICATION: false,
            TAGS: false,
            EVENTS: true,
            SOCIAL_LOGIN: true,
            INCOME_REPORT: false,
            LISTING_CATEGORIES: true,
            SMS: true,
            MAP: true,
        },
        defaultConfig: {
            SERVICE_NAME: 'MyStelace',
        },

        // Stelace SaaS or other custom dashboard base url (dashboard is expected to be served from '/dashboard' path)
        dashboardUrl: '', // http://example.com if served at http://example.com/dashboard
        stelaceId: '', // used for Stelace SaaS

        superAdmin: false,
    },



    // SERVER
    port: process.env.PORT || 1337,
    environment: process.env.NODE_ENV || 'development', // replace 'development' with 'production' for production environment
    http: { trustProxy: false }, // replace with `trustProxy: true` if the project runs behind a proxy
    hookTimeout: 600000, // 10 minutes
    // basicAuth: '', // ('username:password' in Base64)



    // EXTERNAL ASSETS
    tmpDir: '', // e.g. '/home/user/stelace-external/tmp'
    uploadDir: '', // '/home/user/stelace-external/upload'
    snapshotsDir: '', // '/home/user/stelace-external/snapshot'



    // DATABASE
    models: {
        migrate: 'alter', // use 'alter' if you want to migrate the database
        // migrate: 'safe', // use 'safe' if you want to skip the automatic migration (faster start)
    },

    datastores: {
        MySQLServer: {
            adapter: 'sails-mysql',
            host: 'localhost',
            user: '',
            password: '',
            database: '',
        },
    },

    elasticsearch: {
        host: '127.0.0.1',
        protocol: 'http',
        port: 9200,
        user: 'elastic',
        password: 'changeme',
    },



    // DEBUGGING
    localEmailResult: false,
    // copyMail: '', // debug@example.com
    debugMail: '', // debug@example.com
    debugSms: '', // debug@example.com

    highlightTranslations: false, // enable translated strings highlighting (doesn't depend on the environment)
    useCacheTranslations: false, // enable cache for translations (doesn't depend on the environment)
    noJsonTranslationsFiles: false, // if false, generate translation json files for debug (doesn't depend on the environment)



    // SOCIAL AUTHENTICATION
    passport: {
        // facebook: null, // uncomment to disable Facebook social login
        // google: null, // uncomment to disable Google social login
    },



    // API
    nexmo: {
        apiKey: '',
        apiSecret: '',
    },

    // mandrill: {
    //     apiKey: '',
    //     webhook: {
    //         key: '',
    //         url: '<service_url>/webhook/mandrill',
    //     },
    // },

    paymentProvider: '', // 'mangopay' or 'stripe'

    mangopay: {
        workspace: 'sandbox', // change to production if ready
    },

    sparkpost: {
        apiKey: '',

        webhook: {
            user: '',
            password: '',
        },
    },

    telize: {
        url: '',
    },

    odoo: {
        connection: {
            protocol: 'http:',
            host: 'localhost',
            port: 8069,
            database: 'odoo',
            username: '',
            password: '',
        },

        enabled: false,

        // ids: {
        //     // "account_account"
        //     accounts: {
        //         customer_goodsSalesAndServiceProvision: 1,
        //         supplier_goodsPurchaseAndServiceProvision: 1,
        //         collectedVTA_normalRate: 1,
        //         serviceProvision: 1,
        //     },
        //     // "account_payment_method"
        //     accountPaymentMethods: {
        //         inbound: 1,
        //         outbound: 2
        //     },
        //     // "account_payment_term"
        //     accountPaymentTerms: {
        //         immediate: 1
        //     },
        //     // "account_tax"
        //     accountTaxes: {
        //         collectedSaleVAT20: 1,
        //     },
        //     // "res_company"
        //     companies: {
        //         stelace: 1
        //     },
        //     // "res_country"
        //     countries: {
        //         fr: 76
        //     },
        //     // "res_currency"
        //     currencies: {
        //         EUR: 1
        //     },
        //     // "account_journal"
        //     journals: {
        //         customerInvoices: 1,
        //         mangopayBank: 1,
        //         bank1: 1
        //     },
        //     // "product_product"
        //     products: {
        //         bookingFees: 1,
        //         purchaseBookingFees: 1,
        //         paymentFees: 1,
        //         purchasePaymentFees: 1,
        //     },
        //     // "res_partner"
        //     partners: {
        //         stelace: 1
        //     },
        //     // "res_users"
        //     users: {
        //         stelaceBot: 1
        //     }
        // },

        // labels: {
        //     fr: {
        //         accountTaxes: {
        //             collectedSaleVAT20: 'TVA collectée (vente) 20,0% TTC'
        //         }
        //     }
        // }
    },

    osrmUrl: 'localhost',
    osrmPort: 5000,
    osrmMock: true,

    priceRecommendationUrl: '',

    providerApiKey: '',

};
